workflows/workflow-4-health-check.json
{
  "name": "WF4 — Post-Visit Health Check",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 4: Post-Visit Health Check\n\n**Trigger:** Daily at 10:15 AM\n\n**Logic:** Reads from Supabase. Finds patients who visited 2–3 days ago and haven't received a health check message. Sends a caring check-in via Twilio WhatsApp (template: patient_health_check). Sets `health_check_sent = TRUE` after sending.\n\n**Data source:** Supabase `public.patients`\n\n**Before activating:**\n1. Set credential on all Postgres nodes → Supabase DB\n2. Set credential on HTTP node → Twilio Basic Auth\n3. Ensure the `patient_health_check` template is approved in Twilio Content Template Manager",
        "height": 240,
        "width": 400
      },
      "id": "44444444-4444-4444-4444-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        60
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 10 * * *"
            }
          ]
        }
      },
      "id": "44444444-4444-4444-4444-000000000002",
      "name": "Daily 10:15AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.* FROM public.patients p WHERE p.clinic_id IS NOT NULL AND p.health_check_sent = FALSE AND p.status <> 'inactive' AND p.visit_date BETWEEN CURRENT_DATE - INTERVAL '3 days' AND CURRENT_DATE - INTERVAL '2 days' AND NOT EXISTS (SELECT 1 FROM public.message_logs ml WHERE ml.clinic_id = p.clinic_id AND ml.patient_id = p.id AND ml.message_type = 'health_check' AND ml.scheduled_date = CURRENT_DATE)",
        "options": {}
      },
      "id": "44444444-4444-4444-4444-000000000003",
      "name": "Read Patients from Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter patients who visited 2-3 days ago and have not received a health check.\nconst items = $input.all();\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\nconst todayDate = new Date(todayStr);\nconst filtered = items.filter(item => {\n  const p = item.json;\n  if (!p.visit_date) return false;\n  const visitDate = new Date(p.visit_date);\n  if (isNaN(visitDate.getTime())) return false;\n  const daysSinceVisit = Math.floor((todayDate - visitDate) / (1000 * 60 * 60 * 24));\n  if (daysSinceVisit < 2 || daysSinceVisit > 3) return false;\n  if (p.health_check_sent === true || p.status === 'inactive') return false;\n  if (!p.phone || !/^\\+[1-9]\\d{6,14}$/.test(p.phone)) return false;\n  return true;\n});\nif (filtered.length === 0) return [{ json: { _skip: true, reason: 'No patients due for health check', todayStr } }];\nreturn filtered.map(item => {\n  const p = item.json;\n  const name = p.name || 'there';\n  const doctor = p.doctor_name || $env.DEFAULT_DOCTOR_NAME || 'your doctor';\n  const clinic = p.clinic_name || $env.DEFAULT_CLINIC_NAME || 'our clinic';\n  return { json: { ...p, _clinic_id: p.clinic_id, _workflow: 'workflow-4-health-check', _message_type: 'health_check', _scheduled_date: todayStr, _to_phone: 'whatsapp:' + p.phone, _name: name, _doctor_name: doctor, _content_sid: $env.TWILIO_CONTENT_PATIENT_REMINDER || $env.TWILIO_CONTENT_HEALTH_CHECK || '', _content_variables: JSON.stringify({ '1': name, '2': doctor }), _message_body: `Hi ${name}, this is ${doctor}'s clinic checking in on you. How have you been feeling since your visit? Reply BETTER, SAME, or WORSE.` } };\n});"
      },
      "id": "44444444-4444-4444-4444-000000000004",
      "name": "Filter Health Check Due",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-check-wf4",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44444444-4444-4444-4444-000000000005",
      "name": "Skip if No Patients",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $env.TWILIO_WHATSAPP_FROM }}"
            },
            {
              "name": "To",
              "value": "={{ $json._to_phone }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $json._content_sid }}"
            },
            {
              "name": "ContentVariables",
              "value": "={{ $json._content_variables }}"
            },
            {
              "name": "StatusCallback",
              "value": "={{ $env.TWILIO_STATUS_CALLBACK_URL || \"\" }}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      },
      "id": "44444444-4444-4444-4444-000000000006",
      "name": "Send Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        280
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_TWILIO_BASIC_AUTH",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET health_check_sent = TRUE, last_message_sent = NOW(), message_count = message_count + 1, updated_at = NOW() WHERE id = '{{ $('Filter Health Check Due').item.json.id }}' AND clinic_id = '{{ $('Filter Health Check Due').item.json.clinic_id }}'",
        "options": {}
      },
      "id": "44444444-4444-4444-4444-000000000007",
      "name": "Update Patient in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "message_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $('Filter Health Check Due').item.json.id }}",
            "patient_name": "={{ $('Filter Health Check Due').item.json.name }}",
            "phone": "={{ $('Filter Health Check Due').item.json.phone }}",
            "workflow_name": "workflow-4-health-check",
            "message_type": "health_check",
            "message_sent": "={{ $('Filter Health Check Due').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "scheduled_date": "={{ $('Filter Health Check Due').item.json._scheduled_date }}",
            "provider_message_id": "={{ $json.sid || $json.Sid || \"\" }}",
            "twilio_message_sid": "={{ $json.sid || $json.Sid || \"\" }}",
            "clinic_id": "={{ $('Filter Health Check Due').item.json.clinic_id }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "44444444-4444-4444-4444-000000000008",
      "name": "Log Message to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-4-health-check",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to send health check message",
            "details": "={{ JSON.stringify({ patient_id: $('Filter Health Check Due').item.json.id, phone: $('Filter Health Check Due').item.json.phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "44444444-4444-4444-4444-000000000009",
      "name": "Log Send Failure to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.message_ledger (clinic_id, patient_id, message_type, scheduled_date, workflow_name, provider_message_id, twilio_message_sid, status) VALUES ( {{ $json.clinic_id ? \"'\" + $json.clinic_id + \"'\" : 'NULL' }},  {{ $json.patient_id ? \"'\" + $json.patient_id + \"'\" : 'NULL' }}, '{{ $json.message_type }}', '{{ $json.scheduled_date }}', '{{ $json.workflow_name }}', '{{ ($json.provider_message_id || '').replace(/'/g, \"''\") }}', '{{ ($json.twilio_message_sid || '').replace(/'/g, \"''\") }}', 'sent' ) ON CONFLICT (clinic_id, patient_id, message_type, scheduled_date) DO UPDATE SET provider_message_id = EXCLUDED.provider_message_id, twilio_message_sid = EXCLUDED.twilio_message_sid, status = EXCLUDED.status, updated_at = NOW();",
        "options": {}
      },
      "id": "ledger-04-000000000001",
      "name": "Record Message Ledger",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    }
  ],
  "connections": {
    "Daily 10:15AM Trigger": {
      "main": [
        [
          {
            "node": "Read Patients from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Patients from Supabase": {
      "main": [
        [
          {
            "node": "Filter Health Check Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Health Check Due": {
      "main": [
        [
          {
            "node": "Skip if No Patients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if No Patients": {
      "main": [
        [],
        [
          {
            "node": "Send Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Health Check": {
      "main": [
        [
          {
            "node": "Update Patient in Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Message to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Send Failure to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Message to Supabase": {
      "main": [
        [
          {
            "node": "Record Message Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44444444-4444-4444-4444-444444444404",
  "id": "wf4-health-check",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "id": "tag-patient-retention",
      "name": "patient-retention"
    },
    {
      "id": "tag-health-check",
      "name": "health-check"
    }
  ]
}
