workflows/workflow-5-reactivation.json
{
  "name": "WF5 — Patient Reactivation (30-Day)",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 5: Patient Reactivation\n\n**Trigger:** Every Monday at 9:00 AM\n\n**Logic:** Reads from Supabase. Finds patients inactive for 30+ days (last message > 30 days ago or never messaged), who haven't received a reactivation message yet and are not inactive/completed. Sends via Twilio WhatsApp (template: patient_reactivation). Sets `reactivation_sent = TRUE` after sending.\n\n**Data source:** Supabase `public.patients`\n\n**Note:** WhatsApp template category for this message is MARKETING — ensure opt-in compliance and template approval before activating.\n\n**Before activating:**\n1. Set credential on all Postgres nodes → Supabase DB\n2. Set credential on HTTP node → Twilio Basic Auth\n3. Ensure the `patient_reactivation` template is approved as MARKETING in Twilio Content Template Manager",
        "height": 280,
        "width": 420
      },
      "id": "55555555-5555-5555-5555-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        60
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "55555555-5555-5555-5555-000000000002",
      "name": "Weekly Monday 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.* FROM public.patients p WHERE p.clinic_id IS NOT NULL AND p.status NOT IN ('inactive','completed') AND p.reactivation_sent = FALSE AND (p.last_message_sent IS NULL OR p.last_message_sent < NOW() - INTERVAL '30 days') AND NOT EXISTS (SELECT 1 FROM public.message_logs ml WHERE ml.clinic_id = p.clinic_id AND ml.patient_id = p.id AND ml.message_type = 'reactivation' AND ml.scheduled_date = CURRENT_DATE)",
        "options": {}
      },
      "id": "55555555-5555-5555-5555-000000000003",
      "name": "Read Patients from Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter patients inactive for 30+ days who have not been reactivated.\nconst items = $input.all();\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst todayStr = new Date().toLocaleDateString('en-CA', { timeZone: tz });\nconst thresholdDate = new Date();\nthresholdDate.setDate(thresholdDate.getDate() - 30);\nconst filtered = items.filter(item => {\n  const p = item.json;\n  if (p.status === 'inactive' || p.status === 'completed') return false;\n  if (p.reactivation_sent === true) return false;\n  if (!p.phone || !/^\\+[1-9]\\d{6,14}$/.test(p.phone)) return false;\n  if (p.last_message_sent && new Date(p.last_message_sent) > thresholdDate) return false;\n  return true;\n});\nif (filtered.length === 0) return [{ json: { _skip: true, reason: 'No inactive patients to reactivate this week' } }];\nreturn filtered.map(item => {\n  const p = item.json;\n  const name = p.name || 'there';\n  const clinic = p.clinic_name || $env.DEFAULT_CLINIC_NAME || 'our clinic';\n  const doctor = p.doctor_name || $env.DEFAULT_DOCTOR_NAME || 'your doctor';\n  return { json: { ...p, _clinic_id: p.clinic_id, _workflow: 'workflow-5-reactivation', _message_type: 'reactivation', _scheduled_date: todayStr, _to_phone: 'whatsapp:' + p.phone, _name: name, _clinic_name: clinic, _doctor_name: doctor, _content_sid: $env.TWILIO_CONTENT_PATIENT_REMINDER || $env.TWILIO_CONTENT_REACTIVATION || '', _content_variables: JSON.stringify({ '1': name, '2': clinic, '3': doctor, '4': 'It has been a while since your last visit. Please contact the clinic if you would like to schedule an appointment.' }), _message_body: `Hi ${name}. It has been a while since we last saw you at ${clinic}. Please contact the clinic if you would like to book an appointment with ${doctor}.` } };\n});"
      },
      "id": "55555555-5555-5555-5555-000000000004",
      "name": "Filter Inactive Patients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-check-wf5",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55555555-5555-5555-5555-000000000005",
      "name": "Skip if No Patients",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $env.TWILIO_WHATSAPP_FROM }}"
            },
            {
              "name": "To",
              "value": "={{ $json._to_phone }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $json._content_sid }}"
            },
            {
              "name": "ContentVariables",
              "value": "={{ $json._content_variables }}"
            },
            {
              "name": "StatusCallback",
              "value": "={{ $env.TWILIO_STATUS_CALLBACK_URL || \"\" }}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      },
      "id": "55555555-5555-5555-5555-000000000006",
      "name": "Send Reactivation Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        280
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_TWILIO_BASIC_AUTH",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET reactivation_sent = TRUE, last_message_sent = NOW(), message_count = message_count + 1, updated_at = NOW() WHERE id = '{{ $('Filter Inactive Patients').item.json.id }}' AND clinic_id = '{{ $('Filter Inactive Patients').item.json.clinic_id }}'",
        "options": {}
      },
      "id": "55555555-5555-5555-5555-000000000007",
      "name": "Update Patient in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "message_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $('Filter Inactive Patients').item.json.id }}",
            "patient_name": "={{ $('Filter Inactive Patients').item.json.name }}",
            "phone": "={{ $('Filter Inactive Patients').item.json.phone }}",
            "workflow_name": "workflow-5-reactivation",
            "message_type": "reactivation",
            "message_sent": "={{ $('Filter Inactive Patients').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "scheduled_date": "={{ $('Filter Inactive Patients').item.json._scheduled_date }}",
            "provider_message_id": "={{ $json.sid || $json.Sid || \"\" }}",
            "twilio_message_sid": "={{ $json.sid || $json.Sid || \"\" }}",
            "clinic_id": "={{ $('Filter Inactive Patients').item.json.clinic_id }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "55555555-5555-5555-5555-000000000008",
      "name": "Log Message to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-5-reactivation",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to send reactivation message",
            "details": "={{ JSON.stringify({ patient_id: $('Filter Inactive Patients').item.json.id, phone: $('Filter Inactive Patients').item.json.phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "55555555-5555-5555-5555-000000000009",
      "name": "Log Send Failure to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.message_ledger (clinic_id, patient_id, message_type, scheduled_date, workflow_name, provider_message_id, twilio_message_sid, status) VALUES ( {{ $json.clinic_id ? \"'\" + $json.clinic_id + \"'\" : 'NULL' }},  {{ $json.patient_id ? \"'\" + $json.patient_id + \"'\" : 'NULL' }}, '{{ $json.message_type }}', '{{ $json.scheduled_date }}', '{{ $json.workflow_name }}', '{{ ($json.provider_message_id || '').replace(/'/g, \"''\") }}', '{{ ($json.twilio_message_sid || '').replace(/'/g, \"''\") }}', 'sent' ) ON CONFLICT (clinic_id, patient_id, message_type, scheduled_date) DO UPDATE SET provider_message_id = EXCLUDED.provider_message_id, twilio_message_sid = EXCLUDED.twilio_message_sid, status = EXCLUDED.status, updated_at = NOW();",
        "options": {}
      },
      "id": "ledger-05-000000000001",
      "name": "Record Message Ledger",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    }
  ],
  "connections": {
    "Weekly Monday 9AM Trigger": {
      "main": [
        [
          {
            "node": "Read Patients from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Patients from Supabase": {
      "main": [
        [
          {
            "node": "Filter Inactive Patients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Inactive Patients": {
      "main": [
        [
          {
            "node": "Skip if No Patients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if No Patients": {
      "main": [
        [],
        [
          {
            "node": "Send Reactivation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reactivation Message": {
      "main": [
        [
          {
            "node": "Update Patient in Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Message to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Send Failure to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Message to Supabase": {
      "main": [
        [
          {
            "node": "Record Message Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "workflow-8-error-handler"
  },
  "versionId": "55555555-5555-5555-5555-555555555505",
  "id": "wf5-reactivation",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "id": "tag-patient-retention",
      "name": "patient-retention"
    },
    {
      "id": "tag-reactivation",
      "name": "reactivation"
    }
  ]
}
