workflows/workflow-2-sameday-reminder.json
{
  "name": "WF2 — Same-Day Reminder",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 2: Same-Day Reminder\n\n**Trigger:** Daily at 8:00 AM\n\n**Logic:** Reads from Supabase. Finds all patients whose `follow_up_date` is today, `status = pending`, and `message_count < 5`. Sends a morning reminder via Twilio WhatsApp (template: patient_sameday_reminder) and updates Supabase.\n\n**Data source:** Supabase `public.patients` — identity is populated by WF11, while `follow_up_date` is synced from the doctor-issued prescription\n\n**Before activating:**\n1. Set credential on all Postgres nodes → Supabase DB\n2. Set credential on Send node → Twilio Basic Auth\n3. Ensure the `patient_sameday_reminder` template is approved in Twilio Content Template Manager",
        "height": 220,
        "width": 380
      },
      "id": "22222222-2222-2222-2222-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        60
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "22222222-2222-2222-2222-000000000002",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.* FROM public.patients p WHERE p.clinic_id IS NOT NULL AND COALESCE(p.is_demo, FALSE) = FALSE AND p.status = 'pending' AND p.follow_up_date = CURRENT_DATE AND NOT EXISTS (SELECT 1 FROM public.message_logs ml WHERE ml.clinic_id = p.clinic_id AND ml.patient_id = p.id AND ml.message_type = 'same_day_reminder' AND ml.scheduled_date = p.follow_up_date)",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000003",
      "name": "Read Patients from Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter patients whose follow-up is today and have not been messaged recently.\nconst items = $input.all();\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst maxMessages = parseInt($env.MAX_MESSAGE_COUNT) || 5;\nconst minHours = parseInt($env.MIN_HOURS_BETWEEN_MESSAGES) || 23;\nconst now = new Date();\nconst todayStr = now.toLocaleDateString('en-CA', { timeZone: tz });\nconst filtered = items.filter(item => {\n  const p = item.json;\n  const fuDate = p.follow_up_date ? new Date(p.follow_up_date).toLocaleDateString('en-CA', { timeZone: tz }) : null;\n  if (!fuDate || fuDate !== todayStr) return false;\n  if (p.status && p.status !== 'pending') return false;\n  if ((parseInt(p.message_count) || 0) >= maxMessages) return false;\n  if (!p.phone || !/^\\+[1-9]\\d{6,14}$/.test(p.phone)) return false;\n  if (p.last_message_sent) {\n    const hoursSince = (now - new Date(p.last_message_sent)) / (1000 * 60 * 60);\n    if (hoursSince < minHours) return false;\n  }\n  return true;\n});\nif (filtered.length === 0) return [{ json: { _skip: true, reason: 'No same-day appointments today', todayStr } }];\nreturn filtered.map(item => {\n  const p = item.json;\n  const name = p.name || 'there';\n  const doctor = p.doctor_name || $env.DEFAULT_DOCTOR_NAME || 'your doctor';\n  const clinic = p.clinic_name || $env.DEFAULT_CLINIC_NAME || 'our clinic';\n  return { json: { ...p, _clinic_id: p.clinic_id, _workflow: 'workflow-2-sameday-reminder', _message_type: 'same_day_reminder', _scheduled_date: todayStr, _to_phone: 'whatsapp:' + p.phone, _name: name, _doctor_name: doctor, _clinic_name: clinic, _content_sid: $env.TWILIO_CONTENT_PATIENT_REMINDER || $env.TWILIO_CONTENT_SAME_DAY_REMINDER || '', _content_variables: JSON.stringify({ '1': name, '2': doctor, '3': clinic }), _message_body: `Good morning ${name}! Just a friendly reminder - your visit with ${doctor} at ${clinic} is today. We are ready for you whenever you arrive. See you soon, take care on your way!` } };\n});"
      },
      "id": "22222222-2222-2222-2222-000000000004",
      "name": "Filter Today's Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-check-wf2",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000005",
      "name": "Skip if No Patients",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $env.TWILIO_WHATSAPP_FROM }}"
            },
            {
              "name": "To",
              "value": "={{ $json._to_phone }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $json._content_sid }}"
            },
            {
              "name": "ContentVariables",
              "value": "={{ $json._content_variables }}"
            },
            {
              "name": "StatusCallback",
              "value": "={{ $env.TWILIO_STATUS_CALLBACK_URL || \"\" }}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      },
      "id": "22222222-2222-2222-2222-000000000006",
      "name": "Send Same-Day Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        280
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_TWILIO_BASIC_AUTH",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET last_message_sent = NOW(), message_count = message_count + 1, updated_at = NOW() WHERE id = '{{ $('Filter Today\\'s Appointments').item.json.id }}' AND clinic_id = '{{ $('Filter Today\\'s Appointments').item.json.clinic_id }}'",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000007",
      "name": "Update Patient in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "message_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $('Filter Today\\'s Appointments').item.json.id }}",
            "patient_name": "={{ $('Filter Today\\'s Appointments').item.json.name }}",
            "phone": "={{ $('Filter Today\\'s Appointments').item.json.phone }}",
            "workflow_name": "workflow-2-sameday-reminder",
            "message_type": "same_day_reminder",
            "message_sent": "={{ $('Filter Today\\'s Appointments').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "scheduled_date": "={{ $('Filter Today\\'s Appointments').item.json._scheduled_date }}",
            "provider_message_id": "={{ $json.sid || $json.Sid || \"\" }}",
            "twilio_message_sid": "={{ $json.sid || $json.Sid || \"\" }}",
            "clinic_id": "={{ $('Filter Today\\'s Appointments').item.json.clinic_id }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000008",
      "name": "Log Message to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-2-sameday-reminder",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to send same-day reminder",
            "details": "={{ JSON.stringify({ patient_id: $('Filter Today\\'s Appointments').item.json.id, phone: $('Filter Today\\'s Appointments').item.json.phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000009",
      "name": "Log Send Failure to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.message_ledger (clinic_id, patient_id, message_type, scheduled_date, workflow_name, provider_message_id, twilio_message_sid, status) VALUES ( {{ $json.clinic_id ? \"'\" + $json.clinic_id + \"'\" : 'NULL' }},  {{ $json.patient_id ? \"'\" + $json.patient_id + \"'\" : 'NULL' }}, '{{ $json.message_type }}', '{{ $json.scheduled_date }}', '{{ $json.workflow_name }}', '{{ ($json.provider_message_id || '').replace(/'/g, \"''\") }}', '{{ ($json.twilio_message_sid || '').replace(/'/g, \"''\") }}', 'sent' ) ON CONFLICT (clinic_id, patient_id, message_type, scheduled_date) DO UPDATE SET provider_message_id = EXCLUDED.provider_message_id, twilio_message_sid = EXCLUDED.twilio_message_sid, status = EXCLUDED.status, updated_at = NOW();",
        "options": {}
      },
      "id": "ledger-02-000000000001",
      "name": "Record Message Ledger",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    }
  ],
  "connections": {
    "Daily 8AM Trigger": {
      "main": [
        [
          {
            "node": "Read Patients from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Patients from Supabase": {
      "main": [
        [
          {
            "node": "Filter Today's Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Today's Appointments": {
      "main": [
        [
          {
            "node": "Skip if No Patients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if No Patients": {
      "main": [
        [],
        [
          {
            "node": "Send Same-Day Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Same-Day Reminder": {
      "main": [
        [
          {
            "node": "Update Patient in Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Message to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Send Failure to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Message to Supabase": {
      "main": [
        [
          {
            "node": "Record Message Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "workflow-8-error-handler"
  },
  "versionId": "22222222-2222-2222-2222-222222222202",
  "id": "wf2-sameday-reminder",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "id": "tag-patient-retention",
      "name": "patient-retention"
    },
    {
      "id": "tag-reminder",
      "name": "reminder"
    }
  ]
}
