workflows/workflow-1-followup-reminder.json
{
  "name": "WF1 — Follow-Up Reminder (Day Before)",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 1: Follow-Up Reminder\n\n**Trigger:** Daily at 9:00 AM\n\n**Logic:** Reads patients from Supabase. Finds all patients whose `follow_up_date` is tomorrow, `status = pending`, and `message_count < 5`. Sends a WhatsApp reminder via Twilio WhatsApp (template: patient_followup_reminder), updates the patient record, and logs the send.\n\n**Data source:** Supabase `public.patients` — populated by WF11 (QR form intake)\n\n**Before activating:**\n1. Set credential on \"Read Patients from Supabase\" → Supabase DB\n2. Set credential on \"Send WhatsApp Reminder\" → Twilio Basic Auth\n3. Set credential on all Postgres write nodes → Supabase DB\n4. Ensure the `patient_followup_reminder` template is approved in Twilio Content Template Manager",
        "height": 280,
        "width": 420
      },
      "id": "11111111-1111-1111-1111-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        60
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "11111111-1111-1111-1111-000000000002",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.* FROM public.patients p WHERE p.status = 'pending' AND p.follow_up_date IS NOT NULL AND p.follow_up_date >= CURRENT_DATE AND NOT EXISTS (SELECT 1 FROM public.message_logs ml WHERE ml.patient_id = p.id AND ml.message_type = 'follow_up_reminder' AND ml.scheduled_date = p.follow_up_date)",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000003",
      "name": "Read Patients from Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter patients whose follow-up is tomorrow, status is pending, and have not been over-messaged.\nconst items = $input.all();\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst maxMessages = parseInt($env.MAX_MESSAGE_COUNT) || 5;\nconst minHours = parseInt($env.MIN_HOURS_BETWEEN_MESSAGES) || 23;\nconst now = new Date();\nconst tomorrow = new Date(now);\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst tomorrowStr = tomorrow.toLocaleDateString('en-CA', { timeZone: tz });\nconst filtered = items.filter(item => {\n  const p = item.json;\n  const fuDate = p.follow_up_date ? new Date(p.follow_up_date).toLocaleDateString('en-CA', { timeZone: tz }) : null;\n  if (!fuDate || fuDate !== tomorrowStr) return false;\n  if (p.status && p.status !== 'pending') return false;\n  if ((parseInt(p.message_count) || 0) >= maxMessages) return false;\n  if (!p.phone || !/^\\+[1-9]\\d{6,14}$/.test(p.phone)) return false;\n  if (p.last_message_sent) {\n    const hoursSince = (now - new Date(p.last_message_sent)) / (1000 * 60 * 60);\n    if (hoursSince < minHours) return false;\n  }\n  return true;\n});\nif (filtered.length === 0) return [{ json: { _skip: true, reason: 'No patients to message today', tomorrowStr } }];\nreturn filtered.map(item => {\n  const p = item.json;\n  const name = p.name || 'there';\n  const doctor = p.doctor_name || $env.DEFAULT_DOCTOR_NAME || 'your doctor';\n  const clinic = p.clinic_name || $env.DEFAULT_CLINIC_NAME || 'our clinic';\n  return { json: { ...p, _workflow: 'workflow-1-followup-reminder', _message_type: 'follow_up_reminder', _scheduled_date: tomorrowStr, _to_phone: 'whatsapp:' + p.phone, _name: name, _doctor_name: doctor, _clinic_name: clinic, _content_sid: $env.TWILIO_CONTENT_PATIENT_REMINDER || $env.TWILIO_CONTENT_FOLLOW_UP_REMINDER || '', _content_variables: JSON.stringify({ '1': name, '2': clinic, '3': doctor, '4': 'Your follow-up is scheduled for tomorrow.' }), _message_body: `Hi ${name}, just a friendly reminder that your follow-up appointment with ${doctor} at ${clinic} is scheduled for tomorrow. Reply YES to confirm or RESCHEDULE if you need to change the date.` } };\n});"
      },
      "id": "11111111-1111-1111-1111-000000000004",
      "name": "Filter Tomorrow Follow-ups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000005",
      "name": "Skip if No Patients",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $env.TWILIO_WHATSAPP_FROM }}"
            },
            {
              "name": "To",
              "value": "={{ $json._to_phone }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $json._content_sid }}"
            },
            {
              "name": "ContentVariables",
              "value": "={{ $json._content_variables }}"
            },
            {
              "name": "StatusCallback",
              "value": "={{ $env.TWILIO_STATUS_CALLBACK_URL || \"\" }}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      },
      "id": "11111111-1111-1111-1111-000000000006",
      "name": "Send WhatsApp Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        280
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_TWILIO_BASIC_AUTH",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET last_message_sent = NOW(), message_count = COALESCE(message_count, 0) + 1, updated_at = NOW() WHERE id = '{{ $('Filter Tomorrow Follow-ups').item.json.id }}'",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000007",
      "name": "Update Patient in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "message_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $('Filter Tomorrow Follow-ups').item.json.id }}",
            "patient_name": "={{ $('Filter Tomorrow Follow-ups').item.json.name }}",
            "phone": "={{ $('Filter Tomorrow Follow-ups').item.json.phone }}",
            "workflow_name": "workflow-1-followup-reminder",
            "message_type": "follow_up_reminder",
            "message_sent": "={{ $('Filter Tomorrow Follow-ups').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "scheduled_date": "={{ $('Filter Tomorrow Follow-ups').item.json._scheduled_date }}",
            "provider_message_id": "={{ $json.sid || $json.Sid || \"\" }}",
            "twilio_message_sid": "={{ $json.sid || $json.Sid || \"\" }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000008",
      "name": "Log Message to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-1-followup-reminder",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to send follow-up reminder",
            "details": "={{ JSON.stringify({ patient_id: $('Filter Tomorrow Follow-ups').item.json.id, phone: $('Filter Tomorrow Follow-ups').item.json.phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000009",
      "name": "Log Send Failure to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.message_ledger (patient_id, message_type, scheduled_date, workflow_name, provider_message_id, twilio_message_sid, status) VALUES ( {{ $json.patient_id ? \"'\" + $json.patient_id + \"'\" : 'NULL' }}, '{{ $json.message_type }}', '{{ $json.scheduled_date }}', '{{ $json.workflow_name }}', '{{ ($json.provider_message_id || '').replace(/'/g, \"''\") }}', '{{ ($json.twilio_message_sid || '').replace(/'/g, \"''\") }}', 'sent' ) ON CONFLICT (patient_id, message_type, scheduled_date) DO UPDATE SET provider_message_id = EXCLUDED.provider_message_id, twilio_message_sid = EXCLUDED.twilio_message_sid, status = EXCLUDED.status, updated_at = NOW();",
        "options": {}
      },
      "id": "ledger-01-000000000001",
      "name": "Record Message Ledger",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [
        [
          {
            "node": "Read Patients from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Patients from Supabase": {
      "main": [
        [
          {
            "node": "Filter Tomorrow Follow-ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Tomorrow Follow-ups": {
      "main": [
        [
          {
            "node": "Skip if No Patients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if No Patients": {
      "main": [
        [],
        [
          {
            "node": "Send WhatsApp Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reminder": {
      "main": [
        [
          {
            "node": "Update Patient in Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Message to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Send Failure to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Message to Supabase": {
      "main": [
        [
          {
            "node": "Record Message Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata"
  },
  "versionId": "11111111-1111-1111-1111-111111111101",
  "id": "wf1-followup-reminder",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "id": "tag-patient-retention",
      "name": "patient-retention"
    },
    {
      "id": "tag-reminder",
      "name": "reminder"
    }
  ]
}
