workflows/workflow-7-new-patient.json
{
  "name": "WF7 — New Patient Welcome",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 7: New Patient Welcome\n\n**Trigger:** HTTP Webhook — called by WF11 (QR Form Intake) after a new patient is successfully upserted to Supabase.\n\n**Webhook path:** `new-patient-intake` (hardcoded literal — must match WF11's HTTP call)\n\n**What it does:**\n1. Receives patient data from WF11 (patient_code, patient_id, clinic_id, name, phone, clinic_name, doctor_name, visit_date)\n2. Sends a personalized visit registration WhatsApp message via Twilio WhatsApp (template: patient_welcome)\n3. Updates Supabase: `last_message_sent`, `message_count = 1`\n4. Logs send result to `public.message_logs` / `public.message_ledger` with clinic and patient ownership, and failures to `public.system_logs`\n\n**Data source:** Supabase `public.patients` (all state is in Supabase)\n\n**Before activating:**\n1. Activate THIS workflow BEFORE WF11 (webhook must be live before form submissions arrive)\n2. Set credential on all Postgres nodes → Supabase DB\n3. Set credential on HTTP Request node → Twilio Basic Auth\n4. Set `WEBHOOK_URL` in `.env` to your public n8n base URL (e.g. https://your-n8n.example.com)\n5. Ensure the `patient_welcome` template is approved in Twilio Content Template Manager",
        "height": 420,
        "width": 480
      },
      "id": "77777777-7777-7777-7777-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        60
      ]
    },
    {
      "parameters": {
        "path": "new-patient-intake",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000002",
      "name": "Webhook — New Patient",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        540
      ],
      "webhookId": "new-patient-intake-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Payload sent by WF11: patient_code, patient_id, clinic_id, name, phone (E.164), clinic_name, doctor_name, visit_date.\nconst data = $input.first().json.body || $input.first().json;\nconst name = String(data.name || data.patient_name || '').trim();\nconst phone = String(data.phone || '').trim();\nconst patientCode = String(data.patient_code || '').trim();\nconst patientId = String(data.patient_id || '').trim();\nconst clinicId = String(data.clinic_id || '').trim();\nconst clinic = String(data.clinic_name || 'our clinic').trim();\nconst doctor = String(data.doctor_name || 'your doctor').trim();\nif (!clinicId || !/^[0-9a-f-]{36}$/i.test(clinicId)) return [{ json: { _skip: true, reason: 'Invalid clinic_id: ' + clinicId, patientCode } }];\nif (!patientId || !/^[0-9a-f-]{36}$/i.test(patientId)) return [{ json: { _skip: true, reason: 'Invalid patient_id: ' + patientId, patientCode, clinic_id: clinicId } }];\nif (!phone || !/^\\+[1-9]\\d{6,14}$/.test(phone)) return [{ json: { _skip: true, reason: 'Invalid phone: ' + phone, patientCode, clinic_id: clinicId, patient_id: patientId } }];\nif (!name) return [{ json: { _skip: true, reason: 'Empty patient name', patientCode, clinic_id: clinicId, patient_id: patientId } }];\nconst messageBody = 'Hi ' + name + ', a very warm welcome to ' + clinic + '. We are glad you chose our clinic today. ' + doctor + ' will be with you shortly. Your details are safe with ' + clinic + ', and we will send your prescription and care updates to this number when they are ready. Please keep this number handy. See you inside!';\nreturn [{ json: { _skip: false, _patient_id: patientId, patient_id: patientId, _patient_name: name, _phone: phone, _patient_code: patientCode, _clinic_id: clinicId, clinic_id: clinicId, _to_phone: 'whatsapp:' + phone, _clinic_name: clinic, _doctor_name: doctor, _message_type: 'patient_onboarding', _scheduled_date: new Date().toLocaleDateString('en-CA', { timeZone: $env.TIMEZONE || 'Asia/Kolkata' }), _content_sid: $env.TWILIO_CONTENT_PATIENT_ONBOARDING || $env.TWILIO_CONTENT_WELCOME || '', _content_variables: JSON.stringify({ '1': name, '2': clinic, '3': doctor }), _message_body: messageBody } }];"
      },
      "id": "77777777-7777-7777-7777-000000000003",
      "name": "Build Welcome Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-check-wf7",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000004",
      "name": "Skip if Invalid Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/__TWILIO_ACCOUNT_SID__/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "__TWILIO_WHATSAPP_FROM__"
            },
            {
              "name": "To",
              "value": "={{ $json._to_phone }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $json._content_sid }}"
            },
            {
              "name": "ContentVariables",
              "value": "={{ $json._content_variables }}"
            },
            {
              "name": "StatusCallback",
              "value": "__TWILIO_STATUS_CALLBACK_URL__"
            }
          ]
        },
        "options": {
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 15000
          }
        }
      },
      "id": "77777777-7777-7777-7777-000000000005",
      "name": "Send Welcome Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        420
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_TWILIO_BASIC_AUTH",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET last_message_sent = NOW(), message_count = 1, updated_at = NOW() WHERE phone = '{{ $('Build Welcome Message').item.json._phone }}' AND clinic_id = '{{ $('Build Welcome Message').item.json._clinic_id }}'",
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000006",
      "name": "Update Patient Welcome Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "message_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $('Build Welcome Message').item.json._patient_id }}",
            "patient_name": "={{ $('Build Welcome Message').item.json._patient_name }}",
            "phone": "={{ $('Build Welcome Message').item.json._phone }}",
            "workflow_name": "workflow-7-new-patient",
            "message_type": "welcome",
            "message_sent": "={{ $('Build Welcome Message').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "scheduled_date": "={{ $('Build Welcome Message').item.json._scheduled_date }}",
            "provider_message_id": "={{ $json.sid || $json.Sid || \"\" }}",
            "twilio_message_sid": "={{ $json.sid || $json.Sid || \"\" }}",
            "clinic_id": "={{ $('Build Welcome Message').item.json._clinic_id }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000007",
      "name": "Log Welcome Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-7-new-patient",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to send welcome message to new patient",
            "details": "={{ JSON.stringify({ patient_code: $('Build Welcome Message').item.json._patient_code, phone: $('Build Welcome Message').item.json._phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000008",
      "name": "Log Welcome Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        660
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Welcome message queued\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "77777777-7777-7777-7777-000000000009",
      "name": "Respond OK to WF11",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"WA send failed — logged to system_logs\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "77777777-7777-7777-7777-000000000010",
      "name": "Respond OK (Twilio Error Path)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        680
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-7-new-patient",
            "execution_id": "={{ $execution.id }}",
            "log_level": "WARN",
            "message": "Skipped welcome message — invalid intake payload",
            "details": "={{ JSON.stringify({ patient_code: $('Build Welcome Message').item.json._patient_code || $('Build Welcome Message').item.json.patientCode, phone: $('Build Welcome Message').item.json._phone, reason: $('Build Welcome Message').item.json.reason }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000011",
      "name": "Log Welcome Skip",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        700
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Welcome message skipped — invalid payload\", \"reason\": $('Build Welcome Message').item.json.reason || 'validation failed' }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "77777777-7777-7777-7777-000000000012",
      "name": "Respond OK (Skipped)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.message_ledger (clinic_id, patient_id, message_type, scheduled_date, workflow_name, provider_message_id, twilio_message_sid, status) VALUES ( {{ $json.clinic_id ? \"'\" + $json.clinic_id + \"'\" : 'NULL' }},  {{ $json.patient_id ? \"'\" + $json.patient_id + \"'\" : 'NULL' }}, '{{ $json.message_type }}', '{{ $json.scheduled_date }}', '{{ $json.workflow_name }}', '{{ ($json.provider_message_id || '').replace(/'/g, \"''\") }}', '{{ ($json.twilio_message_sid || '').replace(/'/g, \"''\") }}', 'sent' ) ON CONFLICT (clinic_id, patient_id, message_type, scheduled_date) WHERE patient_id IS NOT NULL DO UPDATE SET provider_message_id = EXCLUDED.provider_message_id, twilio_message_sid = EXCLUDED.twilio_message_sid, status = EXCLUDED.status, updated_at = NOW();",
        "options": {}
      },
      "id": "ledger-07-000000000001",
      "name": "Record Message Ledger",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    }
  ],
  "connections": {
    "Webhook — New Patient": {
      "main": [
        [
          {
            "node": "Build Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Welcome Message": {
      "main": [
        [
          {
            "node": "Skip if Invalid Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if Invalid Data?": {
      "main": [
        [
          {
            "node": "Log Welcome Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Message": {
      "main": [
        [
          {
            "node": "Update Patient Welcome Sent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Welcome Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond OK to WF11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Welcome Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Welcome Failure": {
      "main": [
        [
          {
            "node": "Respond OK (Twilio Error Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Welcome Message": {
      "main": [
        [
          {
            "node": "Record Message Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Welcome Skip": {
      "main": [
        [
          {
            "node": "Respond OK (Skipped)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "workflow-8-error-handler"
  },
  "versionId": "77777777-7777-7777-7777-777777777707",
  "id": "wf7-new-patient",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "id": "tag-patient-retention",
      "name": "patient-retention"
    },
    {
      "id": "tag-onboarding",
      "name": "onboarding"
    }
  ]
}
