workflows/workflow-12-hospital-boarding.json
{
  "name": "WF12 — Hospital / Clinic Boarding",
  "nodes": [
    {
      "parameters": {
        "content": "## WF12 — Hospital / Clinic Boarding\n\n**Trigger:** POST webhook from `hospital-form/index.html`.\n**Path:** `/webhook/hospital-boarding`\n\n**Flow:**\n1. Receive JSON: hospital_name, facility_type, address, doctor_name, doctor_expertise\n2. Server-side validation (mirrors frontend)\n3. INSERT into `public.hospital_boarding`\n4. Log to `public.system_logs`\n5. Respond 200 with `{ status, id, hospital_name, facility_type, doctor_name }` (limited fields for UI)\n\n**Activation:** Import workflow, set Postgres credential, activate.\n\n**Credentials:** Postgres nodes → Supabase DB (service role / DB user with INSERT on `hospital_boarding`)",
        "height": 400,
        "width": 420
      },
      "id": "12121212-1212-1212-1212-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-240, 160]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hospital-boarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000002",
      "name": "Webhook — Hospital Boarding",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 320],
      "webhookId": "hospital-boarding-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Server-side validation — mirrors hospital-form/index.html\nconst body = $input.first().json.body || $input.first().json;\n\nconst FACILITY_TYPES = [\n  'General Hospital',\n  'Multi-specialty Clinic',\n  'Dental Clinic',\n  'Pathology Lab',\n  'Diagnostic Center',\n  'Physiotherapy Clinic',\n  'Eye Clinic',\n  'ENT Clinic',\n  'Other Medical Facility',\n];\n\nconst hospital_name = String(body.hospital_name || '').trim();\nconst facility_type = String(body.facility_type || '').trim();\nconst address = String(body.address || '').trim();\nconst doctor_name = String(body.doctor_name || '').trim();\nconst doctor_expertise = String(body.doctor_expertise || '').trim();\n\nconst errors = [];\n\nif (!hospital_name || hospital_name.length < 2)\n  errors.push('hospital_name: required, minimum 2 characters');\n\nif (!FACILITY_TYPES.includes(facility_type))\n  errors.push('facility_type: required, must be a supported facility type');\n\nif (!address || address.length < 5)\n  errors.push('address: required, minimum 5 characters');\n\nif (!doctor_name || doctor_name.length < 2)\n  errors.push('doctor_name: required, minimum 2 characters');\n\nif (!doctor_expertise || doctor_expertise.length < 2)\n  errors.push('doctor_expertise: required, minimum 2 characters');\n\nif (errors.length > 0) {\n  return [{ json: { _valid: false, _errors: errors } }];\n}\n\nreturn [{\n  json: {\n    _valid: true,\n    _errors: [],\n    hospital_name,\n    facility_type,\n    address,\n    doctor_name,\n    doctor_expertise,\n  }\n}];"
      },
      "id": "12121212-1212-1212-1212-000000000003",
      "name": "Validate Hospital Form",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json._valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000004",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.hospital_boarding\n  (hospital_name, facility_type, address, doctor_name, doctor_expertise)\nVALUES (\n  '{{ $json.hospital_name.replace(/'/g, \"''\") }}',\n  '{{ $json.facility_type.replace(/'/g, \"''\") }}',\n  '{{ $json.address.replace(/'/g, \"''\") }}',\n  '{{ $json.doctor_name.replace(/'/g, \"''\") }}',\n  '{{ $json.doctor_expertise.replace(/'/g, \"''\") }}'\n)\nRETURNING id::text AS id, hospital_name, facility_type, doctor_name;",
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000005",
      "name": "Insert Hospital Row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 200],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "system_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-12-hospital-boarding",
            "execution_id": "={{ $execution.id }}",
            "log_level": "INFO",
            "message": "Hospital / clinic boarding submitted",
            "details": "={{ JSON.stringify({ id: $('Insert Hospital Row').first().json.id, hospital_name: $('Insert Hospital Row').first().json.hospital_name, facility_type: $('Insert Hospital Row').first().json.facility_type, doctor_name: $('Insert Hospital Row').first().json.doctor_name }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000006",
      "name": "Log Hospital Boarding",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 200],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', id: $('Insert Hospital Row').first().json.id, hospital_name: $('Insert Hospital Row').first().json.hospital_name, facility_type: $('Insert Hospital Row').first().json.facility_type, doctor_name: $('Insert Hospital Row').first().json.doctor_name, message: 'Listing saved successfully.' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "12121212-1212-1212-1212-000000000007",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "system_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-12-hospital-boarding",
            "execution_id": "={{ $execution.id }}",
            "log_level": "WARN",
            "message": "Hospital boarding rejected — validation failed",
            "details": "={{ JSON.stringify({ errors: $('Validate Hospital Form').first().json._errors }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000008",
      "name": "Log Validation Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 460],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Validation failed', errors: $('Validate Hospital Form').first().json._errors }) }}",
        "options": { "responseCode": 400 }
      },
      "id": "12121212-1212-1212-1212-000000000009",
      "name": "Respond 400 Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 460]
    }
  ],
  "connections": {
    "Webhook — Hospital Boarding": {
      "main": [[{ "node": "Validate Hospital Form", "type": "main", "index": 0 }]]
    },
    "Validate Hospital Form": {
      "main": [[{ "node": "Valid?", "type": "main", "index": 0 }]]
    },
    "Valid?": {
      "main": [
        [{ "node": "Insert Hospital Row", "type": "main", "index": 0 }],
        [{ "node": "Log Validation Failure", "type": "main", "index": 0 }]
      ]
    },
    "Insert Hospital Row": {
      "main": [[{ "node": "Log Hospital Boarding", "type": "main", "index": 0 }]]
    },
    "Log Hospital Boarding": {
      "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]]
    },
    "Log Validation Failure": {
      "main": [[{ "node": "Respond 400 Invalid", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "workflow-8-error-handler"
  },
  "staticData": null,
  "tags": [{ "id": "wf12-tag", "name": "intake" }],
  "triggerCount": 1,
  "updatedAt": "2026-04-17T00:00:00.000Z",
  "versionId": "wf12-v1",
  "id": "wf12-hospital-boarding",
  "meta": { "templateCredsSetupCompleted": false }
}
