workflows/workflow-13-prescription-delivery.json
{
  "name": "WF13 — Prescription Delivery",
  "nodes": [
    {
      "parameters": {
        "content": "## WF13 — Prescription Delivery\n\n**Trigger:** POST webhook from the Supabase Edge Function gateway only.\n**Path:** `/webhook/prescription-delivery`\n\n**Security:** Requests must include `X-Internal-Timestamp` and `X-Internal-Signature` HMAC headers generated with `INTERNAL_WEBHOOK_SECRET`. The browser dashboard must never call this webhook directly.\n\n**Flow:**\n1. Receive trusted prescription payload from the Edge Function after Supabase Auth + RLS ownership checks\n2. Validate HMAC, timestamp, phone, PDF URL, and Twilio Content SID\n3. Send a Twilio WhatsApp Content card using `TWILIO_CONTENT_PRESCRIPTION_DELIVERY`\n4. Update `public.prescriptions.delivery_status`\n5. Write `public.message_logs` and `public.system_logs` entries\n\nUse an approved Twilio Content template if the clinic sends prescriptions outside the active WhatsApp service window.",
        "height": 360,
        "width": 440
      },
      "id": "13131313-1313-1313-1313-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        60
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prescription-delivery",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "13131313-1313-1313-1313-000000000002",
      "name": "Webhook — Prescription Delivery",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        500
      ],
      "webhookId": "prescription-delivery-webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst headers = input.headers || {};\nconst clean = value => String(value || '').trim();\nconst header = name => headers[name] || headers[name.toLowerCase()] || headers[name.toUpperCase()] || '';\n\nfunction canonicalStringify(value) {\n  if (value === null || typeof value !== 'object') return JSON.stringify(value);\n  if (Array.isArray(value)) return '[' + value.map(canonicalStringify).join(',') + ']';\n  return '{' + Object.keys(value).sort().map(key => JSON.stringify(key) + ':' + canonicalStringify(value[key])).join(',') + '}';\n}\n\nfunction timingSafeEqual(a, b) {\n  const left = String(a || '');\n  const right = String(b || '');\n  let mismatch = left.length === right.length ? 0 : 1;\n  const length = Math.max(left.length, right.length);\n  for (let i = 0; i < length; i += 1) {\n    mismatch |= (left.charCodeAt(i) || 0) ^ (right.charCodeAt(i) || 0);\n  }\n  return mismatch === 0;\n}\n\nasync function hmacSha256Hex(secret, data) {\n  if (typeof require === 'function') {\n    try {\n      return require('crypto').createHmac('sha256', secret).update(data).digest('hex');\n    } catch (_) {}\n  }\n  if (globalThis.crypto?.subtle) {\n    const key = await crypto.subtle.importKey('raw', new TextEncoder().encode(secret), { name: 'HMAC', hash: 'SHA-256' }, false, ['sign']);\n    const signature = await crypto.subtle.sign('HMAC', key, new TextEncoder().encode(data));\n    return Array.from(new Uint8Array(signature)).map(byte => byte.toString(16).padStart(2, '0')).join('');\n  }\n  throw new Error('No HMAC implementation available in n8n Code node');\n}\n\nconst errors = [];\nconst secret = clean($env.INTERNAL_WEBHOOK_SECRET);\nconst timestamp = clean(header('x-internal-timestamp'));\nconst suppliedSignature = clean(header('x-internal-signature')).replace(/^sha256=/i, '');\n\nif (!secret) errors.push('INTERNAL_WEBHOOK_SECRET is not configured');\nif (!timestamp || !/^\\d{12,15}$/.test(timestamp)) errors.push('x-internal-timestamp is required');\nif (!suppliedSignature || !/^[a-f0-9]{64}$/i.test(suppliedSignature)) errors.push('x-internal-signature is required');\n\nif (timestamp && Math.abs(Date.now() - Number(timestamp)) > 5 * 60 * 1000) {\n  errors.push('signed request timestamp is outside the allowed 5 minute window');\n}\n\nif (errors.length === 0) {\n  const canonicalBody = canonicalStringify(body);\n  const expectedSignature = await hmacSha256Hex(secret, timestamp + '.' + canonicalBody);\n  if (!timingSafeEqual(expectedSignature, suppliedSignature.toLowerCase())) {\n    errors.push('internal webhook signature is invalid');\n  }\n}\n\nconst prescriptionId = clean(body.prescription_id);\nconst patientId = clean(body.patient_id);\nconst visitId = clean(body.visit_id);\nconst patientName = clean(body.patient_name) || 'there';\nconst phone = clean(body.phone);\nconst doctorName = clean(body.doctor_name) || $env.DEFAULT_DOCTOR_NAME || 'your doctor';\nconst clinicName = clean(body.clinic_name) || $env.DEFAULT_CLINIC_NAME || 'our clinic';\nconst pdfUrl = clean(body.pdf_url);\nconst medicines = Array.isArray(body.medicines) ? body.medicines : [];\nconst medicineSummary = medicines\n  .map((m, index) => {\n    const name = clean(m.medicine_name || m.name);\n    const dosage = clean(m.dosage);\n    const frequency = clean(m.frequency);\n    const timing = clean(m.timing);\n    const duration = clean(m.duration);\n    const parts = [dosage, frequency, timing, duration].filter(Boolean).join(', ');\n    return name ? String(index + 1) + '. ' + name + (parts ? ' - ' + parts : '') : '';\n  })\n  .filter(Boolean)\n  .join('; ')\n  .slice(0, 900) || 'As listed in the attached prescription';\n\nif (!prescriptionId || !/^[0-9a-f-]{36}$/i.test(prescriptionId)) errors.push('prescription_id must be a UUID');\nif (!patientId || !/^[0-9a-f-]{36}$/i.test(patientId)) errors.push('patient_id must be a UUID');\nif (visitId && !/^[0-9a-f-]{36}$/i.test(visitId)) errors.push('visit_id must be a UUID when provided');\nif (!phone || !/^\\+[1-9]\\d{6,14}$/.test(phone)) errors.push('phone must be E.164 format');\nif (!pdfUrl || !/^https:\\/\\//i.test(pdfUrl)) errors.push('pdf_url must be an HTTPS URL');\nconst contentSid = clean($env.TWILIO_CONTENT_PRESCRIPTION_DELIVERY);\nif (!contentSid) errors.push('TWILIO_CONTENT_PRESCRIPTION_DELIVERY is required for prescription cards');\nif (errors.length) return [{ json: { _valid: false, _errors: errors } }];\nconst contentVariables = JSON.stringify({\n  '1': patientName,\n  '2': doctorName,\n  '3': clinicName,\n  '4': medicineSummary,\n  '5': pdfUrl,\n});\nconst bodyText = 'Hi ' + patientName + ', your prescription from ' + doctorName + ' at ' + clinicName + ' is ready. Medicines: ' + medicineSummary + '. Open it here: ' + pdfUrl;\nreturn [{ json: { _valid: true, prescription_id: prescriptionId, patient_id: patientId, visit_id: visitId || null, patient_name: patientName, phone, doctor_name: doctorName, clinic_name: clinicName, pdf_url: pdfUrl, medicine_summary: medicineSummary, _to_phone: 'whatsapp:' + phone, _message_type: 'prescription_pdf', _scheduled_date: new Date().toLocaleDateString('en-CA', { timeZone: $env.TIMEZONE || 'Asia/Kolkata' }), _content_sid: contentSid, _content_variables: contentVariables, _message_body: bodyText } }];"
      },
      "id": "13131313-1313-1313-1313-000000000003",
      "name": "Validate Delivery Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "valid-payload",
              "leftValue": "={{ $json._valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13131313-1313-1313-1313-000000000004",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        540,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/__TWILIO_ACCOUNT_SID__/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "__TWILIO_WHATSAPP_FROM__"
            },
            {
              "name": "To",
              "value": "={{ $json._to_phone }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $json._content_sid }}"
            },
            {
              "name": "ContentVariables",
              "value": "={{ $json._content_variables }}"
            },
            {
              "name": "StatusCallback",
              "value": "__TWILIO_STATUS_CALLBACK_URL__"
            }
          ]
        },
        "options": {
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 15000
          }
        }
      },
      "id": "13131313-1313-1313-1313-000000000005",
      "name": "Send Prescription WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        400
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_TWILIO_BASIC_AUTH",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.prescriptions\nSET delivery_status = 'sent', updated_at = NOW()\nWHERE id = '{{ $('Validate Delivery Payload').item.json.prescription_id }}';",
        "options": {}
      },
      "id": "13131313-1313-1313-1313-000000000006",
      "name": "Mark Prescription Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        980,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "message_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $('Validate Delivery Payload').item.json.patient_id }}",
            "patient_name": "={{ $('Validate Delivery Payload').item.json.patient_name }}",
            "phone": "={{ $('Validate Delivery Payload').item.json.phone }}",
            "workflow_name": "workflow-13-prescription-delivery",
            "message_type": "prescription_pdf",
            "message_sent": "={{ $('Validate Delivery Payload').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "scheduled_date": "={{ $('Validate Delivery Payload').item.json._scheduled_date }}",
            "provider_message_id": "={{ $json.sid || $json.Sid || '' }}",
            "twilio_message_sid": "={{ $json.sid || $json.Sid || '' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "13131313-1313-1313-1313-000000000007",
      "name": "Log Prescription Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        980,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.prescriptions\nSET delivery_status = 'failed', updated_at = NOW()\nWHERE id = '{{ $('Validate Delivery Payload').item.json.prescription_id }}';",
        "options": {}
      },
      "id": "13131313-1313-1313-1313-000000000008",
      "name": "Mark Prescription Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        980,
        660
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-13-prescription-delivery",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Prescription delivery failed",
            "details": "={{ JSON.stringify({ prescription_id: $('Validate Delivery Payload').item.json.prescription_id, phone: $('Validate Delivery Payload').item.json.phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "13131313-1313-1313-1313-000000000009",
      "name": "Log Prescription Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1200,
        660
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-13-prescription-delivery",
            "execution_id": "={{ $execution.id }}",
            "log_level": "WARN",
            "message": "Prescription delivery rejected by validation",
            "details": "={{ JSON.stringify({ errors: $('Validate Delivery Payload').item.json._errors }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "13131313-1313-1313-1313-000000000010",
      "name": "Log Validation Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        760,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Prescription delivery queued\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "13131313-1313-1313-1313-000000000011",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Validation failed', errors: $('Validate Delivery Payload').item.json._errors }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "13131313-1313-1313-1313-000000000012",
      "name": "Respond Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        980,
        760
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"error\", \"message\": \"Prescription delivery failed\" }",
        "options": {
          "responseCode": 502
        }
      },
      "id": "13131313-1313-1313-1313-000000000013",
      "name": "Respond Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1420,
        660
      ]
    }
  ],
  "connections": {
    "Webhook — Prescription Delivery": {
      "main": [
        [
          {
            "node": "Validate Delivery Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Delivery Payload": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Send Prescription WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Validation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Prescription WhatsApp": {
      "main": [
        [
          {
            "node": "Mark Prescription Sent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Prescription Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Prescription Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Prescription Sent": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Prescription Failed": {
      "main": [
        [
          {
            "node": "Log Prescription Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Prescription Failure": {
      "main": [
        [
          {
            "node": "Respond Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Validation Failure": {
      "main": [
        [
          {
            "node": "Respond Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "workflow-8-error-handler"
  },
  "staticData": null,
  "tags": [
    {
      "id": "wf13-tag",
      "name": "prescriptions"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-05-19T00:00:00.000Z",
  "versionId": "wf13-v1",
  "id": "wf13-prescription-delivery",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
