workflows/workflow-9-daily-sheet-creator.json
{
  "name": "WF9 — Daily Intake Sheet Creator",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 9: Daily Intake Sheet Creator\n\n**Trigger:** Every day at 7:00 AM\n\n**What it does:**\n1. Generates today's date and sheet title\n2. Creates a new Google Spreadsheet in the configured Drive folder\n3. Adds headers, dropdowns, conditional formatting, and column protection via Sheets API batchUpdate\n4. Saves the spreadsheet ID to Supabase `daily_intake_sheets` table\n5. Sends an email to the clinic with the sheet link (via Gmail)\n6. Logs creation event to Supabase `system_logs`\n\n**Before activating:**\n1. Set credential on HTTP Drive nodes → `googleDriveOAuth2Api`\n2. Set credential on HTTP Sheets node → `googleSheetsOAuth2Api`\n3. Set credential on Gmail node → `gmailOAuth2Api`\n4. Set credential on Postgres nodes → `Supabase DB`\n5. Fill in `.env`: `GOOGLE_DRIVE_FOLDER_ID`, `CLINIC_EMAIL`, `CLINIC_HOSPITAL_NAMES`, `CLINIC_DOCTOR_NAMES`\n\n**Note:** The Google OAuth2 credential used for Drive/Sheets API must have scopes:\n`https://www.googleapis.com/auth/spreadsheets`\n`https://www.googleapis.com/auth/drive`\nCreate one credential with both scopes in n8n Credentials → Google OAuth2 API.",
        "height": 400,
        "width": 480
      },
      "id": "99999999-9999-9999-9999-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "99999999-9999-9999-9999-000000000002",
      "name": "Daily 7AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "jsCode": "// Build sheet title and configuration payload\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-CA', { timeZone: tz }); // YYYY-MM-DD\nconst displayDate = now.toLocaleDateString('en-IN', {\n  timeZone: tz, day: '2-digit', month: 'long', year: 'numeric'\n}); // e.g. 15 April 2026\n\nconst sheetTitle = `Patient Intake - ${dateStr}`;\nconst folderId = $env.GOOGLE_DRIVE_FOLDER_ID || '';\nconst clinicEmail = $env.CLINIC_EMAIL || 'clinic@example.com';\n\n// Parse dropdown values from env\nconst hospitalNames = ($env.CLINIC_HOSPITAL_NAMES || 'City Hospital,General Hospital,Metro Clinic')\n  .split(',').map(s => s.trim()).filter(Boolean);\nconst doctorNames = ($env.CLINIC_DOCTOR_NAMES || 'Dr. Sharma,Dr. Mehta,Dr. Patel,Dr. Kumar')\n  .split(',').map(s => s.trim()).filter(Boolean);\n\nreturn [{\n  json: {\n    sheetTitle,\n    dateStr,\n    displayDate,\n    folderId,\n    clinicEmail,\n    hospitalNames,\n    doctorNames\n  }\n}];"
      },
      "id": "99999999-9999-9999-9999-000000000003",
      "name": "Build Sheet Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"name\": \"{{ $json.sheetTitle }}\",\n  \"mimeType\": \"application/vnd.google-apps.spreadsheet\",\n  \"parents\": [\"{{ $json.folderId }}\"]\n}",
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 10000
          }
        }
      },
      "id": "99999999-9999-9999-9999-000000000004",
      "name": "Create Spreadsheet in Drive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 500],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GDRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "drive-error-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "99999999-9999-9999-9999-000000000005",
      "name": "Sheet Created OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "jsCode": "// Build the full Sheets API batchUpdate request to:\n// 1. Add headers to row 1\n// 2. Freeze row 1\n// 3. Apply data validation dropdowns\n// 4. Apply conditional formatting on status column\n// 5. Protect id, status, created_at, updated_at columns\n// 6. Format phone column as plain text\n\nconst config = $('Build Sheet Config').first().json;\nconst spreadsheetId = $('Create Spreadsheet in Drive').first().json.id;\nconst sheetId = 0; // First sheet always has sheetId = 0\n\nconst hospitalNames = config.hospitalNames;\nconst doctorNames = config.doctorNames;\n\n// Column indices (0-based): A=0, B=1, C=2, D=3, E=4, F=5, G=6, H=7, I=8, J=9, K=10, L=11, M=12\nconst COL = { id:0, hospital:1, doctor:2, patient_name:3, dob:4, sex:5, phone:6, visit_date:7, fu_required:8, fu_date:9, status:10, created_at:11, updated_at:12 };\n\n// Helper: cell range object\nconst range = (r1, c1, r2, c2) => ({\n  sheetId,\n  startRowIndex: r1,\n  endRowIndex: r2,\n  startColumnIndex: c1,\n  endColumnIndex: c2\n});\n\n// Helper: ONE_OF_LIST validation\nconst dropdown = (values) => ({\n  condition: {\n    type: 'ONE_OF_LIST',\n    values: values.map(v => ({ userEnteredValue: v }))\n  },\n  showCustomUi: true,\n  strict: true\n});\n\nconst requests = [\n  // ── 1. Set column headers in row 1 ───────────────────────────────────────\n  {\n    updateCells: {\n      range: range(0, 0, 1, 13),\n      rows: [{\n        values: [\n          { userEnteredValue: { stringValue: 'id' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } },\n          { userEnteredValue: { stringValue: 'hospital_name' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } },\n          { userEnteredValue: { stringValue: 'doctor_name' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } },\n          { userEnteredValue: { stringValue: 'patient_name' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } },\n          { userEnteredValue: { stringValue: 'dob' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } },\n          { userEnteredValue: { stringValue: 'sex' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } },\n          { userEnteredValue: { stringValue: 'phone_number' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } },\n          { userEnteredValue: { stringValue: 'visit_date' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } },\n          { userEnteredValue: { stringValue: 'follow_up_required' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } },\n          { userEnteredValue: { stringValue: 'follow_up_date' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } },\n          { userEnteredValue: { stringValue: 'status' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } },\n          { userEnteredValue: { stringValue: 'created_at' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } },\n          { userEnteredValue: { stringValue: 'updated_at' },\n            userEnteredFormat: { backgroundColor: { red: 0.18, green: 0.32, blue: 0.57 },\n              textFormat: { bold: true, foregroundColor: { red: 1, green: 1, blue: 1 }, fontSize: 10 } } }\n        ]\n      }],\n      fields: 'userEnteredValue,userEnteredFormat.backgroundColor,userEnteredFormat.textFormat'\n    }\n  },\n\n  // ── 2. Freeze row 1 ──────────────────────────────────────────────────────\n  {\n    updateSheetProperties: {\n      properties: {\n        sheetId,\n        gridProperties: { frozenRowCount: 1 }\n      },\n      fields: 'gridProperties.frozenRowCount'\n    }\n  },\n\n  // ── 3. Format phone column G as plain text ───────────────────────────────\n  {\n    repeatCell: {\n      range: range(1, COL.phone, 1000, COL.phone + 1),\n      cell: { userEnteredFormat: { numberFormat: { type: 'TEXT' } } },\n      fields: 'userEnteredFormat.numberFormat'\n    }\n  },\n\n  // ── 4. Data validation — hospital_name (column B) ─────────────────────────\n  {\n    setDataValidation: {\n      range: range(1, COL.hospital, 1000, COL.hospital + 1),\n      rule: dropdown(hospitalNames)\n    }\n  },\n\n  // ── 5. Data validation — doctor_name (column C) ───────────────────────────\n  {\n    setDataValidation: {\n      range: range(1, COL.doctor, 1000, COL.doctor + 1),\n      rule: dropdown(doctorNames)\n    }\n  },\n\n  // ── 6. Data validation — sex (column F) ───────────────────────────────────\n  {\n    setDataValidation: {\n      range: range(1, COL.sex, 1000, COL.sex + 1),\n      rule: dropdown(['Male', 'Female', 'Other'])\n    }\n  },\n\n  // ── 7. Data validation — follow_up_required (column I) ───────────────────\n  {\n    setDataValidation: {\n      range: range(1, COL.fu_required, 1000, COL.fu_required + 1),\n      rule: dropdown(['Yes', 'No'])\n    }\n  },\n\n  // ── 8. Data validation — status (column K) ────────────────────────────────\n  {\n    setDataValidation: {\n      range: range(1, COL.status, 1000, COL.status + 1),\n      rule: dropdown(['Pending', 'Completed', 'Missed'])\n    }\n  },\n\n  // ── 9. Conditional formatting — status Pending = yellow ──────────────────\n  {\n    addConditionalFormatRule: {\n      rule: {\n        ranges: [range(1, COL.status, 1000, COL.status + 1)],\n        booleanRule: {\n          condition: { type: 'TEXT_EQ', values: [{ userEnteredValue: 'Pending' }] },\n          format: { backgroundColor: { red: 1, green: 0.95, blue: 0.6 } }\n        }\n      },\n      index: 0\n    }\n  },\n\n  // ── 10. Conditional formatting — status Completed = green ─────────────────\n  {\n    addConditionalFormatRule: {\n      rule: {\n        ranges: [range(1, COL.status, 1000, COL.status + 1)],\n        booleanRule: {\n          condition: { type: 'TEXT_EQ', values: [{ userEnteredValue: 'Completed' }] },\n          format: { backgroundColor: { red: 0.71, green: 0.84, blue: 0.66 } }\n        }\n      },\n      index: 1\n    }\n  },\n\n  // ── 11. Conditional formatting — status Missed = red ─────────────────────\n  {\n    addConditionalFormatRule: {\n      rule: {\n        ranges: [range(1, COL.status, 1000, COL.status + 1)],\n        booleanRule: {\n          condition: { type: 'TEXT_EQ', values: [{ userEnteredValue: 'Missed' }] },\n          format: { backgroundColor: { red: 0.96, green: 0.8, blue: 0.8 } }\n        }\n      },\n      index: 2\n    }\n  },\n\n  // ── 12. Conditional formatting — phone_number not 10 digits = orange ──────\n  {\n    addConditionalFormatRule: {\n      rule: {\n        ranges: [range(1, COL.phone, 1000, COL.phone + 1)],\n        booleanRule: {\n          condition: {\n            type: 'CUSTOM_FORMULA',\n            values: [{ userEnteredValue: '=AND(G2<>\"\",OR(LEN(G2)<>10,NOT(ISNUMBER(VALUE(G2)))))' }]\n          },\n          format: { backgroundColor: { red: 1, green: 0.72, blue: 0.42 } }\n        }\n      },\n      index: 3\n    }\n  },\n\n  // ── 13. Protect column A (id) — written only by WF10 ─────────────────────\n  {\n    addProtectedRange: {\n      protectedRange: {\n        range: range(1, COL.id, 1000, COL.id + 1),\n        description: 'Auto-generated by WF10 — do not edit',\n        warningOnly: true\n      }\n    }\n  },\n\n  // ── 14. Protect column L (created_at) ─────────────────────────────────────\n  {\n    addProtectedRange: {\n      protectedRange: {\n        range: range(1, COL.created_at, 1000, COL.created_at + 1),\n        description: 'Auto-generated by WF10 — do not edit',\n        warningOnly: true\n      }\n    }\n  },\n\n  // ── 15. Protect column M (updated_at) ─────────────────────────────────────\n  {\n    addProtectedRange: {\n      protectedRange: {\n        range: range(1, COL.updated_at, 1000, COL.updated_at + 1),\n        description: 'Auto-updated by automation — do not edit',\n        warningOnly: true\n      }\n    }\n  },\n\n  // ── 16. Set column widths for readability ──────────────────────────────────\n  {\n    updateDimensionProperties: {\n      range: { sheetId, dimension: 'COLUMNS', startIndex: 0, endIndex: 1 },\n      properties: { pixelSize: 100 },\n      fields: 'pixelSize'\n    }\n  },\n  {\n    updateDimensionProperties: {\n      range: { sheetId, dimension: 'COLUMNS', startIndex: 1, endIndex: 4 },\n      properties: { pixelSize: 160 },\n      fields: 'pixelSize'\n    }\n  },\n  {\n    updateDimensionProperties: {\n      range: { sheetId, dimension: 'COLUMNS', startIndex: 6, endIndex: 7 },\n      properties: { pixelSize: 130 },\n      fields: 'pixelSize'\n    }\n  }\n];\n\nreturn [{\n  json: {\n    spreadsheetId,\n    requests\n  }\n}];"
      },
      "id": "99999999-9999-9999-9999-000000000006",
      "name": "Build Validation Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ requests: $json.requests }) }}",
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 10000
          }
        }
      },
      "id": "99999999-9999-9999-9999-000000000007",
      "name": "Apply Headers and Validation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 380],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "daily_intake_sheets", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sheet_date": "={{ $('Build Sheet Config').item.json.dateStr }}",
            "spreadsheet_id": "={{ $('Create Spreadsheet in Drive').item.json.id }}",
            "spreadsheet_url": "={{ $('Create Spreadsheet in Drive').item.json.webViewLink || 'https://docs.google.com/spreadsheets/d/' + $('Create Spreadsheet in Drive').item.json.id }}",
            "email_sent_to": "={{ $('Build Sheet Config').item.json.clinicEmail }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {
          "conflictResolution": "doNothing"
        }
      },
      "id": "99999999-9999-9999-9999-000000000008",
      "name": "Save Sheet Record to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1560, 380],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Build Sheet Config').item.json.clinicEmail }}",
        "subject": "={{ '📋 Patient Intake Sheet Ready — ' + $('Build Sheet Config').item.json.displayDate }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <h2 style=\"color: #2D5195;\">Patient Intake Sheet — {{ $('Build Sheet Config').item.json.displayDate }}</h2>\n  <p>Good morning! Your daily patient intake sheet is ready. Please click the link below to open it and start entering today's patient records.</p>\n  <div style=\"background: #f4f7fc; border-left: 4px solid #2D5195; padding: 16px; margin: 20px 0; border-radius: 4px;\">\n    <p style=\"margin: 0; font-weight: bold;\">Today's Sheet:</p>\n    <a href=\"{{ $('Create Spreadsheet in Drive').item.json.webViewLink || 'https://docs.google.com/spreadsheets/d/' + $('Create Spreadsheet in Drive').item.json.id }}\" style=\"color: #2D5195; font-size: 16px;\">{{ $('Build Sheet Config').item.json.sheetTitle }}</a>\n  </div>\n  <h3 style=\"color: #333;\">How to fill the sheet:</h3>\n  <ol style=\"color: #555; line-height: 1.8;\">\n    <li><strong>Fill columns B to J</strong> for each patient (hospital, doctor, name, DOB, sex, phone, visit date, follow-up)</li>\n    <li><strong>Leave columns A, K, L, M blank</strong> — they are auto-filled by the system</li>\n    <li><strong>Phone number:</strong> 10 digits only, no spaces or dashes (e.g. 9876543210)</li>\n    <li><strong>Follow-up date:</strong> Only fill if Follow-Up Required = Yes</li>\n    <li>Data syncs to the patient database every 10 minutes automatically</li>\n  </ol>\n  <p style=\"color: #888; font-size: 12px; margin-top: 30px; border-top: 1px solid #eee; padding-top: 10px;\">Patient Retention Engine — Automated by n8n</p>\n</div>",
        "options": {}
      },
      "id": "99999999-9999-9999-9999-000000000009",
      "name": "Email Sheet Link to Clinic",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1560, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "system_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-9-daily-sheet-creator",
            "execution_id": "={{ $execution.id }}",
            "log_level": "INFO",
            "message": "Daily intake sheet created and emailed",
            "details": "={{ JSON.stringify({ date: $('Build Sheet Config').item.json.dateStr, spreadsheet_id: $('Create Spreadsheet in Drive').item.json.id, spreadsheet_url: $('Create Spreadsheet in Drive').item.json.webViewLink || '', email_sent_to: $('Build Sheet Config').item.json.clinicEmail, title: $('Build Sheet Config').item.json.sheetTitle }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "99999999-9999-9999-9999-000000000010",
      "name": "Log Sheet Created",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1780, 380],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "system_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-9-daily-sheet-creator",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to create daily intake sheet in Google Drive",
            "details": "={{ JSON.stringify({ date: $('Build Sheet Config').item.json.dateStr, error: $json.error?.message || $json.message || 'Google Drive API error', raw: JSON.stringify($json).substr(0, 500) }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "99999999-9999-9999-9999-000000000011",
      "name": "Log Creation Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 620],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $env.ADMIN_WHATSAPP_NUMBER }}"
            },
            {
              "name": "From",
              "value": "={{ $env.TWILIO_WHATSAPP_NUMBER }}"
            },
            {
              "name": "Body",
              "value": "=⚠️ *WF9 Alert* — Failed to create daily intake sheet for {{ $('Build Sheet Config').item.json.dateStr }}. Please check n8n execution logs. Staff will not receive a sheet link today."
            }
          ]
        },
        "options": {}
      },
      "id": "99999999-9999-9999-9999-000000000012",
      "name": "Alert Admin on Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 620],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_TWILIO_CREDENTIAL_ID",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily 7AM Trigger": {
      "main": [[{ "node": "Build Sheet Config", "type": "main", "index": 0 }]]
    },
    "Build Sheet Config": {
      "main": [[{ "node": "Create Spreadsheet in Drive", "type": "main", "index": 0 }]]
    },
    "Create Spreadsheet in Drive": {
      "main": [
        [{ "node": "Sheet Created OK?", "type": "main", "index": 0 }],
        [{ "node": "Log Creation Failure", "type": "main", "index": 0 }]
      ]
    },
    "Sheet Created OK?": {
      "main": [
        [{ "node": "Build Validation Payload", "type": "main", "index": 0 }],
        [{ "node": "Log Creation Failure", "type": "main", "index": 0 }]
      ]
    },
    "Build Validation Payload": {
      "main": [[{ "node": "Apply Headers and Validation", "type": "main", "index": 0 }]]
    },
    "Apply Headers and Validation": {
      "main": [[
        { "node": "Save Sheet Record to Supabase", "type": "main", "index": 0 },
        { "node": "Email Sheet Link to Clinic", "type": "main", "index": 0 }
      ]]
    },
    "Save Sheet Record to Supabase": {
      "main": [[{ "node": "Log Sheet Created", "type": "main", "index": 0 }]]
    },
    "Log Creation Failure": {
      "main": [[{ "node": "Alert Admin on Failure", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "={{ $env.TIMEZONE || 'Asia/Kolkata' }}"
  },
  "versionId": "99999999-9999-9999-9999-999999999909",
  "id": "wf9-daily-sheet-creator",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    { "name": "patient-retention" },
    { "name": "intake" },
    { "name": "sheets-creator" }
  ]
}
