workflows/workflow-4-health-check.json
{
  "name": "WF4 \u2014 Post-Visit Health Check",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 4: Post-Visit Health Check\n\n**Trigger:** Daily at 10:15 AM\n\n**Logic:** Reads from Supabase. Finds patients who visited 2\u20133 days ago and haven't received a health check message. Sends a caring check-in via Meta Cloud API (template: patient_health_check). Sets `health_check_sent = TRUE` after sending.\n\n**Data source:** Supabase `public.patients`\n\n**Before activating:**\n1. Set credential on all Postgres nodes \u2192 Supabase DB\n2. Set credential on HTTP node \u2192 WhatsApp Business API (HTTP Header Auth)\n3. Ensure the `patient_health_check` template is approved in Meta Business Manager",
        "height": 240,
        "width": 400
      },
      "id": "44444444-4444-4444-4444-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        60
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 10 * * *"
            }
          ]
        }
      },
      "id": "44444444-4444-4444-4444-000000000002",
      "name": "Daily 10:15AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.patients WHERE health_check_sent = FALSE AND status <> 'inactive' AND visit_date BETWEEN CURRENT_DATE - INTERVAL '3 days' AND CURRENT_DATE - INTERVAL '2 days'",
        "options": {}
      },
      "id": "44444444-4444-4444-4444-000000000003",
      "name": "Read Patients from Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "U3Ok26tbDrmjkBQr",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter patients who visited 2-3 days ago and haven't received health check\nconst items = $input.all();\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\n\nconst now = new Date();\nconst todayStr = now.toLocaleDateString('en-CA', { timeZone: tz });\nconst todayDate = new Date(todayStr);\n\nconst filtered = items.filter(item => {\n  const p = item.json;\n\n  if (!p.visit_date) return false;\n\n  const visitDate = new Date(p.visit_date);\n  if (isNaN(visitDate.getTime())) return false;\n\n  const diffMs = todayDate - visitDate;\n  const daysSinceVisit = Math.floor(diffMs / (1000 * 60 * 60 * 24));\n\n  if (daysSinceVisit < 2 || daysSinceVisit > 3) return false;\n\n  // health_check_sent comes as boolean from Supabase\n  if (p.health_check_sent === true) return false;\n\n  if (p.status === 'inactive') return false;\n\n  if (!p.phone || !/^\\+[1-9]\\d{6,14}$/.test(p.phone)) return false;\n\n  return true;\n});\n\nif (filtered.length === 0) {\n  return [{ json: { _skip: true, reason: 'No patients due for health check', todayStr } }];\n}\n\nreturn filtered.map(item => ({\n  json: {\n    ...item.json,\n    _workflow: 'workflow-4-health-check',\n    _message_type: 'health_check',\n    _to_phone: item.json.phone.replace(/^\\+/, ''),\n    _name: item.json.name || 'there',\n    _doctor_name: item.json.doctor_name || $env.DEFAULT_DOCTOR_NAME || 'your doctor'\n  }\n}));"
      },
      "id": "44444444-4444-4444-4444-000000000004",
      "name": "Filter Health Check Due",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-check-wf4",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44444444-4444-4444-4444-000000000005",
      "name": "Skip if No Patients",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v19.0/' + $env.WA_PHONE_NUMBER_ID + '/messages' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json._to_phone, type: 'template', template: { name: 'patient_health_check', language: { code: $env.WA_LANGUAGE_CODE || 'en' }, components: [{ type: 'body', parameters: [ { type: 'text', text: $json._name }, { type: 'text', text: $json._doctor_name } ] }] } }) }}",
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      },
      "id": "44444444-4444-4444-4444-000000000006",
      "name": "Send Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cpwYBQl1CU1nYjHS",
          "name": "WhatsApp Business API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET health_check_sent = TRUE, last_message_sent = NOW(), message_count = message_count + 1, updated_at = NOW() WHERE id = '{{ $('Filter Health Check Due').item.json.id }}'",
        "options": {}
      },
      "id": "44444444-4444-4444-4444-000000000007",
      "name": "Update Patient in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "U3Ok26tbDrmjkBQr",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "message_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $('Filter Health Check Due').item.json.id }}",
            "patient_name": "={{ $('Filter Health Check Due').item.json.name }}",
            "phone": "={{ $('Filter Health Check Due').item.json.phone }}",
            "workflow_name": "workflow-4-health-check",
            "message_type": "health_check",
            "message_sent": "={{ $('Filter Health Check Due').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "wa_message_id": "={{ $json.messages?.[0]?.id || '' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "44444444-4444-4444-4444-000000000008",
      "name": "Log Message to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "U3Ok26tbDrmjkBQr",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-4-health-check",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to send health check message",
            "details": "={{ JSON.stringify({ patient_id: $('Filter Health Check Due').item.json.id, phone: $('Filter Health Check Due').item.json.phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "44444444-4444-4444-4444-000000000009",
      "name": "Log Send Failure to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "U3Ok26tbDrmjkBQr",
          "name": "Supabase DB"
        }
      }
    }
  ],
  "connections": {
    "Daily 10:15AM Trigger": {
      "main": [
        [
          {
            "node": "Read Patients from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Patients from Supabase": {
      "main": [
        [
          {
            "node": "Filter Health Check Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Health Check Due": {
      "main": [
        [
          {
            "node": "Skip if No Patients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if No Patients": {
      "main": [
        [],
        [
          {
            "node": "Send Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Health Check": {
      "main": [
        [
          {
            "node": "Update Patient in Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Message to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Send Failure to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44444444-4444-4444-4444-444444444404",
  "id": "wf4-health-check",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "id": "tag-patient-retention",
      "name": "patient-retention"
    },
    {
      "id": "tag-health-check",
      "name": "health-check"
    }
  ]
}