workflows/workflow-1-followup-reminder.json
{
  "name": "WF1 — Follow-Up Reminder (Day Before)",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 1: Follow-Up Reminder\n\n**Trigger:** Daily at 9:00 AM\n\n**Logic:** Reads patients from Supabase. Finds all patients whose `follow_up_date` is tomorrow, `status = pending`, and `message_count < 5`. Sends a WhatsApp reminder via Meta Cloud API (template: patient_followup_reminder), updates the patient record, and logs the send.\n\n**Data source:** Supabase `public.patients` — populated by WF11 (QR form intake)\n\n**Before activating:**\n1. Set credential on \"Read Patients from Supabase\" → Supabase DB\n2. Set credential on \"Send WhatsApp Reminder\" → WhatsApp Business API (HTTP Header Auth)\n3. Set credential on all Postgres write nodes → Supabase DB\n4. Ensure the `patient_followup_reminder` template is approved in Meta Business Manager",
        "height": 280,
        "width": 420
      },
      "id": "11111111-1111-1111-1111-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "11111111-1111-1111-1111-000000000002",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 380]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.patients WHERE status = 'pending' AND follow_up_date IS NOT NULL AND follow_up_date >= CURRENT_DATE",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000003",
      "name": "Read Patients from Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 380],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter patients whose follow-up is tomorrow, status is pending, and haven't been over-messaged\nconst items = $input.all();\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst maxMessages = parseInt($env.MAX_MESSAGE_COUNT) || 5;\nconst minHours = parseInt($env.MIN_HOURS_BETWEEN_MESSAGES) || 23;\n\n// Get tomorrow's date in local timezone (YYYY-MM-DD)\nconst now = new Date();\nconst tomorrow = new Date(now);\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst tomorrowStr = tomorrow.toLocaleDateString('en-CA', { timeZone: tz }); // en-CA = YYYY-MM-DD\n\nconst filtered = items.filter(item => {\n  const p = item.json;\n\n  // follow_up_date comes as a Date object or ISO string from Supabase\n  const fuDate = p.follow_up_date ? new Date(p.follow_up_date).toLocaleDateString('en-CA', { timeZone: tz }) : null;\n  if (!fuDate || fuDate !== tomorrowStr) return false;\n\n  // Must be in pending state\n  if (p.status && p.status !== 'pending') return false;\n\n  // Must not exceed message limit\n  const msgCount = parseInt(p.message_count) || 0;\n  if (msgCount >= maxMessages) return false;\n\n  // Must have a valid E.164 phone number\n  if (!p.phone || !/^\\+[1-9]\\d{6,14}$/.test(p.phone)) return false;\n\n  // Must not have been messaged within the last minHours hours\n  if (p.last_message_sent) {\n    const lastSent = new Date(p.last_message_sent);\n    const hoursSince = (now - lastSent) / (1000 * 60 * 60);\n    if (hoursSince < minHours) return false;\n  }\n\n  return true;\n});\n\nif (filtered.length === 0) {\n  return [{ json: { _skip: true, reason: 'No patients to message today', tomorrowStr } }];\n}\n\nreturn filtered.map(item => ({\n  json: {\n    ...item.json,\n    _workflow: 'workflow-1-followup-reminder',\n    _message_type: 'follow_up_reminder',\n    _to_phone: item.json.phone.replace(/^\\+/, ''),\n    _name: item.json.name || 'there',\n    _doctor_name: item.json.doctor_name || $env.DEFAULT_DOCTOR_NAME || 'your doctor',\n    _clinic_name: item.json.clinic_name || $env.DEFAULT_CLINIC_NAME || 'our clinic'\n  }\n}));"
      },
      "id": "11111111-1111-1111-1111-000000000004",
      "name": "Filter Tomorrow Follow-ups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000005",
      "name": "Skip if No Patients",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v19.0/' + $env.WA_PHONE_NUMBER_ID + '/messages' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json._to_phone, type: 'template', template: { name: 'patient_followup_reminder', language: { code: $env.WA_LANGUAGE_CODE || 'en' }, components: [{ type: 'body', parameters: [ { type: 'text', text: $json._name }, { type: 'text', text: $json._doctor_name }, { type: 'text', text: $json._clinic_name } ] }] } }) }}",
        "options": {
          "retry": { "maxTries": 3, "waitBetweenTries": 30000 }
        }
      },
      "id": "11111111-1111-1111-1111-000000000006",
      "name": "Send WhatsApp Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 280],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_WA_CREDENTIAL_ID",
          "name": "WhatsApp Business API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET last_message_sent = NOW(), message_count = COALESCE(message_count, 0) + 1, updated_at = NOW() WHERE id = '{{ $('Filter Tomorrow Follow-ups').item.json.id }}'",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000007",
      "name": "Update Patient in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 180],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "message_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $('Filter Tomorrow Follow-ups').item.json.id }}",
            "patient_name": "={{ $('Filter Tomorrow Follow-ups').item.json.name }}",
            "phone": "={{ $('Filter Tomorrow Follow-ups').item.json.phone }}",
            "workflow_name": "workflow-1-followup-reminder",
            "message_type": "follow_up_reminder",
            "message_sent": "={{ $('Filter Tomorrow Follow-ups').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "wa_message_id": "={{ $json.messages?.[0]?.id || '' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000008",
      "name": "Log Message to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 380],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "system_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-1-followup-reminder",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to send follow-up reminder",
            "details": "={{ JSON.stringify({ patient_id: $('Filter Tomorrow Follow-ups').item.json.id, phone: $('Filter Tomorrow Follow-ups').item.json.phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000009",
      "name": "Log Send Failure to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 520],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [[{ "node": "Read Patients from Supabase", "type": "main", "index": 0 }]]
    },
    "Read Patients from Supabase": {
      "main": [[{ "node": "Filter Tomorrow Follow-ups", "type": "main", "index": 0 }]]
    },
    "Filter Tomorrow Follow-ups": {
      "main": [[{ "node": "Skip if No Patients", "type": "main", "index": 0 }]]
    },
    "Skip if No Patients": {
      "main": [
        [],
        [{ "node": "Send WhatsApp Reminder", "type": "main", "index": 0 }]
      ]
    },
    "Send WhatsApp Reminder": {
      "main": [
        [
          { "node": "Update Patient in Supabase", "type": "main", "index": 0 },
          { "node": "Log Message to Supabase", "type": "main", "index": 0 }
        ],
        [{ "node": "Log Send Failure to Supabase", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "={{ $env.TIMEZONE || 'Asia/Kolkata' }}"
  },
  "versionId": "11111111-1111-1111-1111-111111111101",
  "id": "wf1-followup-reminder",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [
    { "name": "patient-retention" },
    { "name": "reminder" }
  ]
}
