workflows/workflow-3-missed-appointment.json
{
  "name": "WF3 — Missed Appointment Recovery",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 3: Missed Appointment Recovery\n\n**Trigger:** Daily at 10:00 AM\n\n**Logic (from Supabase):**\n- Day +1: Empathetic recovery message (template: patient_missed_recovery)\n- Day +3: Second nudge referencing the doctor (template: patient_missed_nudge)\n- Day +7: Marks patient status as `missed` in Supabase (stops messaging)\n\nReads ONLY from Supabase `public.patients`.\n\n**Before activating:**\n1. Set credential on all Postgres nodes → Supabase DB\n2. Set credential on HTTP nodes → Twilio Basic Auth\n3. Ensure both `patient_missed_recovery` and `patient_missed_nudge` templates are approved",
        "height": 260,
        "width": 400
      },
      "id": "33333333-3333-3333-3333-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        60
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "33333333-3333-3333-3333-000000000002",
      "name": "Daily 10AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.* FROM public.patients p WHERE p.follow_up_date < CURRENT_DATE AND p.status NOT IN ('completed','inactive')",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000003",
      "name": "Read Patients from Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "U3Ok26tbDrmjkBQr",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter missed appointments and calculate the Twilio template to send.\nconst items = $input.all();\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst maxMessages = parseInt($env.MAX_MESSAGE_COUNT) || 5;\nconst minHours = parseInt($env.MIN_HOURS_BETWEEN_MESSAGES) || 23;\nconst now = new Date();\nconst todayStr = now.toLocaleDateString('en-CA', { timeZone: tz });\nconst todayDate = new Date(todayStr);\nconst actionable = [];\nfor (const item of items) {\n  const p = item.json;\n  if (!p.follow_up_date) continue;\n  const followUpDate = new Date(new Date(p.follow_up_date).toLocaleDateString('en-CA', { timeZone: tz }));\n  if (isNaN(followUpDate.getTime()) || followUpDate >= todayDate) continue;\n  const status = p.status || 'pending';\n  if (status === 'completed' || status === 'inactive') continue;\n  const daysOverdue = Math.floor((todayDate - followUpDate) / (1000 * 60 * 60 * 24));\n  const hasValidPhone = p.phone && /^\\+[1-9]\\d{6,14}$/.test(p.phone);\n  const msgCount = parseInt(p.message_count) || 0;\n  let recentlyMessaged = false;\n  if (p.last_message_sent) {\n    const hoursSince = (now - new Date(p.last_message_sent)) / (1000 * 60 * 60);\n    recentlyMessaged = hoursSince < minHours;\n  }\n  const doctor = p.doctor_name || $env.DEFAULT_DOCTOR_NAME || 'your doctor';\n  const clinic = p.clinic_name || $env.DEFAULT_CLINIC_NAME || 'our clinic';\n  const name = p.name || 'there';\n  const reminderContentSid = $env.TWILIO_CONTENT_PATIENT_REMINDER || '';\n  if (daysOverdue >= 7) {\n    actionable.push({ json: { ...p, _action: 'mark_missed', _days_overdue: daysOverdue, _workflow: 'workflow-3-missed-appointment' } });\n  } else if (daysOverdue === 3 && hasValidPhone && msgCount < maxMessages && !recentlyMessaged) {\n    const scheduledDate = todayStr;\n    actionable.push({ json: { ...p, _action: 'send_nudge', _days_overdue: daysOverdue, _workflow: 'workflow-3-missed-appointment', _message_type: 'missed_appointment_nudge', _scheduled_date: scheduledDate, _to_phone: 'whatsapp:' + p.phone, _name: name, _doctor_name: doctor, _clinic_name: clinic, _content_sid: reminderContentSid || $env.TWILIO_CONTENT_MISSED_NUDGE || '', _content_variables: JSON.stringify({ '1': name, '2': doctor, '3': clinic }), _message_body: `Hi ${name}, ${doctor} wanted us to check in on you. It has been a few days since your scheduled follow-up at ${clinic}. Reply BOOK if you would like to arrange a new appointment.` } });\n  } else if (daysOverdue === 1 && hasValidPhone && msgCount < maxMessages && !recentlyMessaged) {\n    const scheduledDate = todayStr;\n    actionable.push({ json: { ...p, _action: 'send_recovery', _days_overdue: daysOverdue, _workflow: 'workflow-3-missed-appointment', _message_type: 'missed_appointment_recovery', _scheduled_date: scheduledDate, _to_phone: 'whatsapp:' + p.phone, _name: name, _doctor_name: doctor, _content_sid: reminderContentSid || $env.TWILIO_CONTENT_MISSED_RECOVERY || '', _content_variables: JSON.stringify({ '1': name, '2': doctor }), _message_body: `Hi ${name}, we noticed you missed your follow-up appointment with ${doctor} yesterday. Would you like to reschedule? Reply RESCHEDULE and our team will get back to you.` } });\n  }\n}\nif (actionable.length === 0) return [{ json: { _skip: true, reason: 'No missed appointments to process', todayStr } }];\nreturn actionable;"
      },
      "id": "33333333-3333-3333-3333-000000000004",
      "name": "Filter Missed Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-check-wf3",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000005",
      "name": "Skip if No Patients",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "action-mark-missed",
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "mark_missed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mark Missed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "action-send-recovery",
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "send_recovery",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Send Recovery"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "action-send-nudge",
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "send_nudge",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Send Nudge"
            }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000006",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1120,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET status = 'missed', updated_at = NOW() WHERE id = '{{ $json.id }}'",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000007",
      "name": "Mark Missed in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "U3Ok26tbDrmjkBQr",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $env.TWILIO_WHATSAPP_FROM }}"
            },
            {
              "name": "To",
              "value": "={{ $json._to_phone }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $json._content_sid }}"
            },
            {
              "name": "ContentVariables",
              "value": "={{ $json._content_variables }}"
            },
            {
              "name": "StatusCallback",
              "value": "={{ $env.TWILIO_STATUS_CALLBACK_URL || \"\" }}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      },
      "id": "33333333-3333-3333-3333-000000000008",
      "name": "Send Recovery Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_TWILIO_BASIC_AUTH",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $env.TWILIO_WHATSAPP_FROM }}"
            },
            {
              "name": "To",
              "value": "={{ $json._to_phone }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $json._content_sid }}"
            },
            {
              "name": "ContentVariables",
              "value": "={{ $json._content_variables }}"
            },
            {
              "name": "StatusCallback",
              "value": "={{ $env.TWILIO_STATUS_CALLBACK_URL || \"\" }}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 30000
          }
        }
      },
      "id": "33333333-3333-3333-3333-000000000009",
      "name": "Send Nudge Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        460
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_TWILIO_BASIC_AUTH",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET last_message_sent = NOW(), message_count = message_count + 1, updated_at = NOW() WHERE id = '{{ $('Filter Missed Appointments').item.json.id }}'",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000010",
      "name": "Update Patient After Send",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "U3Ok26tbDrmjkBQr",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "message_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $('Filter Missed Appointments').item.json.id }}",
            "patient_name": "={{ $('Filter Missed Appointments').item.json.name }}",
            "phone": "={{ $('Filter Missed Appointments').item.json.phone }}",
            "workflow_name": "workflow-3-missed-appointment",
            "message_type": "={{ $('Filter Missed Appointments').item.json._message_type }}",
            "message_sent": "={{ $('Filter Missed Appointments').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "scheduled_date": "={{ $('Filter Missed Appointments').item.json._scheduled_date }}",
            "provider_message_id": "={{ $json.sid || $json.Sid || \"\" }}",
            "twilio_message_sid": "={{ $json.sid || $json.Sid || \"\" }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000011",
      "name": "Log Message to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1780,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "U3Ok26tbDrmjkBQr",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-3-missed-appointment",
            "execution_id": "={{ $execution.id }}",
            "log_level": "INFO",
            "message": "=Patient marked as missed after {{ $('Filter Missed Appointments').item.json._days_overdue }} days overdue",
            "details": "={{ JSON.stringify({ patient_id: $('Filter Missed Appointments').item.json.id, phone: $('Filter Missed Appointments').item.json.phone, days_overdue: $('Filter Missed Appointments').item.json._days_overdue }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000012",
      "name": "Log Missed Status to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "U3Ok26tbDrmjkBQr",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.message_ledger (patient_id, message_type, scheduled_date, workflow_name, provider_message_id, twilio_message_sid, status) VALUES ( {{ $json.patient_id ? \"'\" + $json.patient_id + \"'\" : 'NULL' }}, '{{ $json.message_type }}', '{{ $json.scheduled_date }}', '{{ $json.workflow_name }}', '{{ ($json.provider_message_id || '').replace(/'/g, \"''\") }}', '{{ ($json.twilio_message_sid || '').replace(/'/g, \"''\") }}', 'sent' ) ON CONFLICT (patient_id, message_type, scheduled_date) DO UPDATE SET provider_message_id = EXCLUDED.provider_message_id, twilio_message_sid = EXCLUDED.twilio_message_sid, status = EXCLUDED.status, updated_at = NOW();",
        "options": {}
      },
      "id": "ledger-03-000000000001",
      "name": "Record Message Ledger",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2000,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    }
  ],
  "connections": {
    "Daily 10AM Trigger": {
      "main": [
        [
          {
            "node": "Read Patients from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Patients from Supabase": {
      "main": [
        [
          {
            "node": "Filter Missed Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Missed Appointments": {
      "main": [
        [
          {
            "node": "Skip if No Patients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if No Patients": {
      "main": [
        [],
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Mark Missed in Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Recovery Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Nudge Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Missed in Supabase": {
      "main": [
        [
          {
            "node": "Log Missed Status to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Recovery Message": {
      "main": [
        [
          {
            "node": "Update Patient After Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Nudge Message": {
      "main": [
        [
          {
            "node": "Update Patient After Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Patient After Send": {
      "main": [
        [
          {
            "node": "Log Message to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Message to Supabase": {
      "main": [
        [
          {
            "node": "Record Message Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33333333-3333-3333-3333-333333333303",
  "id": "wf3-missed-appointment",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "id": "tag-patient-retention",
      "name": "patient-retention"
    },
    {
      "id": "tag-recovery",
      "name": "recovery"
    }
  ]
}
