workflows/workflow-11-form-intake.json
{
  "name": "WF11 \u2014 QR Form Intake",
  "nodes": [
    {
      "parameters": {
        "content": "## WF11 \u2014 QR Form Intake\n\n**Trigger:** POST webhook from the patient registration HTML form (clinic QR scan).\n**Path:** `/webhook/patient-form-intake`\n\n**Modes:** `shared_qr` (legacy-compatible hospital dropdown) and `clinic_qr` (multitenant token).\n\n**Security model:** Clinic identity is resolved server-side from `intake_token`; raw `clinic_id`, hospital query parameters, and user-edited clinic names are not trusted.\n\n**Flow:**\n1. Receive patient identity, doctor selection, visit date, and QR intake token\n2. Server-side validation (mirrors frontend rules \u2014 second line of defence)\n3. Resolve the active clinic from `public.clinic_intake_tokens`\n4. Generate clinic-scoped patient code\n5. Upsert patient identity by `(clinic_id, phone)`\n6. Insert a fresh `public.patient_visits` row with status `waiting`\n7. Call WF7 webhook to send welcome WhatsApp (fire-and-forget)\n8. Respond to the form: `{ status, patient_code, visit_id }` on success, `{ errors[] }` on failure\n\n**Payload fields:** patient_name, phone_number, dob, sex, intake_token, hospital_name, doctor_name, visit_date\n\nFollow-up requirement and follow-up date are intentionally doctor-dashboard owned and are set when a prescription is issued. Clinical context fields such as chief_complaint, symptoms_duration, known_allergies, current_medicines, existing_conditions, and vitals_notes are also doctor-dashboard owned and are updated on `public.patient_visits` after the patient appears in the queue.\n\n**Activation order:** WF8 \u2192 WF7 \u2192 WF11 (WF7 webhook must be live before WF11 calls it)\n\n**Credentials to set:**\n- 4\u00d7 Postgres nodes \u2192 Supabase DB\n- HTTP Request (Call WF7) \u2014 no credential needed (internal n8n call)",
        "height": 380,
        "width": 400
      },
      "id": "11111111-1111-1111-1111-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        180
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "patient-form-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000002",
      "name": "Webhook \u2014 Form Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        320
      ],
      "webhookId": "patient-form-intake-webhook"
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500 Server-side validation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Clinic identity is resolved server-side. In clinic_qr mode it comes from\n// intake_token. In shared_qr mode it comes from the selected hospital+doctor.\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst errors = [];\nconst clean = (value, max = 1000) => String(value || '').trim().slice(0, max);\n\nconst patientName = clean(body.patient_name, 100);\nconst phoneRaw    = clean(body.phone_number, 20);\nconst dob         = clean(body.dob, 20);\nconst sex         = clean(body.sex, 20);\nconst intakeToken = clean(body.intake_token || body.intakeToken, 80).toLowerCase();\nconst hospitalName = clean(body.hospital_name, 180);\nconst clinicMode  = ['clinic_qr', 'shared_qr'].includes(clean(body.clinic_mode || body.clinicMode, 40).toLowerCase())\n  ? clean(body.clinic_mode || body.clinicMode, 40).toLowerCase()\n  : (intakeToken ? 'clinic_qr' : 'shared_qr');\nconst doctorName  = clean(body.doctor_name, 160);\nconst visitDate   = clean(body.visit_date, 20);\n\nconst ISO_DATE = /^\\d{4}-\\d{2}-\\d{2}$/;\nconst PHONE_RE = /^[0-9]{10}$/;\nconst timezone = $env.TIMEZONE || 'Asia/Kolkata';\nconst todayStr = new Date().toLocaleDateString('en-CA', { timeZone: timezone });\n\nfunction rateLimitRequest(scope, key, limit, windowMs) {\n  if (!key) return null;\n  try {\n    const store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n    if (!store) return null;\n    store._rateLimits = store._rateLimits || {};\n    const now = Date.now();\n    const bucketKey = scope + ':' + key;\n    const bucket = Array.isArray(store._rateLimits[bucketKey]) ? store._rateLimits[bucketKey] : [];\n    const recent = bucket.filter(ts => now - ts < windowMs);\n    recent.push(now);\n    store._rateLimits[bucketKey] = recent;\n    return recent.length > limit ? Math.ceil((windowMs - (now - recent[0])) / 1000) : null;\n  } catch (_) {\n    return null;\n  }\n}\n\nconst headers = $input.first().json.headers || {};\nconst header = name => headers[name] || headers[name.toLowerCase()] || headers[name.toUpperCase()] || '';\nconst clientIp = String(header('x-forwarded-for') || header('x-real-ip') || 'unknown').split(',')[0].trim();\nconst ipRetryAfter = rateLimitRequest('patient-form-ip', clientIp, 80, 15 * 60 * 1000);\nconst phoneRetryAfter = PHONE_RE.test(phoneRaw) ? rateLimitRequest('patient-form-phone', phoneRaw, 8, 15 * 60 * 1000) : null;\nif (ipRetryAfter || phoneRetryAfter) errors.push('too_many_requests: please wait before submitting again');\n\nif (!patientName || patientName.length < 2) errors.push('patient_name: required, minimum 2 characters');\nif (!PHONE_RE.test(phoneRaw)) errors.push('phone_number: must be exactly 10 digits (no +91)');\nif (clinicMode === 'clinic_qr' && (!intakeToken || !/^[a-f0-9]{64}$/.test(intakeToken))) errors.push('intake_token: valid clinic QR token is required');\nif (clinicMode === 'shared_qr' && !hospitalName) errors.push('hospital_name: required for shared QR mode');\nif (!doctorName) errors.push('doctor_name: required');\nif (!visitDate || !ISO_DATE.test(visitDate)) errors.push('visit_date: required, format YYYY-MM-DD');\nelse if (visitDate > todayStr) errors.push('visit_date: cannot be in the future');\n\nif (sex && !['Male','Female','Other'].includes(sex)) errors.push('sex: must be Male, Female, or Other');\n\nif (dob) {\n  if (!ISO_DATE.test(dob)) errors.push('dob: format must be YYYY-MM-DD');\n  else if (dob >= todayStr) errors.push('dob: must be a past date');\n}\n\nif (errors.length > 0) return [{ json: { _valid: false, _errors: errors } }];\n\nconst phone = '+91' + phoneRaw;\n\nreturn [{\n  json: {\n    _valid: true,\n    _errors: [],\n    patient_name: patientName,\n    phone,\n    dob: dob || null,\n    sex: sex || null,\n    intake_token: intakeToken,\n    clinic_mode: clinicMode,\n    hospital_name: hospitalName,\n    doctor_name: doctorName,\n    visit_date: visitDate,\n    clinic_name: hospitalName,\n  }\n}];"
      },
      "id": "11111111-1111-1111-1111-000000000003",
      "name": "Validate and Normalise",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json._valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000004",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH resolved AS (\n  SELECT clinic_id::text AS clinic_id, hospital_name\n  FROM public.resolve_public_intake_token('{{ $('Validate and Normalise').first().json.intake_token }}')\n  WHERE lower(trim(doctor_name)) = lower(trim('{{ $('Validate and Normalise').first().json.doctor_name.replace(/'/g, \"''\") }}'))\n  ORDER BY hospital_name\n  LIMIT 1\n)\nSELECT TRUE AS token_valid, clinic_id, hospital_name FROM resolved\nUNION ALL\nSELECT FALSE AS token_valid, NULL::text AS clinic_id, NULL::text AS hospital_name\nWHERE NOT EXISTS (SELECT 1 FROM resolved);",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000005",
      "name": "Resolve Clinic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1040,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pull validated fields from the Validate node and server-resolved clinic.\nconst v = $('Validate and Normalise').first().json;\nconst resolved = $input.first().json || {};\n\nif (!resolved.token_valid || !resolved.clinic_id) {\n  const source = v.clinic_mode === 'shared_qr' ? 'selected clinic and doctor' : 'intake token';\n  return [{ json: { _valid: false, _errors: [source + ': invalid, inactive, or doctor is not linked to this clinic'] } }];\n}\n\nreturn [{\n  json: {\n    _valid: true,\n    patient_code: null,\n    name: v.patient_name,\n    phone: v.phone,\n    dob: v.dob,\n    sex: v.sex,\n    clinic_name: resolved.hospital_name,\n    clinic_id: resolved.clinic_id,\n    doctor_name: v.doctor_name,\n    visit_date: v.visit_date,\n    follow_up_required: 'No',\n    follow_up_date: null,\n  }\n}];"
      },
      "id": "11111111-1111-1111-1111-000000000006",
      "name": "Assign Patient Code (Clinic QR)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "clinic-token-valid",
              "leftValue": "={{ $json._valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000014",
      "name": "Clinic Token Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1480,
        120
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH clinic AS (\n  SELECT '{{ $json.clinic_id }}'::uuid AS id\n), upserted AS (\n  INSERT INTO public.patients\n    (clinic_id, patient_code, name, phone, dob, sex, clinic_name, doctor_name,\n     visit_date, follow_up_required, follow_up_date, status, message_count,\n     created_at, updated_at)\n  VALUES (\n    (SELECT id FROM clinic),\n    public.next_patient_code((SELECT id FROM clinic)),\n    '{{ $json.name.replace(/'/g, \"''\") }}',\n    '{{ $json.phone }}',\n    {{ $json.dob ? \"'\" + $json.dob + \"'\" : 'NULL' }},\n    {{ $json.sex ? \"'\" + $json.sex + \"'\" : 'NULL' }},\n    '{{ $json.clinic_name.replace(/'/g, \"''\") }}',\n    '{{ $json.doctor_name.replace(/'/g, \"''\") }}',\n    '{{ $json.visit_date }}',\n    'No',\n    NULL,\n    'pending', 0,\n    NOW(), NOW()\n  )\n  ON CONFLICT (clinic_id, phone) DO UPDATE SET\n    name               = EXCLUDED.name,\n    dob                = COALESCE(EXCLUDED.dob, public.patients.dob),\n    sex                = COALESCE(EXCLUDED.sex, public.patients.sex),\n    clinic_name        = EXCLUDED.clinic_name,\n    doctor_name        = EXCLUDED.doctor_name,\n    visit_date         = EXCLUDED.visit_date,\n    follow_up_required = 'No',\n    follow_up_date     = NULL,\n    status             = 'pending',\n    health_check_sent  = FALSE,\n    reactivation_sent  = FALSE,\n    updated_at         = NOW()\n  RETURNING id, clinic_id, patient_code, name, phone\n), matched_doctor AS (\n  SELECT id\n  FROM public.doctor_profiles\n  WHERE clinic_id = (SELECT clinic_id FROM upserted)\n    AND lower(trim(doctor_name)) = lower(trim('{{ $('Assign Patient Code (Clinic QR)').first().json.doctor_name.replace(/'/g, \"''\") }}'))\n  ORDER BY created_at DESC\n  LIMIT 1\n), inserted_visit AS (\n  INSERT INTO public.patient_visits\n    (clinic_id, patient_id, doctor_profile_id, patient_code, clinic_name, doctor_name, visit_date,\n     visit_status, checked_in_at)\n  SELECT\n    u.clinic_id,\n    u.id,\n    (SELECT id FROM matched_doctor),\n    u.patient_code,\n    '{{ $('Assign Patient Code (Clinic QR)').first().json.clinic_name.replace(/'/g, \"''\") }}',\n    '{{ $('Assign Patient Code (Clinic QR)').first().json.doctor_name.replace(/'/g, \"''\") }}',\n    '{{ $('Assign Patient Code (Clinic QR)').first().json.visit_date }}',\n    'waiting',\n    NOW()\n  FROM upserted u\n  RETURNING id::text AS visit_id, clinic_id::text AS clinic_id, patient_id::text AS patient_id, doctor_profile_id::text AS doctor_profile_id, visit_status\n)\nSELECT\n  u.id::text AS id,\n  u.clinic_id::text AS clinic_id,\n  u.patient_code,\n  u.name,\n  u.phone,\n  iv.visit_id,\n  iv.patient_id,\n  iv.doctor_profile_id,\n  iv.visit_status\nFROM upserted u\nJOIN inserted_visit iv ON iv.patient_id = u.id::text;",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000007",
      "name": "Upsert Patient (Clinic QR)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH matched_doctor AS (\n  SELECT id\n  FROM public.doctor_profiles\n  WHERE clinic_id = '{{ $('Upsert Patient (Clinic QR)').first().json.clinic_id }}'::uuid\n    AND lower(trim(doctor_name)) = lower(trim('{{ $('Assign Patient Code (Clinic QR)').first().json.doctor_name.replace(/'/g, \"''\") }}'))\n  ORDER BY created_at DESC\n  LIMIT 1\n)\nINSERT INTO public.patient_visits\n  (clinic_id, patient_id, doctor_profile_id, patient_code, clinic_name, doctor_name, visit_date,\n   visit_status, checked_in_at)\nVALUES (\n  '{{ $('Upsert Patient (Clinic QR)').first().json.clinic_id }}',\n  '{{ $('Upsert Patient (Clinic QR)').first().json.id }}',\n  (SELECT id FROM matched_doctor),\n  '{{ $('Upsert Patient (Clinic QR)').first().json.patient_code }}',\n  '{{ $('Assign Patient Code (Clinic QR)').first().json.clinic_name.replace(/'/g, \"''\") }}',\n  '{{ $('Assign Patient Code (Clinic QR)').first().json.doctor_name.replace(/'/g, \"''\") }}',\n  '{{ $('Assign Patient Code (Clinic QR)').first().json.visit_date }}',\n  'waiting',\n  NOW()\n)\nRETURNING id::text AS visit_id, clinic_id::text AS clinic_id, patient_id::text AS patient_id, doctor_profile_id::text AS doctor_profile_id, visit_status;",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000013",
      "name": "Insert Patient Visit (Clinic QR)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1780,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "__WEBHOOK_URL__/webhook/new-patient-intake",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "patient_code",
              "value": "={{ $('Build Success Payload').first().json.patient_code }}"
            },
            {
              "name": "clinic_id",
              "value": "={{ $('Build Success Payload').first().json.clinic_id || '' }}"
            },
            {
              "name": "name",
              "value": "={{ $('Build Success Payload').first().json.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Build Success Payload').first().json.phone }}"
            },
            {
              "name": "clinic_name",
              "value": "={{ $('Build Success Payload').first().json.clinic_name }}"
            },
            {
              "name": "doctor_name",
              "value": "={{ $('Build Success Payload').first().json.doctor_name }}"
            },
            {
              "name": "visit_date",
              "value": "={{ $('Build Success Payload').first().json.visit_date }}"
            }
          ]
        },
        "options": {
          "timeout": 8000,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "11111111-1111-1111-1111-000000000008",
      "name": "Call WF7 Welcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        320
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-11-form-intake",
            "execution_id": "={{ $execution.id }}",
            "log_level": "INFO",
            "message": "New patient registered via QR form",
            "details": "={{ JSON.stringify({ patient_code: $('Build Success Payload').first().json.patient_code, visit_id: $('Build Success Payload').first().json.visit_id, phone: $('Build Success Payload').first().json.phone, name: $('Build Success Payload').first().json.name }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000009",
      "name": "Log Registration",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2360,
        320
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', patient_code: $('Build Success Payload').first().json.patient_code, visit_id: $('Build Success Payload').first().json.visit_id, message: 'Registration complete. Please wait for your consultation.' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "11111111-1111-1111-1111-000000000010",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2580,
        320
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-11-form-intake",
            "execution_id": "={{ $execution.id }}",
            "log_level": "WARN",
            "message": "Form submission rejected \u2014 validation failed",
            "details": "={{ JSON.stringify({ errors: $json._errors || $('Validate and Normalise').first().json._errors || [] }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000011",
      "name": "Log Validation Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        460
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Validation failed', errors: $json._errors || $('Validate and Normalise').first().json._errors || [] }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "11111111-1111-1111-1111-000000000012",
      "name": "Respond 400 Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "11111111-1111-1111-1111-000000000015-cond",
              "leftValue": "={{ $('Validate and Normalise').first().json.clinic_mode }}",
              "rightValue": "shared_qr",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000015",
      "name": "Shared QR?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        820,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*)::int AS total FROM public.patients;",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000016",
      "name": "Get Patient Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1040,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT public.get_or_create_clinic_id('{{ $('Validate and Normalise').first().json.hospital_name.replace(/'/g, \"''\") }}')::text AS clinic_id;",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000021",
      "name": "Resolve Clinic (Shared)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1260,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const v = $('Validate and Normalise').first().json;\nconst count = $('Get Patient Count').first().json.total || 0;\nconst resolved = $('Resolve Clinic (Shared)').first().json || {};\nconst patientCode = 'PAT-' + String(count + 1).padStart(4, '0');\nreturn [{\n  json: {\n    patient_code: patientCode,\n    clinic_id: resolved.clinic_id || null,\n    name: v.patient_name,\n    phone: v.phone,\n    dob: v.dob,\n    sex: v.sex,\n    clinic_name: v.clinic_name || v.hospital_name,\n    doctor_name: v.doctor_name,\n    visit_date: v.visit_date,\n    follow_up_required: 'No',\n    follow_up_date: null,\n  }\n}];"
      },
      "id": "11111111-1111-1111-1111-000000000017",
      "name": "Assign Patient Code (Shared)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        420
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH clinic AS (\n  SELECT '{{ $('Assign Patient Code (Shared)').first().json.clinic_id }}'::uuid AS id\n), existing AS (\n  SELECT id::text AS id, clinic_id::text AS clinic_id, patient_code, name, phone\n  FROM public.patients\n  WHERE clinic_id = (SELECT id FROM clinic)\n    AND phone = '{{ $('Assign Patient Code (Shared)').first().json.phone }}'\n  LIMIT 1\n), updated AS (\n  UPDATE public.patients SET\n    name               = '{{ $('Assign Patient Code (Shared)').first().json.name.replace(/'/g, \"''\") }}',\n    dob                = {{ $('Assign Patient Code (Shared)').first().json.dob ? \"'\" + $('Assign Patient Code (Shared)').first().json.dob + \"'\" : 'NULL' }},\n    sex                = {{ $('Assign Patient Code (Shared)').first().json.sex ? \"'\" + $('Assign Patient Code (Shared)').first().json.sex + \"'\" : 'NULL' }},\n    clinic_name        = '{{ $('Assign Patient Code (Shared)').first().json.clinic_name.replace(/'/g, \"''\") }}',\n    doctor_name        = '{{ $('Assign Patient Code (Shared)').first().json.doctor_name.replace(/'/g, \"''\") }}',\n    visit_date         = '{{ $('Assign Patient Code (Shared)').first().json.visit_date }}',\n    follow_up_required = 'No',\n    follow_up_date     = NULL,\n    status             = 'pending',\n    health_check_sent  = FALSE,\n    reactivation_sent  = FALSE,\n    updated_at         = NOW()\n  WHERE clinic_id = (SELECT id FROM clinic)\n    AND phone = '{{ $('Assign Patient Code (Shared)').first().json.phone }}'\n  RETURNING id::text AS id, clinic_id::text AS clinic_id, patient_code, name, phone\n), inserted AS (\n  INSERT INTO public.patients\n    (clinic_id, patient_code, name, phone, dob, sex, clinic_name, doctor_name,\n     visit_date, follow_up_required, follow_up_date, status, message_count,\n     created_at, updated_at)\n  SELECT\n    (SELECT id FROM clinic),\n    '{{ $('Assign Patient Code (Shared)').first().json.patient_code }}',\n    '{{ $('Assign Patient Code (Shared)').first().json.name.replace(/'/g, \"''\") }}',\n    '{{ $('Assign Patient Code (Shared)').first().json.phone }}',\n    {{ $('Assign Patient Code (Shared)').first().json.dob ? \"'\" + $('Assign Patient Code (Shared)').first().json.dob + \"'\" : 'NULL' }},\n    {{ $('Assign Patient Code (Shared)').first().json.sex ? \"'\" + $('Assign Patient Code (Shared)').first().json.sex + \"'\" : 'NULL' }},\n    '{{ $('Assign Patient Code (Shared)').first().json.clinic_name.replace(/'/g, \"''\") }}',\n    '{{ $('Assign Patient Code (Shared)').first().json.doctor_name.replace(/'/g, \"''\") }}',\n    '{{ $('Assign Patient Code (Shared)').first().json.visit_date }}',\n    'No',\n    NULL,\n    'pending', 0,\n    NOW(), NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM existing)\n  RETURNING id::text AS id, clinic_id::text AS clinic_id, patient_code, name, phone\n)\nSELECT * FROM updated\nUNION ALL\nSELECT * FROM inserted;",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000018",
      "name": "Upsert Patient (Shared)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1480,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH matched_doctor AS (\n  SELECT id\n  FROM public.doctor_profiles\n  WHERE clinic_id = '{{ $('Assign Patient Code (Shared)').first().json.clinic_id }}'::uuid\n    AND lower(trim(doctor_name)) = lower(trim('{{ $('Assign Patient Code (Shared)').first().json.doctor_name.replace(/'/g, \"''\") }}'))\n  ORDER BY created_at DESC\n  LIMIT 1\n)\nINSERT INTO public.patient_visits\n  (clinic_id, patient_id, doctor_profile_id, patient_code, clinic_name, doctor_name, visit_date,\n   visit_status, checked_in_at)\nVALUES (\n  '{{ $('Assign Patient Code (Shared)').first().json.clinic_id }}',\n  '{{ $('Upsert Patient (Shared)').first().json.id }}',\n  (SELECT id FROM matched_doctor),\n  '{{ $('Upsert Patient (Shared)').first().json.patient_code }}',\n  '{{ $('Assign Patient Code (Shared)').first().json.clinic_name.replace(/'/g, \"''\") }}',\n  '{{ $('Assign Patient Code (Shared)').first().json.doctor_name.replace(/'/g, \"''\") }}',\n  '{{ $('Assign Patient Code (Shared)').first().json.visit_date }}',\n  'waiting',\n  NOW()\n)\nRETURNING id::text AS visit_id, clinic_id::text AS clinic_id, patient_id::text AS patient_id, doctor_profile_id::text AS doctor_profile_id, visit_status;",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000019",
      "name": "Insert Patient Visit (Shared)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1700,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function first(nodeName) {\n  try { return $(nodeName).first().json || {}; } catch (_) { return {}; }\n}\n\nconst sharedAssign = first('Assign Patient Code (Shared)');\nconst clinicAssign = first('Assign Patient Code (Clinic QR)');\nconst sharedUpsert = first('Upsert Patient (Shared)');\nconst clinicUpsert = first('Upsert Patient (Clinic QR)');\nconst sharedVisit = first('Insert Patient Visit (Shared)');\n\nconst assign = sharedAssign.patient_code ? sharedAssign : clinicAssign;\nconst upsert = sharedUpsert.patient_code ? sharedUpsert : clinicUpsert;\nconst visitId = sharedVisit.visit_id || clinicUpsert.visit_id || null;\n\nreturn [{\n  json: {\n    patient_code: upsert.patient_code,\n    visit_id: visitId,\n    clinic_id: upsert.clinic_id || null,\n    name: assign.name || upsert.name,\n    phone: assign.phone || upsert.phone,\n    clinic_name: assign.clinic_name,\n    doctor_name: assign.doctor_name,\n    visit_date: assign.visit_date,\n  }\n}];"
      },
      "id": "11111111-1111-1111-1111-000000000020",
      "name": "Build Success Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        320
      ]
    }
  ],
  "connections": {
    "Webhook \u2014 Form Intake": {
      "main": [
        [
          {
            "node": "Validate and Normalise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Normalise": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Shared QR?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Validation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shared QR?": {
      "main": [
        [
          {
            "node": "Get Patient Count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve Clinic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Patient Count": {
      "main": [
        [
          {
            "node": "Resolve Clinic (Shared)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Clinic (Shared)": {
      "main": [
        [
          {
            "node": "Assign Patient Code (Shared)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Patient Code (Shared)": {
      "main": [
        [
          {
            "node": "Upsert Patient (Shared)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Patient (Shared)": {
      "main": [
        [
          {
            "node": "Insert Patient Visit (Shared)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Patient Visit (Shared)": {
      "main": [
        [
          {
            "node": "Build Success Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Clinic": {
      "main": [
        [
          {
            "node": "Assign Patient Code (Clinic QR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Patient Code (Clinic QR)": {
      "main": [
        [
          {
            "node": "Clinic Token Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clinic Token Valid?": {
      "main": [
        [
          {
            "node": "Upsert Patient (Clinic QR)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Validation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Patient (Clinic QR)": {
      "main": [
        [
          {
            "node": "Build Success Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Payload": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF7 Welcome": {
      "main": [
        [
          {
            "node": "Log Registration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Registration": {
      "main": [
        []
      ]
    },
    "Log Validation Failure": {
      "main": [
        [
          {
            "node": "Respond 400 Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 OK": {
      "main": [
        [
          {
            "node": "Call WF7 Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "workflow-8-error-handler"
  },
  "staticData": null,
  "tags": [
    {
      "id": "wf11-tag",
      "name": "intake"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "wf11-v2",
  "id": "wf11-form-intake",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
