workflows/workflow-7-new-patient.json
{
  "name": "WF7 — New Patient Welcome",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 7: New Patient Welcome\n\n**Trigger:** HTTP Webhook — called by WF11 (QR Form Intake) after a new patient is successfully upserted to Supabase.\n\n**Webhook path:** `new-patient-intake` (hardcoded literal — must match WF11's HTTP call)\n\n**What it does:**\n1. Receives patient data from WF11 (patient_code, name, phone, clinic_name, doctor_name, follow_up_required, follow_up_date, visit_date)\n2. Sends a personalized welcome WhatsApp message via Twilio\n3. Updates Supabase: `last_message_sent`, `message_count = 1`\n4. Logs send result to `public.message_logs` and failures to `public.system_logs`\n\n**Data source:** Supabase `public.patients` (all state is in Supabase)\n\n**Before activating:**\n1. Activate THIS workflow BEFORE WF11 (webhook must be live before form submissions arrive)\n2. Set credential on all Postgres nodes → Supabase DB\n3. Set credential on HTTP Request node → Twilio Basic Auth\n4. Set `WEBHOOK_URL` in `.env` to your public n8n base URL (e.g. https://your-n8n.example.com)",
        "height": 420,
        "width": 480
      },
      "id": "77777777-7777-7777-7777-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60]
    },
    {
      "parameters": {
        "path": "new-patient-intake",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000002",
      "name": "Webhook — New Patient",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 540],
      "webhookId": "new-patient-intake-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Payload sent by WF11: patient_code, name, phone (E.164), clinic_name, doctor_name,\n// follow_up_required, follow_up_date, visit_date\nconst data = $input.first().json.body || $input.first().json;\n\nconst name           = String(data.name           || data.patient_name || '').trim();\nconst phone          = String(data.phone          || '').trim();\nconst patientCode    = String(data.patient_code   || '').trim();\nconst clinicName     = String(data.clinic_name    || 'our clinic').trim();\nconst doctorName     = String(data.doctor_name    || 'your doctor').trim();\nconst followUpRequired = String(data.follow_up_required || 'No').trim();\nconst followUpDate   = data.follow_up_date || null;\n\nif (!phone || !/^\\+[1-9]\\d{6,14}$/.test(phone)) {\n  return [{ json: { _skip: true, reason: `Invalid phone: ${phone}`, patientCode } }];\n}\nif (!name) {\n  return [{ json: { _skip: true, reason: 'Empty patient name', patientCode } }];\n}\n\nlet msg = `Hi ${name}! 👋 Welcome to ${clinicName}. Your visit with ${doctorName} has been recorded.\\n\\n`;\n\nif (followUpRequired === 'Yes' && followUpDate) {\n  const fuDisplay = new Date(followUpDate).toLocaleDateString('en-IN', {\n    day: 'numeric', month: 'long', year: 'numeric'\n  });\n  msg += `Your follow-up is scheduled for *${fuDisplay}*. We will remind you closer to the date.\\n\\n`;\n}\n\nmsg += `Reply *CONFIRM* to confirm or *CANCEL* to cancel. Take care! 💙`;\n\nreturn [{\n  json: {\n    _skip:          false,\n    _patient_name:  name,\n    _phone:         phone,\n    _patient_code:  patientCode,\n    _to_phone:      'whatsapp:' + phone,\n    _message_body:  msg,\n    _message_type:  'welcome'\n  }\n}];"
      },
      "id": "77777777-7777-7777-7777-000000000003",
      "name": "Build Welcome Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 540]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "skip-check-wf7",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000004",
      "name": "Skip if Invalid Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 540]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "={{ $json._to_phone }}" },
            { "name": "From", "value": "={{ $env.TWILIO_WHATSAPP_NUMBER }}" },
            { "name": "Body", "value": "={{ $json._message_body }}" }
          ]
        },
        "options": { "retry": { "maxTries": 2, "waitBetweenTries": 15000 } }
      },
      "id": "77777777-7777-7777-7777-000000000005",
      "name": "Send Welcome Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_TWILIO_CREDENTIAL_ID",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET last_message_sent = NOW(), message_count = 1, updated_at = NOW() WHERE phone = '{{ $('Build Welcome Message').item.json._phone }}'",
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000006",
      "name": "Update Patient Welcome Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 320],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "message_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_name": "={{ $('Build Welcome Message').item.json._patient_name }}",
            "phone": "={{ $('Build Welcome Message').item.json._phone }}",
            "workflow_name": "workflow-7-new-patient",
            "message_type": "welcome",
            "message_sent": "={{ $('Build Welcome Message').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "twilio_sid": "={{ $json.sid || '' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000007",
      "name": "Log Welcome Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 500],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "system_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-7-new-patient",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to send welcome message to new patient",
            "details": "={{ JSON.stringify({ patient_code: $('Build Welcome Message').item.json._patient_code, phone: $('Build Welcome Message').item.json._phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000008",
      "name": "Log Welcome Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 660],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Welcome message queued\" }",
        "options": { "responseCode": 200 }
      },
      "id": "77777777-7777-7777-7777-000000000009",
      "name": "Respond OK to WF11",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 420]
    }
  ],
  "connections": {
    "Webhook — New Patient": {
      "main": [[{ "node": "Build Welcome Message", "type": "main", "index": 0 }]]
    },
    "Build Welcome Message": {
      "main": [[{ "node": "Skip if Invalid Data?", "type": "main", "index": 0 }]]
    },
    "Skip if Invalid Data?": {
      "main": [
        [],
        [{ "node": "Send Welcome Message", "type": "main", "index": 0 }]
      ]
    },
    "Send Welcome Message": {
      "main": [
        [
          { "node": "Update Patient Welcome Sent", "type": "main", "index": 0 },
          { "node": "Log Welcome Message", "type": "main", "index": 0 },
          { "node": "Respond OK to WF11", "type": "main", "index": 0 }
        ],
        [{ "node": "Log Welcome Failure", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "77777777-7777-7777-7777-777777777707",
  "id": "wf7-new-patient",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [
    { "name": "patient-retention" },
    { "name": "onboarding" }
  ]
}
