workflows/workflow-3-missed-appointment.json
{
  "name": "WF3 — Missed Appointment Recovery",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 3: Missed Appointment Recovery\n\n**Trigger:** Daily at 10:00 AM\n\n**Logic (from Supabase):**\n- Day +1: Empathetic recovery message\n- Day +3: Second nudge referencing the doctor\n- Day +7: Marks patient status as `missed` in Supabase (stops messaging)\n\nReads ONLY from Supabase `public.patients`.\n\n**Before activating:**\n1. Set credential on all Postgres nodes → Supabase DB\n2. Set credential on HTTP nodes → Twilio Basic Auth",
        "height": 260,
        "width": 400
      },
      "id": "33333333-3333-3333-3333-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "33333333-3333-3333-3333-000000000002",
      "name": "Daily 10AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 380]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.patients WHERE follow_up_date < CURRENT_DATE AND status NOT IN ('completed','inactive')",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000003",
      "name": "Read Patients from Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 380],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter patients with missed appointments and calculate days overdue\nconst items = $input.all();\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst maxMessages = parseInt($env.MAX_MESSAGE_COUNT) || 5;\nconst minHours = parseInt($env.MIN_HOURS_BETWEEN_MESSAGES) || 23;\n\nconst now = new Date();\nconst todayStr = now.toLocaleDateString('en-CA', { timeZone: tz });\nconst todayDate = new Date(todayStr);\n\nconst actionable = [];\n\nfor (const item of items) {\n  const p = item.json;\n\n  if (!p.follow_up_date) continue;\n\n  const followUpDate = new Date(p.follow_up_date);\n  if (isNaN(followUpDate.getTime())) continue;\n\n  if (followUpDate >= todayDate) continue;\n\n  const status = p.status || 'pending';\n  if (status === 'completed' || status === 'inactive') continue;\n\n  const diffMs = todayDate - followUpDate;\n  const daysOverdue = Math.floor(diffMs / (1000 * 60 * 60 * 24));\n\n  const hasValidPhone = p.phone && /^\\+[1-9]\\d{6,14}$/.test(p.phone);\n  const msgCount = parseInt(p.message_count) || 0;\n\n  let recentlyMessaged = false;\n  if (p.last_message_sent) {\n    const lastSent = new Date(p.last_message_sent);\n    const hoursSince = (now - lastSent) / (1000 * 60 * 60);\n    recentlyMessaged = hoursSince < minHours;\n  }\n\n  const doctorName = p.doctor_name || $env.DEFAULT_DOCTOR_NAME || 'your doctor';\n  const clinicName = p.clinic_name || $env.DEFAULT_CLINIC_NAME || 'our clinic';\n  const patientName = p.name || 'there';\n  const toPhone = hasValidPhone ? 'whatsapp:' + p.phone : null;\n\n  if (daysOverdue >= 7) {\n    actionable.push({\n      json: {\n        ...p,\n        _action: 'mark_missed',\n        _days_overdue: daysOverdue,\n        _workflow: 'workflow-3-missed-appointment'\n      }\n    });\n  } else if (daysOverdue === 3 && hasValidPhone && msgCount < maxMessages && !recentlyMessaged) {\n    actionable.push({\n      json: {\n        ...p,\n        _action: 'send_nudge',\n        _days_overdue: daysOverdue,\n        _workflow: 'workflow-3-missed-appointment',\n        _message_type: 'missed_appointment_nudge',\n        _to_phone: toPhone,\n        _message_body: `Hi ${patientName}, ${doctorName} wanted us to check in on you. It's been a few days since your scheduled follow-up at ${clinicName}.\\n\\nSkipping follow-up care can sometimes delay recovery. If you'd like to book a new appointment, just reply *BOOK* and we'll arrange it for you. 💙`\n      }\n    });\n  } else if (daysOverdue === 1 && hasValidPhone && msgCount < maxMessages && !recentlyMessaged) {\n    actionable.push({\n      json: {\n        ...p,\n        _action: 'send_recovery',\n        _days_overdue: daysOverdue,\n        _workflow: 'workflow-3-missed-appointment',\n        _message_type: 'missed_appointment_recovery',\n        _to_phone: toPhone,\n        _message_body: `Hi ${patientName}, we noticed you missed your follow-up appointment with ${doctorName} yesterday. We completely understand that things come up! 😊\\n\\nYour health is important to us. Would you like to reschedule? Reply *RESCHEDULE* and our team will get back to you shortly.`\n      }\n    });\n  }\n}\n\nif (actionable.length === 0) {\n  return [{ json: { _skip: true, reason: 'No missed appointments to process', todayStr } }];\n}\n\nreturn actionable;"
      },
      "id": "33333333-3333-3333-3333-000000000004",
      "name": "Filter Missed Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "skip-check-wf3",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000005",
      "name": "Skip if No Patients",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 380]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "action-mark-missed",
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "mark_missed",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mark Missed"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "action-send-recovery",
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "send_recovery",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Send Recovery"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "action-send-nudge",
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "send_nudge",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Send Nudge"
            }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000006",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1120, 280]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET status = 'missed', updated_at = NOW() WHERE id = '{{ $json.id }}'",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000007",
      "name": "Mark Missed in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 120],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "={{ $json._to_phone }}" },
            { "name": "From", "value": "={{ $env.TWILIO_WHATSAPP_NUMBER }}" },
            { "name": "Body", "value": "={{ $json._message_body }}" }
          ]
        },
        "options": { "retry": { "maxTries": 3, "waitBetweenTries": 30000 } }
      },
      "id": "33333333-3333-3333-3333-000000000008",
      "name": "Send Recovery Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_TWILIO_CREDENTIAL_ID",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "={{ $json._to_phone }}" },
            { "name": "From", "value": "={{ $env.TWILIO_WHATSAPP_NUMBER }}" },
            { "name": "Body", "value": "={{ $json._message_body }}" }
          ]
        },
        "options": { "retry": { "maxTries": 3, "waitBetweenTries": 30000 } }
      },
      "id": "33333333-3333-3333-3333-000000000009",
      "name": "Send Nudge Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 460],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_TWILIO_CREDENTIAL_ID",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET last_message_sent = NOW(), message_count = message_count + 1, updated_at = NOW() WHERE id = '{{ $('Filter Missed Appointments').item.json.id }}'",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000010",
      "name": "Update Patient After Send",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1560, 380],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "message_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $('Filter Missed Appointments').item.json.id }}",
            "patient_name": "={{ $('Filter Missed Appointments').item.json.name }}",
            "phone": "={{ $('Filter Missed Appointments').item.json.phone }}",
            "workflow_name": "workflow-3-missed-appointment",
            "message_type": "={{ $('Filter Missed Appointments').item.json._message_type }}",
            "message_sent": "={{ $('Filter Missed Appointments').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000011",
      "name": "Log Message to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1780, 380],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "system_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-3-missed-appointment",
            "execution_id": "={{ $execution.id }}",
            "log_level": "INFO",
            "message": "=Patient marked as missed after {{ $('Filter Missed Appointments').item.json._days_overdue }} days overdue",
            "details": "={{ JSON.stringify({ patient_id: $('Filter Missed Appointments').item.json.id, phone: $('Filter Missed Appointments').item.json.phone, days_overdue: $('Filter Missed Appointments').item.json._days_overdue }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-000000000012",
      "name": "Log Missed Status to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1560, 120],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    }
  ],
  "connections": {
    "Daily 10AM Trigger": {
      "main": [[{ "node": "Read Patients from Supabase", "type": "main", "index": 0 }]]
    },
    "Read Patients from Supabase": {
      "main": [[{ "node": "Filter Missed Appointments", "type": "main", "index": 0 }]]
    },
    "Filter Missed Appointments": {
      "main": [[{ "node": "Skip if No Patients", "type": "main", "index": 0 }]]
    },
    "Skip if No Patients": {
      "main": [
        [],
        [{ "node": "Route by Action", "type": "main", "index": 0 }]
      ]
    },
    "Route by Action": {
      "main": [
        [{ "node": "Mark Missed in Supabase", "type": "main", "index": 0 }],
        [{ "node": "Send Recovery Message", "type": "main", "index": 0 }],
        [{ "node": "Send Nudge Message", "type": "main", "index": 0 }]
      ]
    },
    "Mark Missed in Supabase": {
      "main": [[{ "node": "Log Missed Status to Supabase", "type": "main", "index": 0 }]]
    },
    "Send Recovery Message": {
      "main": [[{ "node": "Update Patient After Send", "type": "main", "index": 0 }]]
    },
    "Send Nudge Message": {
      "main": [[{ "node": "Update Patient After Send", "type": "main", "index": 0 }]]
    },
    "Update Patient After Send": {
      "main": [[{ "node": "Log Message to Supabase", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "33333333-3333-3333-3333-333333333303",
  "id": "wf3-missed-appointment",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [
    { "name": "patient-retention" },
    { "name": "recovery" }
  ]
}
