workflows/workflow-6-feedback-listener.json
{
  "name": "WF6 — Feedback Listener (Inbound WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 6: Feedback Listener\n\n**Trigger:** Twilio webhook POST (always active)\n\n**Webhook URL:** Copy the production URL from the Webhook node and register it in Twilio WhatsApp sender or Messaging Service inbound settings.\n\n**Logic:**\n1. Receives Twilio WhatsApp fields: From, To, Body, ButtonText, ButtonPayload, MessageSid, WaId, ProfileName, NumMedia\n2. Extracts sender phone + message body (button taps take priority)\n3. Finds matching patient in Supabase by phone number\n4. Classifies response (confirmed / cancelled / help / book / responded)\n5. Updates patient record in Supabase\n6. On confirmation with follow_up_date: creates patient_visits queue entry (idempotent)\n7. Sends an optional free-form auto-reply inside the 24-hour customer service window\n8. Logs to Supabase system_logs\n\n**Before activating:**\n1. Set credential on Postgres nodes -> Supabase DB\n2. Set credential on HTTP Request node -> Twilio Basic Auth\n3. Set Twilio inbound webhook to /webhook/feedback-listener",
        "height": 420,
        "width": 500
      },
      "id": "66666666-6666-6666-6666-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        60
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback-listener",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000002",
      "name": "Webhook — Inbound Message (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        480
      ],
      "webhookId": "feedback-listener-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Twilio WhatsApp inbound webhook format. n8n may expose form fields at root or under body.\nconst input = $input.first().json;\nfunction getTwilioBody(raw) {\n  if (raw.body && typeof raw.body === 'object' && !Array.isArray(raw.body)) return raw.body;\n  const skip = new Set(['headers', 'params', 'query', 'body', 'webhookUrl', 'executionMode']);\n  const extracted = {};\n  for (const [key, value] of Object.entries(raw)) {\n    if (skip.has(key)) continue;\n    if (value === undefined || value === null || typeof value === 'object') continue;\n    extracted[key] = value;\n  }\n  return Object.keys(extracted).length ? extracted : raw;\n}\nconst body = getTwilioBody(input);\nconst headers = input.headers || {};\nconst header = name => headers[name] || headers[name.toLowerCase()] || headers[name.toUpperCase()] || '';\n\nasync function hmacSha1Base64(secret, data) {\n  if (typeof require === 'function') {\n    try {\n      return require('crypto').createHmac('sha1', secret).update(data).digest('base64');\n    } catch (_) {}\n  }\n  if (globalThis.crypto?.subtle) {\n    const key = await crypto.subtle.importKey('raw', new TextEncoder().encode(secret), { name: 'HMAC', hash: 'SHA-1' }, false, ['sign']);\n    const signature = await crypto.subtle.sign('HMAC', key, new TextEncoder().encode(data));\n    return btoa(String.fromCharCode(...new Uint8Array(signature)));\n  }\n  throw new Error('No HMAC implementation available for Twilio signature validation');\n}\n\nasync function validateTwilioSignature(webhookPath) {\n  if (String($env.TWILIO_VALIDATE_WEBHOOK_SIGNATURE || '').toLowerCase() !== 'true') return true;\n  const signature = String(header('x-twilio-signature') || '').trim();\n  const authToken = String($env.TWILIO_AUTH_TOKEN || '').trim();\n  const baseUrl = String($env.WEBHOOK_URL || '').replace(/\\/$/, '');\n  if (!signature || !authToken || !baseUrl) return false;\n  const url = baseUrl + '/webhook/' + webhookPath;\n  const signedData = Object.keys(body)\n    .filter(key => body[key] !== undefined && body[key] !== null && typeof body[key] !== 'object')\n    .sort()\n    .reduce((acc, key) => acc + key + String(body[key]), url);\n  const expected = await hmacSha1Base64(authToken, signedData);\n  if (expected.length !== signature.length) return false;\n  let diff = 0;\n  for (let i = 0; i < expected.length; i += 1) diff |= expected.charCodeAt(i) ^ signature.charCodeAt(i);\n  return diff === 0;\n}\n\nif (!(await validateTwilioSignature('feedback-listener'))) {\n  return [{ json: { _skip: true, reason: 'Invalid Twilio webhook signature' } }];\n}\n\nconst fromRaw = String(body.From || body.from || '').trim();\nconst toRaw = String(body.To || body.to || '').trim();\nconst messageBody = String(body.Body || body.body || '').trim();\nconst buttonText = String(body.ButtonText || body.ListTitle || '').trim();\nconst buttonPayload = String(body.ButtonPayload || '').trim();\nconst messageSid = String(body.MessageSid || body.SmsMessageSid || body.SmsSid || '').trim();\nconst waId = String(body.WaId || '').trim();\nconst profileName = String(body.ProfileName || '').trim();\nconst numMedia = parseInt(body.NumMedia || '0', 10) || 0;\nconst fromPhone = fromRaw.replace(/^whatsapp:/i, '').replace(/[\\s\\-().]/g, '');\nif (!fromPhone || !/^\\+?[1-9]\\d{6,14}$/.test(fromPhone)) {\n  return [{ json: { _skip: true, reason: 'Could not extract valid Twilio WhatsApp sender', rawFrom: fromRaw } }];\n}\nconst normalizedPhone = fromPhone.startsWith('+') ? fromPhone : '+' + fromPhone;\nif (!messageBody && !buttonText && numMedia === 0) {\n  return [{ json: { _skip: true, reason: 'Blank Twilio inbound message', _from_phone: normalizedPhone, _message_sid: messageSid } }];\n}\nconst effectiveText = messageBody || buttonText;\nconst lowerMsg = effectiveText.toLowerCase();\nconst lowerButtonText = buttonText.toLowerCase();\nconst lowerButtonPayload = buttonPayload.toLowerCase();\nlet classification = 'responded';\nlet buttonTriggered = false;\nconst confirmedKeywords = ['yes', 'confirm', 'confirmed', 'will come', 'coming', 'ok', 'okay', 'sure', 'yep', 'yup', 'absolutely', 'definitely', \"i'll be there\", 'see you', 'good'];\nconst cancelledKeywords = ['no', 'cancel', 'cancelled', 'reschedule', \"can't make it\", 'cannot come', 'not coming', 'postpone', 'change date'];\nconst bookKeywords = ['book', 'schedule', 'appointment', 'want to book', 'fix appointment'];\nif (buttonText || buttonPayload) {\n  buttonTriggered = true;\n  if (lowerButtonPayload === 'confirm_appointment' || lowerButtonText.includes('confirm')) classification = 'confirmed';\n  else if (lowerButtonPayload === 'reschedule' || lowerButtonText.includes('reschedule')) classification = 'cancelled';\n  else if (lowerMsg === 'help' || ['not well','pain','emergency','urgent','need doctor','call me'].some(k => lowerMsg.includes(k))) classification = 'help';\n  else if (cancelledKeywords.some(k => lowerMsg.includes(k))) classification = 'cancelled';\n  else if (confirmedKeywords.some(k => lowerMsg.includes(k))) classification = 'confirmed';\n  else if (bookKeywords.some(k => lowerMsg.includes(k))) classification = 'book';\n} else if (lowerMsg === 'help' || ['not well','pain','emergency','urgent','need doctor','call me'].some(k => lowerMsg.includes(k))) classification = 'help';\nelse if (cancelledKeywords.some(k => lowerMsg.includes(k))) classification = 'cancelled';\nelse if (confirmedKeywords.some(k => lowerMsg.includes(k))) classification = 'confirmed';\nelse if (bookKeywords.some(k => lowerMsg.includes(k))) classification = 'book';\nreturn [{ json: { _from_phone: normalizedPhone, _to_phone: toRaw, _message_body: effectiveText, _classification: classification, _received_at: new Date().toISOString(), _message_sid: messageSid, _wa_id: waId, _profile_name: profileName, _num_media: numMedia, _button_triggered: buttonTriggered, _button_text: buttonText, _button_payload: buttonPayload } }];"
      },
      "id": "66666666-6666-6666-6666-000000000003",
      "name": "Parse and Classify Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-parse-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000004",
      "name": "Skip if Invalid Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "66666666-6666-6666-6666-000000000005",
      "name": "Respond 200 OK (Early)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH candidates AS (\n  SELECT p.*\n  FROM public.patients p\n  WHERE p.phone = '{{ $('Parse and Classify Message').first().json._from_phone }}'\n), latest_messaged AS (\n  SELECT p.*\n  FROM candidates p\n  JOIN public.message_logs ml\n    ON ml.clinic_id = p.clinic_id\n   AND ml.patient_id = p.id\n  ORDER BY ml.sent_at DESC NULLS LAST, p.updated_at DESC\n  LIMIT 1\n), single_candidate AS (\n  SELECT *\n  FROM candidates\n  WHERE (SELECT COUNT(*) FROM candidates) = 1\n)\nSELECT * FROM latest_messaged\nUNION ALL\nSELECT * FROM single_candidate\nWHERE NOT EXISTS (SELECT 1 FROM latest_messaged)\nLIMIT 1",
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000006",
      "name": "Find Patient in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        580
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const patientRows = $input.all();\nconst parsed = $('Parse and Classify Message').first().json;\nconst inboundPhone = parsed._from_phone;\nconst classification = parsed._classification;\nconst messageBody = parsed._message_body;\nconst receivedAt = parsed._received_at;\nconst buttonTriggered = !!parsed._button_triggered;\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\n\nconst matchedPatient = patientRows.length > 0 && patientRows[0].json.id ? patientRows[0].json : null;\n\nif (!matchedPatient) {\n  return [{\n    json: {\n      _found: false,\n      _from_phone: inboundPhone,\n      _classification: classification,\n      _message_body: messageBody,\n      _received_at: receivedAt,\n      _button_triggered: buttonTriggered,\n      _log_message: `Unrecognised sender: ${inboundPhone}`\n    }\n  }];\n}\n\nconst patientName = matchedPatient.name || 'there';\nconst followUpRaw = matchedPatient.follow_up_date;\nconst followUpDate = followUpRaw ? String(followUpRaw).slice(0, 10) : null;\nconst followUpDisplay = followUpDate\n  ? new Date(followUpDate + 'T12:00:00').toLocaleDateString('en-IN', { timeZone: tz, weekday: 'short', day: '2-digit', month: 'short' })\n  : null;\nconst doctorName = matchedPatient.doctor_name || $env.DEFAULT_DOCTOR_NAME || 'your doctor';\nfunction envSid(key) { return ($env[key] || '').trim(); }\nlet autoReply = null;\nlet contentSid = '';\nlet contentVariables = '';\nlet messageType = '';\n\nif (classification === 'confirmed') {\n  if (followUpDisplay) {\n    const sid = envSid('TWILIO_CONTENT_FOLLOWUP_BOOKING_CONFIRMED');\n    if (sid) {\n      contentSid = sid;\n      contentVariables = JSON.stringify({ '1': patientName, '2': doctorName, '3': followUpDisplay });\n      messageType = 'followup_booking_confirmed';\n    }\n    autoReply = `Thank you, ${patientName}! ✅ You're confirmed for ${followUpDisplay}. We've added you to the queue. See you then!\\n\\nIf anything changes, feel free to message us.`;\n  } else {\n    autoReply = `Thank you, ${patientName}! ✅ We've noted that you'll be coming in for your appointment. See you then!\\n\\nIf anything changes, feel free to message us.`;\n  }\n} else if (classification === 'cancelled') {\n  if (followUpDisplay) {\n    const sid = envSid('TWILIO_CONTENT_FOLLOWUP_RESCHEDULED_CONFIRMED');\n    if (sid) {\n      contentSid = sid;\n      contentVariables = JSON.stringify({ '1': patientName, '2': doctorName, '3': followUpDisplay });\n      messageType = 'followup_rescheduled_confirmed';\n    }\n  }\n  autoReply = followUpDisplay\n    ? `Hi ${patientName}, no problem at all — your visit with ${doctorName} has been moved to ${followUpDisplay}. We'll remind you the morning before.\\n\\nSee you soon.`\n    : `Hi ${patientName}, no problem at all! 😊 We've noted that you'd like to reschedule. A member of our team will reach out to you shortly to arrange a new time.\\n\\nThank you for letting us know!`;\n} else if (classification === 'help') {\n  autoReply = `Hi ${patientName}, we're sorry to hear that. 🙏 Please stay calm — we've flagged this for our team and someone will reach out to you very soon. If this is an emergency, please call your nearest hospital.`;\n}\n\nlet responseStatusDb = 'responded';\nif (classification === 'confirmed') responseStatusDb = 'confirmed';\nelse if (classification === 'cancelled') responseStatusDb = 'cancelled';\n\nconst shouldCreateQueueEntry = classification === 'confirmed' && !!followUpDate;\n\nreturn [{\n  json: {\n    _found: true,\n    _patient_id: matchedPatient.id,\n    _clinic_id: matchedPatient.clinic_id,\n    _patient_code: matchedPatient.patient_code || '',\n    _patient_name: patientName,\n    _clinic_name: matchedPatient.clinic_name || $env.DEFAULT_CLINIC_NAME || 'our clinic',\n    _doctor_name: matchedPatient.doctor_name || $env.DEFAULT_DOCTOR_NAME || 'your doctor',\n    _follow_up_date: followUpDate,\n    _from_phone: inboundPhone,\n    _classification: classification,\n    _message_body: messageBody,\n    _received_at: receivedAt,\n    _button_triggered: buttonTriggered,\n    _auto_reply: autoReply,\n    _content_sid: contentSid || null,\n    _content_variables: contentVariables || null,\n    _message_type: messageType || null,\n    _should_reply: autoReply !== null,\n    _should_create_queue_entry: shouldCreateQueueEntry,\n    _response_status_db: responseStatusDb\n  }\n}];"
      },
      "id": "66666666-6666-6666-6666-000000000007",
      "name": "Prepare Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "patient-found-check",
              "leftValue": "={{ $json._found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000008",
      "name": "Patient Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        580
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET response_status = '{{ $json._response_status_db }}', last_response = '{{ $json._message_body.replace(/'/g, \"''\") }}', updated_at = NOW() WHERE id = '{{ $json._patient_id }}' AND clinic_id = '{{ $json._clinic_id }}'",
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000009",
      "name": "Update Patient Response in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "should-create-queue-check",
              "leftValue": "={{ $('Prepare Reply').item.json._should_create_queue_entry }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000015",
      "name": "Should Create Queue Entry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id FROM public.patient_visits WHERE patient_id = '{{ $('Prepare Reply').item.json._patient_id }}' AND visit_date = '{{ $('Prepare Reply').item.json._follow_up_date }}' AND visit_status NOT IN ('cancelled', 'no_show') LIMIT 1",
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000016",
      "name": "Check Existing Visit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2000,
        360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "visit-exists-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000017",
      "name": "Visit Already Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.patient_visits ( patient_id, patient_code, clinic_id, clinic_name, doctor_name, visit_date, visit_status, chief_complaint, staff_notes, checked_in_at ) VALUES ( '{{ $('Prepare Reply').item.json._patient_id }}', '{{ ($('Prepare Reply').item.json._patient_code || '').replace(/'/g, \"''\") }}', '{{ $('Prepare Reply').item.json._clinic_id }}', '{{ ($('Prepare Reply').item.json._clinic_name || '').replace(/'/g, \"''\") }}', '{{ ($('Prepare Reply').item.json._doctor_name || '').replace(/'/g, \"''\") }}', '{{ $('Prepare Reply').item.json._follow_up_date }}', 'waiting', 'Follow-up consultation', 'Auto-confirmed via WhatsApp', NOW() ) RETURNING id",
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000018",
      "name": "Insert Follow-Up Visit to Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2440,
        440
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-6-feedback-listener",
            "execution_id": "={{ $execution.id }}",
            "log_level": "INFO",
            "message": "Follow-up visit added to waiting queue after WhatsApp confirmation",
            "details": "={{ JSON.stringify({ patient_id: $('Prepare Reply').item.json._patient_id, follow_up_date: $('Prepare Reply').item.json._follow_up_date, visit_id: $json.id, button_triggered: $('Prepare Reply').item.json._button_triggered }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000019",
      "name": "Log Queue Creation to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2660,
        440
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-6-feedback-listener",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to create follow-up visit in waiting queue",
            "details": "={{ JSON.stringify({ patient_id: $('Prepare Reply').item.json._patient_id, follow_up_date: $('Prepare Reply').item.json._follow_up_date, button_triggered: $('Prepare Reply').item.json._button_triggered, error: $json.error?.message || $json.message || 'patient_visits insert failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000020",
      "name": "Log Queue Insert Error to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2660,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "should-reply-check",
              "leftValue": "={{ $('Prepare Reply').item.json._should_reply }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000010",
      "name": "Should Send Auto-Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2880,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $env.TWILIO_WHATSAPP_FROM }}"
            },
            {
              "name": "To",
              "value": "={{ 'whatsapp:' + $('Prepare Reply').item.json._from_phone }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $('Prepare Reply').item.json._content_sid || '' }}"
            },
            {
              "name": "ContentVariables",
              "value": "={{ $('Prepare Reply').item.json._content_variables || '' }}"
            },
            {
              "name": "Body",
              "value": "={{ $('Prepare Reply').item.json._content_sid ? '' : $('Prepare Reply').item.json._auto_reply }}"
            },
            {
              "name": "StatusCallback",
              "value": "={{ $env.TWILIO_STATUS_CALLBACK_URL || \"\" }}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 15000
          }
        }
      },
      "id": "66666666-6666-6666-6666-000000000011",
      "name": "Send Auto-Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        380
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_TWILIO_BASIC_AUTH",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-6-feedback-listener",
            "execution_id": "={{ $execution.id }}",
            "log_level": "WARN",
            "message": "Inbound message from unrecognised number",
            "details": "={{ JSON.stringify({ phone: $('Prepare Reply').item.json._from_phone, message: $('Prepare Reply').item.json._message_body, classification: $('Prepare Reply').item.json._classification }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000012",
      "name": "Log Unknown Sender to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-6-feedback-listener",
            "execution_id": "={{ $execution.id }}",
            "log_level": "INFO",
            "message": "Patient response received and classified",
            "details": "={{ JSON.stringify({ patient_id: $('Prepare Reply').item.json._patient_id, phone: $('Prepare Reply').item.json._from_phone, classification: $('Prepare Reply').item.json._classification, message: $('Prepare Reply').item.json._message_body, button_triggered: $('Prepare Reply').item.json._button_triggered, queue_entry_requested: $('Prepare Reply').item.json._should_create_queue_entry }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000013",
      "name": "Log Patient Response to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3320,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "66666666-6666-6666-6666-000000000014",
      "name": "Respond 200 OK (Skip Path)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        360
      ]
    }
  ],
  "connections": {
    "Webhook — Inbound Message (POST)": {
      "main": [
        [
          {
            "node": "Parse and Classify Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Classify Message": {
      "main": [
        [
          {
            "node": "Skip if Invalid Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if Invalid Message": {
      "main": [
        [
          {
            "node": "Respond 200 OK (Skip Path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Patient in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Patient in Supabase": {
      "main": [
        [
          {
            "node": "Prepare Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reply": {
      "main": [
        [
          {
            "node": "Patient Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patient Found?": {
      "main": [
        [
          {
            "node": "Update Patient Response in Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unknown Sender to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Patient Response in Supabase": {
      "main": [
        [
          {
            "node": "Should Create Queue Entry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Create Queue Entry?": {
      "main": [
        [
          {
            "node": "Check Existing Visit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Should Send Auto-Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Visit": {
      "main": [
        [
          {
            "node": "Visit Already Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visit Already Exists?": {
      "main": [
        [
          {
            "node": "Should Send Auto-Reply?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Follow-Up Visit to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Follow-Up Visit to Queue": {
      "main": [
        [
          {
            "node": "Log Queue Creation to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Queue Insert Error to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Queue Creation to Supabase": {
      "main": [
        [
          {
            "node": "Should Send Auto-Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Queue Insert Error to Supabase": {
      "main": [
        [
          {
            "node": "Should Send Auto-Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Auto-Reply?": {
      "main": [
        [
          {
            "node": "Send Auto-Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Patient Response to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Auto-Reply": {
      "main": [
        [
          {
            "node": "Log Patient Response to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unknown Sender to Supabase": {
      "main": [
        [
          {
            "node": "Respond 200 OK (Skip Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Patient Response to Supabase": {
      "main": [
        [
          {
            "node": "Respond 200 OK (Early)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "workflow-8-error-handler"
  },
  "versionId": "66666666-6666-6666-6666-666666666606",
  "id": "wf6-feedback-listener",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "id": "tag-patient-retention",
      "name": "patient-retention"
    },
    {
      "id": "tag-feedback",
      "name": "feedback"
    }
  ]
}
