workflows/workflow-6-feedback-listener.json
{
  "name": "WF6 — Feedback Listener (Inbound WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 6: Feedback Listener\n\n**Trigger:** Webhook POST (always active)\n\n**Webhook URL:** Copy from the Webhook node → Production URL\nRegister this URL in:\n- Twilio: Console → Messaging → Sandbox Settings → \"When a message comes in\"\n- Meta: Developer App → WhatsApp → Configuration → Webhook\n\n**Logic:**\n1. Receives inbound WhatsApp message from Twilio or Meta\n2. Extracts sender phone + message body\n3. Finds matching patient in Supabase by phone number\n4. Classifies response (confirmed / cancelled / help / responded)\n5. Updates patient record in Supabase\n6. Sends appropriate auto-reply\n7. Logs to Supabase system_logs\n\n**Data source:** Supabase `public.patients` (NOT Google Sheets)\n\n**Before activating:**\n1. Set credential on Postgres nodes → Supabase DB\n2. Set credential on HTTP Request node → Twilio Basic Auth",
        "height": 360,
        "width": 440
      },
      "id": "66666666-6666-6666-6666-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60]
    },
    {
      "parameters": {
        "path": "feedback-listener",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000002",
      "name": "Webhook — Inbound WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 480],
      "webhookId": "feedback-listener-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract and normalise inbound message data\n// Handles both Twilio and Meta Cloud API webhook formats\nconst body = $input.first().json.body || $input.first().json;\n\nlet fromPhone = '';\nlet messageBody = '';\nlet source = 'unknown';\n\nif (body.From && body.Body !== undefined) {\n  source = 'twilio';\n  fromPhone = body.From.replace(/^whatsapp:/i, '').replace(/[\\s\\-().]/g, '');\n  messageBody = String(body.Body || '').trim();\n}\nelse if (body.entry && Array.isArray(body.entry)) {\n  source = 'meta';\n  try {\n    const msg = body.entry[0].changes[0].value.messages[0];\n    fromPhone = '+' + msg.from.replace(/^\\+/, '');\n    messageBody = msg.text?.body || '';\n  } catch (e) {\n    return [{ json: { _skip: true, reason: 'Not a message event (Meta webhook ping or status update)', source: 'meta' } }];\n  }\n}\nelse {\n  return [{ json: { _skip: true, reason: 'Unrecognised webhook format', rawBody: JSON.stringify(body).substr(0, 200) } }];\n}\n\nif (!fromPhone || !fromPhone.startsWith('+')) {\n  return [{ json: { _skip: true, reason: 'Could not extract valid phone from webhook', rawFrom: fromPhone } }];\n}\n\nconst lowerMsg = messageBody.toLowerCase();\nlet classification = 'responded';\n\nconst confirmedKeywords = ['yes', 'confirm', 'confirmed', 'will come', 'coming', 'ok', 'okay', 'sure', 'yep', 'yup', 'absolutely', 'definitely', \"i'll be there\", 'see you', 'good'];\nconst cancelledKeywords = ['no', 'cancel', 'cancelled', 'reschedule', \"can't make it\", 'cannot come', 'not coming', 'postpone', 'change date'];\nconst bookKeywords = ['book', 'schedule', 'appointment', 'want to book', 'fix appointment'];\n\nif (lowerMsg === 'help' || lowerMsg.includes('help') || ['not well','pain','emergency','urgent','need doctor','call me'].some(k => lowerMsg.includes(k))) {\n  classification = 'help';\n} else if (bookKeywords.some(k => lowerMsg.includes(k))) {\n  classification = 'book';\n} else if (confirmedKeywords.some(k => lowerMsg.includes(k))) {\n  classification = 'confirmed';\n} else if (cancelledKeywords.some(k => lowerMsg.includes(k))) {\n  classification = 'cancelled';\n}\n\nreturn [{\n  json: {\n    _from_phone: fromPhone,\n    _message_body: messageBody,\n    _classification: classification,\n    _source: source,\n    _received_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "66666666-6666-6666-6666-000000000003",
      "name": "Parse and Classify Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 480]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "skip-parse-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000004",
      "name": "Skip if Invalid Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": { "responseCode": 200 }
      },
      "id": "66666666-6666-6666-6666-000000000005",
      "name": "Respond 200 OK (Early)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 360]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM public.patients WHERE phone = '{{ $('Parse and Classify Message').item.json._from_phone }}' LIMIT 1",
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000006",
      "name": "Find Patient in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 580],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Determine if patient was found and prepare auto-reply\nconst patientRows = $input.all();\nconst parsed = $('Parse and Classify Message').first().json;\nconst inboundPhone = parsed._from_phone;\nconst classification = parsed._classification;\nconst messageBody = parsed._message_body;\nconst receivedAt = parsed._received_at;\n\nconst matchedPatient = patientRows.length > 0 && patientRows[0].json.id ? patientRows[0].json : null;\n\nif (!matchedPatient) {\n  return [{\n    json: {\n      _found: false,\n      _from_phone: inboundPhone,\n      _classification: classification,\n      _message_body: messageBody,\n      _received_at: receivedAt,\n      _log_message: `Unrecognised sender: ${inboundPhone}`\n    }\n  }];\n}\n\nconst patientName = matchedPatient.name || 'there';\nlet autoReply = null;\n\nif (classification === 'confirmed') {\n  autoReply = `Thank you, ${patientName}! ✅ We've noted that you'll be coming in for your appointment. See you then!\\n\\nIf anything changes, feel free to message us.`;\n} else if (classification === 'cancelled') {\n  autoReply = `Hi ${patientName}, no problem at all! 😊 We've noted that you'd like to reschedule. A member of our team will reach out to you shortly to arrange a new time.\\n\\nThank you for letting us know!`;\n} else if (classification === 'help') {\n  autoReply = `Hi ${patientName}, we're sorry to hear that. 🙏 Please stay calm — we've flagged this for our team and someone will reach out to you very soon. If this is an emergency, please call your nearest hospital.`;\n}\n\nreturn [{\n  json: {\n    _found: true,\n    _patient_id: matchedPatient.id,\n    _patient_name: patientName,\n    _from_phone: inboundPhone,\n    _to_phone: 'whatsapp:' + inboundPhone,\n    _classification: classification,\n    _message_body: messageBody,\n    _received_at: receivedAt,\n    _auto_reply: autoReply,\n    _should_reply: autoReply !== null\n  }\n}];"
      },
      "id": "66666666-6666-6666-6666-000000000007",
      "name": "Prepare Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 580]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "patient-found-check",
              "leftValue": "={{ $json._found }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000008",
      "name": "Patient Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 580]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET response_status = '{{ $json._classification === 'confirmed' ? 'confirmed' : $json._classification === 'cancelled' ? 'cancelled' : 'responded' }}', last_response = '{{ $json._message_body.replace(/'/g, \"''\") }}', updated_at = NOW() WHERE id = '{{ $json._patient_id }}'",
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000009",
      "name": "Update Patient Response in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1560, 460],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "should-reply-check",
              "leftValue": "={{ $('Prepare Reply').item.json._should_reply }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000010",
      "name": "Should Send Auto-Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "={{ $('Prepare Reply').item.json._to_phone }}" },
            { "name": "From", "value": "={{ $env.TWILIO_WHATSAPP_NUMBER }}" },
            { "name": "Body", "value": "={{ $('Prepare Reply').item.json._auto_reply }}" }
          ]
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000011",
      "name": "Send Auto-Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 380],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_TWILIO_CREDENTIAL_ID",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "system_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-6-feedback-listener",
            "execution_id": "={{ $execution.id }}",
            "log_level": "WARN",
            "message": "Inbound message from unrecognised number",
            "details": "={{ JSON.stringify({ phone: $('Prepare Reply').item.json._from_phone, message: $('Prepare Reply').item.json._message_body, classification: $('Prepare Reply').item.json._classification }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000012",
      "name": "Log Unknown Sender to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1560, 720],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "system_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-6-feedback-listener",
            "execution_id": "={{ $execution.id }}",
            "log_level": "INFO",
            "message": "Patient response received and classified",
            "details": "={{ JSON.stringify({ patient_id: $('Prepare Reply').item.json._patient_id, phone: $('Prepare Reply').item.json._from_phone, classification: $('Prepare Reply').item.json._classification, message: $('Prepare Reply').item.json._message_body }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-000000000013",
      "name": "Log Patient Response to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2220, 460],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": { "responseCode": 200 }
      },
      "id": "66666666-6666-6666-6666-000000000014",
      "name": "Respond 200 OK (Skip Path)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 360]
    }
  ],
  "connections": {
    "Webhook — Inbound WhatsApp": {
      "main": [[{ "node": "Parse and Classify Message", "type": "main", "index": 0 }]]
    },
    "Parse and Classify Message": {
      "main": [[{ "node": "Skip if Invalid Message", "type": "main", "index": 0 }]]
    },
    "Skip if Invalid Message": {
      "main": [
        [{ "node": "Respond 200 OK (Skip Path)", "type": "main", "index": 0 }],
        [
          { "node": "Respond 200 OK (Early)", "type": "main", "index": 0 },
          { "node": "Find Patient in Supabase", "type": "main", "index": 0 }
        ]
      ]
    },
    "Find Patient in Supabase": {
      "main": [[{ "node": "Prepare Reply", "type": "main", "index": 0 }]]
    },
    "Prepare Reply": {
      "main": [[{ "node": "Patient Found?", "type": "main", "index": 0 }]]
    },
    "Patient Found?": {
      "main": [
        [{ "node": "Update Patient Response in Supabase", "type": "main", "index": 0 }],
        [{ "node": "Log Unknown Sender to Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Update Patient Response in Supabase": {
      "main": [[{ "node": "Should Send Auto-Reply?", "type": "main", "index": 0 }]]
    },
    "Should Send Auto-Reply?": {
      "main": [
        [{ "node": "Send Auto-Reply", "type": "main", "index": 0 }],
        [{ "node": "Log Patient Response to Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Send Auto-Reply": {
      "main": [[{ "node": "Log Patient Response to Supabase", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "66666666-6666-6666-6666-666666666606",
  "id": "wf6-feedback-listener",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [
    { "name": "patient-retention" },
    { "name": "feedback" }
  ]
}
