workflows/workflow-9-twilio-status-callback.json
{
  "name": "WF9 — Twilio Status Callback",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 9: Twilio Status Callback\n\n**Trigger:** Webhook POST from Twilio outbound message status callbacks.\n\n**Webhook path:** `twilio-status-callback`\n\n**What it does:**\n1. Receives Twilio `MessageSid`, `MessageStatus`, and optional `ErrorCode` / `ErrorMessage`.\n2. Normalises status into `sent`, `delivered`, `read`, `failed`, or `undelivered`.\n3. Updates `public.message_logs` and `public.message_ledger` by Twilio SID.\n4. Responds 200 so Twilio does not retry the callback.",
        "height": 260,
        "width": 460
      },
      "id": "99999999-9999-9999-9999-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-status-callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "99999999-9999-9999-9999-000000000002",
      "name": "Webhook — Twilio Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        440
      ],
      "webhookId": "twilio-status-callback"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst sid = String(body.MessageSid || body.SmsSid || body.SmsMessageSid || '').trim();\nconst rawStatus = String(body.MessageStatus || body.SmsStatus || body.status || '').toLowerCase().trim();\nconst errorCode = String(body.ErrorCode || '').trim();\nconst errorMessage = String(body.ErrorMessage || '').trim();\nconst map = {\n  queued: 'queued', accepted: 'queued', scheduled: 'queued', sending: 'queued',\n  sent: 'sent', delivered: 'delivered', read: 'read',\n  failed: 'failed', undelivered: 'undelivered', canceled: 'failed'\n};\nconst status = map[rawStatus] || 'sent';\nreturn [{ json: { _message_sid: sid, _status: status, _raw_status: rawStatus, _error_code: errorCode, _error_message: errorMessage, _received_at: new Date().toISOString(), _skip: !sid } }];"
      },
      "id": "99999999-9999-9999-9999-000000000003",
      "name": "Normalise Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.message_logs\nSET delivery_status = '{{ $json._status }}',\n    error_message = {{ $json._error_code || $json._error_message ? \"'\" + ($json._error_code + ' ' + $json._error_message).trim().replace(/'/g, \"''\") + \"'\" : 'error_message' }}\nWHERE twilio_message_sid = '{{ $json._message_sid.replace(/'/g, \"''\") }}'\n   OR provider_message_id = '{{ $json._message_sid.replace(/'/g, \"''\") }}';",
        "options": {}
      },
      "id": "99999999-9999-9999-9999-000000000004",
      "name": "Update Message Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        680,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.message_ledger\nSET status = '{{ $json._status }}',\n    error_message = {{ $json._error_code || $json._error_message ? \"'\" + ($json._error_code + ' ' + $json._error_message).trim().replace(/'/g, \"''\") + \"'\" : 'error_message' }}\nWHERE twilio_message_sid = '{{ $json._message_sid.replace(/'/g, \"''\") }}'\n   OR provider_message_id = '{{ $json._message_sid.replace(/'/g, \"''\") }}';",
        "options": {}
      },
      "id": "99999999-9999-9999-9999-000000000005",
      "name": "Update Message Ledger",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'ok' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "99999999-9999-9999-9999-000000000006",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        440
      ]
    }
  ],
  "connections": {
    "Webhook — Twilio Status": {
      "main": [
        [
          {
            "node": "Normalise Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise Status": {
      "main": [
        [
          {
            "node": "Update Message Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Message Log": {
      "main": [
        [
          {
            "node": "Update Message Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Message Ledger": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "={{ $env.TIMEZONE || 'Asia/Kolkata' }}"
  }
}
