workflows/workflow-5-reactivation.json
{
  "name": "WF5 — Patient Reactivation (30-Day)",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 5: Patient Reactivation\n\n**Trigger:** Every Monday at 9:00 AM\n\n**Logic:** Reads from Supabase. Finds patients inactive for 30+ days (last message > 30 days ago or never messaged), who haven't received a reactivation message yet and are not inactive/completed. Sets `reactivation_sent = TRUE` after sending.\n\n**Data source:** Supabase `public.patients`\n\n**Note:** Meta category for this message is MARKETING — ensure opt-in compliance.\n\n**Before activating:**\n1. Set credential on all Postgres nodes → Supabase DB\n2. Set credential on HTTP node → Twilio Basic Auth",
        "height": 280,
        "width": 420
      },
      "id": "55555555-5555-5555-5555-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "55555555-5555-5555-5555-000000000002",
      "name": "Weekly Monday 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 380]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.patients WHERE status NOT IN ('inactive','completed') AND reactivation_sent = FALSE AND (last_message_sent IS NULL OR last_message_sent < NOW() - INTERVAL '30 days')",
        "options": {}
      },
      "id": "55555555-5555-5555-5555-000000000003",
      "name": "Read Patients from Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 380],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter patients inactive for 30+ days who haven't been reactivated\nconst items = $input.all();\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst inactivityDays = 30;\n\nconst now = new Date();\nconst thresholdDate = new Date(now);\nthresholdDate.setDate(thresholdDate.getDate() - inactivityDays);\n\nconst filtered = items.filter(item => {\n  const p = item.json;\n\n  if (p.status === 'inactive' || p.status === 'completed') return false;\n\n  // reactivation_sent is boolean in Supabase\n  if (p.reactivation_sent === true) return false;\n\n  if (!p.phone || !/^\\+[1-9]\\d{6,14}$/.test(p.phone)) return false;\n\n  if (p.last_message_sent) {\n    const lastSent = new Date(p.last_message_sent);\n    if (lastSent > thresholdDate) return false;\n  }\n\n  return true;\n});\n\nif (filtered.length === 0) {\n  return [{ json: { _skip: true, reason: 'No inactive patients to reactivate this week' } }];\n}\n\nreturn filtered.map(item => ({\n  json: {\n    ...item.json,\n    _workflow: 'workflow-5-reactivation',\n    _message_type: 'reactivation',\n    _to_phone: 'whatsapp:' + item.json.phone,\n    _message_body: `Hi ${item.json.name || 'there'}! 👋 It's been a while since we last saw you at ${item.json.clinic_name || ($env.DEFAULT_CLINIC_NAME || 'our clinic')}, and we just wanted to check in.\\n\\nRegular health check-ups with ${item.json.doctor_name || ($env.DEFAULT_DOCTOR_NAME || 'your doctor')} are the best way to stay ahead of any concerns. If you'd like to book an appointment, reply *BOOK* and our team will reach out.\\n\\nTake care! 💙`\n  }\n}));"
      },
      "id": "55555555-5555-5555-5555-000000000004",
      "name": "Filter Inactive Patients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "skip-check-wf5",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55555555-5555-5555-5555-000000000005",
      "name": "Skip if No Patients",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "={{ $json._to_phone }}" },
            { "name": "From", "value": "={{ $env.TWILIO_WHATSAPP_NUMBER }}" },
            { "name": "Body", "value": "={{ $json._message_body }}" }
          ]
        },
        "options": { "retry": { "maxTries": 3, "waitBetweenTries": 30000 } }
      },
      "id": "55555555-5555-5555-5555-000000000006",
      "name": "Send Reactivation Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 280],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_TWILIO_CREDENTIAL_ID",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET reactivation_sent = TRUE, last_message_sent = NOW(), message_count = message_count + 1, updated_at = NOW() WHERE id = '{{ $('Filter Inactive Patients').item.json.id }}'",
        "options": {}
      },
      "id": "55555555-5555-5555-5555-000000000007",
      "name": "Update Patient in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 180],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "message_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $('Filter Inactive Patients').item.json.id }}",
            "patient_name": "={{ $('Filter Inactive Patients').item.json.name }}",
            "phone": "={{ $('Filter Inactive Patients').item.json.phone }}",
            "workflow_name": "workflow-5-reactivation",
            "message_type": "reactivation",
            "message_sent": "={{ $('Filter Inactive Patients').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "twilio_sid": "={{ $json.sid || '' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "55555555-5555-5555-5555-000000000008",
      "name": "Log Message to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 380],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "system_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-5-reactivation",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to send reactivation message",
            "details": "={{ JSON.stringify({ patient_id: $('Filter Inactive Patients').item.json.id, phone: $('Filter Inactive Patients').item.json.phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "55555555-5555-5555-5555-000000000009",
      "name": "Log Send Failure to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 520],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    }
  ],
  "connections": {
    "Weekly Monday 9AM Trigger": {
      "main": [[{ "node": "Read Patients from Supabase", "type": "main", "index": 0 }]]
    },
    "Read Patients from Supabase": {
      "main": [[{ "node": "Filter Inactive Patients", "type": "main", "index": 0 }]]
    },
    "Filter Inactive Patients": {
      "main": [[{ "node": "Skip if No Patients", "type": "main", "index": 0 }]]
    },
    "Skip if No Patients": {
      "main": [
        [],
        [{ "node": "Send Reactivation Message", "type": "main", "index": 0 }]
      ]
    },
    "Send Reactivation Message": {
      "main": [
        [
          { "node": "Update Patient in Supabase", "type": "main", "index": 0 },
          { "node": "Log Message to Supabase", "type": "main", "index": 0 }
        ],
        [{ "node": "Log Send Failure to Supabase", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "55555555-5555-5555-5555-555555555505",
  "id": "wf5-reactivation",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [
    { "name": "patient-retention" },
    { "name": "reactivation" }
  ]
}
