workflows/workflow-7-new-patient.json
{
  "name": "WF7 \u2014 New Patient Welcome",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 7: New Patient Welcome\n\n**Trigger:** HTTP Webhook \u2014 called by WF11 (QR Form Intake) after a new patient is successfully upserted to Supabase.\n\n**Webhook path:** `new-patient-intake` (hardcoded literal \u2014 must match WF11's HTTP call)\n\n**What it does:**\n1. Receives patient data from WF11 (patient_code, name, phone, clinic_name, doctor_name, follow_up_required, follow_up_date, visit_date)\n2. Sends a personalized welcome WhatsApp message via Meta Cloud API (template: patient_welcome)\n3. Updates Supabase: `last_message_sent`, `message_count = 1`\n4. Logs send result to `public.message_logs` and failures to `public.system_logs`\n\n**Data source:** Supabase `public.patients` (all state is in Supabase)\n\n**Before activating:**\n1. Activate THIS workflow BEFORE WF11 (webhook must be live before form submissions arrive)\n2. Set credential on all Postgres nodes \u2192 Supabase DB\n3. Set credential on HTTP Request node \u2192 WhatsApp Business API (HTTP Header Auth)\n4. Set `WEBHOOK_URL` in `.env` to your public n8n base URL (e.g. https://your-n8n.example.com)\n5. Ensure the `patient_welcome` template is approved in Meta Business Manager",
        "height": 420,
        "width": 480
      },
      "id": "77777777-7777-7777-7777-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        60
      ]
    },
    {
      "parameters": {
        "path": "new-patient-intake",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000002",
      "name": "Webhook \u2014 New Patient",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        540
      ],
      "webhookId": "new-patient-intake-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Payload sent by WF11: patient_code, name, phone (E.164), clinic_name, doctor_name,\n// follow_up_required, follow_up_date, visit_date\nconst data = $input.first().json.body || $input.first().json;\n\nconst name           = String(data.name           || data.patient_name || '').trim();\nconst phone          = String(data.phone          || '').trim();\nconst patientCode    = String(data.patient_code   || '').trim();\nconst clinicName     = String(data.clinic_name    || $env.DEFAULT_CLINIC_NAME || 'our clinic').trim();\nconst doctorName     = String(data.doctor_name    || $env.DEFAULT_DOCTOR_NAME || 'your doctor').trim();\n\nif (!phone || !/^\\+[1-9]\\d{6,14}$/.test(phone)) {\n  return [{ json: { _skip: true, reason: `Invalid phone: ${phone}`, patientCode } }];\n}\nif (!name) {\n  return [{ json: { _skip: true, reason: 'Empty patient name', patientCode } }];\n}\n\n// Strip leading + for Meta API (plain E.164 digits)\nconst toPhone = phone.replace(/^\\+/, '');\n\nreturn [{\n  json: {\n    _skip:         false,\n    _patient_name: name,\n    _phone:        phone,\n    _patient_code: patientCode,\n    _to_phone:     toPhone,\n    _clinic_name:  clinicName,\n    _doctor_name:  doctorName,\n    _message_type: 'welcome'\n  }\n}];"
      },
      "id": "77777777-7777-7777-7777-000000000003",
      "name": "Build Welcome Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-check-wf7",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000004",
      "name": "Skip if Invalid Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v19.0/' + $env.WA_PHONE_NUMBER_ID + '/messages' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json._to_phone, type: 'template', template: { name: 'patient_welcome', language: { code: $env.WA_LANGUAGE_CODE || 'en' }, components: [{ type: 'body', parameters: [ { type: 'text', text: $json._patient_name }, { type: 'text', text: $json._clinic_name }, { type: 'text', text: $json._doctor_name } ] }] } }) }}",
        "options": {
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 15000
          }
        }
      },
      "id": "77777777-7777-7777-7777-000000000005",
      "name": "Send Welcome Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_WA_CREDENTIAL_ID",
          "name": "WhatsApp Business API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET last_message_sent = NOW(), message_count = 1, updated_at = NOW() WHERE phone = '{{ $('Build Welcome Message').item.json._phone }}'",
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000006",
      "name": "Update Patient Welcome Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "message_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_name": "={{ $('Build Welcome Message').item.json._patient_name }}",
            "phone": "={{ $('Build Welcome Message').item.json._phone }}",
            "workflow_name": "workflow-7-new-patient",
            "message_type": "welcome",
            "message_sent": "={{ $('Build Welcome Message').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "wa_message_id": "={{ $json.messages?.[0]?.id || '' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000007",
      "name": "Log Welcome Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-7-new-patient",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to send welcome message to new patient",
            "details": "={{ JSON.stringify({ patient_code: $('Build Welcome Message').item.json._patient_code, phone: $('Build Welcome Message').item.json._phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-000000000008",
      "name": "Log Welcome Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        660
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Welcome message queued\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "77777777-7777-7777-7777-000000000009",
      "name": "Respond OK to WF11",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"WA send failed \u2014 logged to system_logs\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "77777777-7777-7777-7777-000000000010",
      "name": "Respond OK (WA Error Path)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        680
      ]
    }
  ],
  "connections": {
    "Webhook \u2014 New Patient": {
      "main": [
        [
          {
            "node": "Build Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Welcome Message": {
      "main": [
        [
          {
            "node": "Skip if Invalid Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if Invalid Data?": {
      "main": [
        [],
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Message": {
      "main": [
        [
          {
            "node": "Update Patient Welcome Sent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Welcome Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond OK to WF11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Welcome Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Welcome Failure": {
      "main": [
        [
          {
            "node": "Respond OK (WA Error Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "77777777-7777-7777-7777-777777777707",
  "id": "wf7-new-patient",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "id": "tag-patient-retention",
      "name": "patient-retention"
    },
    {
      "id": "tag-onboarding",
      "name": "onboarding"
    }
  ]
}