workflows/workflow-11-form-intake.json
{
  "name": "WF11 — QR Form Intake",
  "nodes": [
    {
      "parameters": {
        "content": "## WF11 — QR Form Intake\n\n**Trigger:** POST webhook from the patient registration HTML form (QR code scan).\n**Path:** `/webhook/patient-form-intake`\n\n**Flow:**\n1. Receive patient identity and visit routing only\n2. Server-side validation (mirrors frontend rules — second line of defence)\n3. Generate PAT-XXXX patient code\n4. Upsert patient identity into `public.patients` using phone as the primary business key\n5. Insert a fresh `public.patient_visits` row with status `waiting`\n6. Call WF7 webhook to send welcome WhatsApp (fire-and-forget)\n7. Respond to the form: `{ status, patient_code, visit_id }` on success, `{ errors[] }` on failure\n\n**Payload fields:** patient_name, phone_number, dob, sex, hospital_name, doctor_name, visit_date, follow_up_required, follow_up_date\n\nClinical context fields such as chief_complaint, symptoms_duration, known_allergies, current_medicines, existing_conditions, and vitals_notes are intentionally doctor-dashboard owned and are updated on `public.patient_visits` after the patient appears in the queue.\n\n**Activation order:** WF8 → WF7 → WF11 (WF7 webhook must be live before WF11 calls it)\n\n**Credentials to set:**\n- 4× Postgres nodes → Supabase DB\n- HTTP Request (Call WF7) — no credential needed (internal n8n call)",
        "height": 380,
        "width": 400
      },
      "id": "11111111-1111-1111-1111-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        180
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "patient-form-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000002",
      "name": "Webhook — Form Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        320
      ],
      "webhookId": "patient-form-intake-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ── Server-side validation ─────────────────────────────────\n// Mirrors the frontend rules in patient-form/index.html.\n// Accepts body both as $json (raw), $json.body, and URL-encoded webhook payloads.\n// Clinical context is intentionally captured later in the doctor dashboard.\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst errors = [];\nconst clean = (value, max = 1000) => String(value || '').trim().slice(0, max);\n\nconst patientName        = clean(body.patient_name, 100);\nconst phoneRaw           = clean(body.phone_number, 20);\nconst dob                = clean(body.dob, 20);\nconst sex                = clean(body.sex, 20);\nconst hospitalName       = clean(body.hospital_name, 160);\nconst doctorName         = clean(body.doctor_name, 160);\nconst visitDate          = clean(body.visit_date, 20);\nconst followUpRequired   = clean(body.follow_up_required, 10);\nconst followUpDate       = clean(body.follow_up_date, 20);\n\nconst ISO_DATE = /^\\d{4}-\\d{2}-\\d{2}$/;\nconst PHONE_RE = /^[0-9]{10}$/;\nconst today    = new Date(); today.setHours(0,0,0,0);\n\n\nfunction rateLimitRequest(scope, key, limit, windowMs) {\n  if (!key) return null;\n  try {\n    const store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n    if (!store) return null;\n    store._rateLimits = store._rateLimits || {};\n    const now = Date.now();\n    const bucketKey = scope + ':' + key;\n    const bucket = Array.isArray(store._rateLimits[bucketKey]) ? store._rateLimits[bucketKey] : [];\n    const recent = bucket.filter(ts => now - ts < windowMs);\n    recent.push(now);\n    store._rateLimits[bucketKey] = recent;\n    return recent.length > limit ? Math.ceil((windowMs - (now - recent[0])) / 1000) : null;\n  } catch (_) {\n    return null;\n  }\n}\n\nconst headers = $input.first().json.headers || {};\nconst header = name => headers[name] || headers[name.toLowerCase()] || headers[name.toUpperCase()] || '';\nconst clientIp = String(header('x-forwarded-for') || header('x-real-ip') || 'unknown').split(',')[0].trim();\nconst ipRetryAfter = rateLimitRequest('patient-form-ip', clientIp, 80, 15 * 60 * 1000);\nconst phoneRetryAfter = PHONE_RE.test(phoneRaw) ? rateLimitRequest('patient-form-phone', phoneRaw, 8, 15 * 60 * 1000) : null;\nif (ipRetryAfter || phoneRetryAfter) {\n  errors.push('too_many_requests: please wait before submitting again');\n}\n\n// Required fields\nif (!patientName || patientName.length < 2)\n  errors.push('patient_name: required, minimum 2 characters');\n\nif (!PHONE_RE.test(phoneRaw))\n  errors.push('phone_number: must be exactly 10 digits (no +91)');\n\nif (!hospitalName)\n  errors.push('hospital_name: required');\n\nif (!doctorName)\n  errors.push('doctor_name: required');\n\nif (!visitDate || !ISO_DATE.test(visitDate))\n  errors.push('visit_date: required, format YYYY-MM-DD');\nelse if (new Date(visitDate + 'T00:00:00') > today)\n  errors.push('visit_date: cannot be in the future');\n\nif (!['Yes','No'].includes(followUpRequired))\n  errors.push('follow_up_required: must be Yes or No');\n\n// Conditional follow-up date\nif (followUpRequired === 'Yes') {\n  if (!followUpDate || !ISO_DATE.test(followUpDate))\n    errors.push('follow_up_date: required when follow_up_required is Yes, format YYYY-MM-DD');\n  else if (visitDate && followUpDate <= visitDate)\n    errors.push('follow_up_date: must be strictly after visit_date');\n}\n\n// Optional field validation\nif (sex && !['Male','Female','Other'].includes(sex))\n  errors.push('sex: must be Male, Female, or Other');\n\nif (dob) {\n  if (!ISO_DATE.test(dob))\n    errors.push('dob: format must be YYYY-MM-DD');\n  else if (new Date(dob + 'T00:00:00') >= today)\n    errors.push('dob: must be a past date');\n}\n\nif (errors.length > 0) {\n  return [{ json: { _valid: false, _errors: errors } }];\n}\n\n// Normalise phone to E.164 (+91). Phone is the primary business key for patients.\nconst phone = '+91' + phoneRaw;\n\nreturn [{\n  json: {\n    _valid:            true,\n    _errors:           [],\n    patient_name:      patientName,\n    phone:             phone,\n    dob:               dob  || null,\n    sex:               sex  || null,\n    clinic_name:       hospitalName,\n    doctor_name:       doctorName,\n    visit_date:        visitDate,\n    follow_up_required: followUpRequired,\n    follow_up_date:    followUpRequired === 'Yes' ? followUpDate : null,\n  }\n}];"
      },
      "id": "11111111-1111-1111-1111-000000000003",
      "name": "Validate and Normalise",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json._valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000004",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*)::int AS total FROM public.patients;",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000005",
      "name": "Get Patient Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pull validated fields from the Validate node\nconst v = $('Validate and Normalise').first().json;\n\n// Generate PAT-XXXX code from current patient count\nconst count = $input.first().json.total || 0;\nconst patientCode = 'PAT-' + String(count + 1).padStart(4, '0');\n\nreturn [{\n  json: {\n    patient_code:       patientCode,\n    name:               v.patient_name,\n    phone:              v.phone,\n    dob:                v.dob,\n    sex:                v.sex,\n    clinic_name:        v.clinic_name,\n    doctor_name:        v.doctor_name,\n    visit_date:         v.visit_date,\n    follow_up_required: v.follow_up_required,\n    follow_up_date:     v.follow_up_date,\n  }\n}];"
      },
      "id": "11111111-1111-1111-1111-000000000006",
      "name": "Assign Patient Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.patients\n  (patient_code, name, phone, dob, sex, clinic_name, doctor_name,\n   visit_date, follow_up_required, follow_up_date, status, message_count,\n   created_at, updated_at)\nVALUES (\n  '{{ $json.patient_code }}',\n  '{{ $json.name.replace(/'/g, \"''\") }}',\n  '{{ $json.phone }}',\n  {{ $json.dob          ? \"'\" + $json.dob          + \"'\" : 'NULL' }},\n  {{ $json.sex          ? \"'\" + $json.sex          + \"'\" : 'NULL' }},\n  '{{ $json.clinic_name.replace(/'/g, \"''\") }}',\n  '{{ $json.doctor_name.replace(/'/g, \"''\") }}',\n  '{{ $json.visit_date }}',\n  '{{ $json.follow_up_required }}',\n  {{ $json.follow_up_date ? \"'\" + $json.follow_up_date + \"'\" : 'NULL' }},\n  'pending', 0,\n  NOW(), NOW()\n)\nON CONFLICT (phone) DO UPDATE SET\n  name               = EXCLUDED.name,\n  dob                = COALESCE(EXCLUDED.dob, public.patients.dob),\n  sex                = COALESCE(EXCLUDED.sex, public.patients.sex),\n  clinic_name        = EXCLUDED.clinic_name,\n  doctor_name        = EXCLUDED.doctor_name,\n  visit_date         = EXCLUDED.visit_date,\n  follow_up_required = EXCLUDED.follow_up_required,\n  follow_up_date     = EXCLUDED.follow_up_date,\n  status             = 'pending',\n  health_check_sent  = FALSE,\n  reactivation_sent  = FALSE,\n  updated_at         = NOW()\nRETURNING id, patient_code, name, phone;",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000007",
      "name": "Upsert Patient",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH matched_doctor AS (\n  SELECT id\n  FROM public.doctor_profiles\n  WHERE lower(trim(clinic_name)) = lower(trim('{{ $('Assign Patient Code').first().json.clinic_name.replace(/'/g, \"''\") }}'))\n    AND lower(trim(doctor_name)) = lower(trim('{{ $('Assign Patient Code').first().json.doctor_name.replace(/'/g, \"''\") }}'))\n  ORDER BY created_at DESC\n  LIMIT 1\n)\nINSERT INTO public.patient_visits\n  (patient_id, doctor_profile_id, patient_code, clinic_name, doctor_name, visit_date,\n   visit_status, checked_in_at)\nVALUES (\n  '{{ $('Upsert Patient').first().json.id }}',\n  (SELECT id FROM matched_doctor),\n  '{{ $('Upsert Patient').first().json.patient_code }}',\n  '{{ $('Assign Patient Code').first().json.clinic_name.replace(/'/g, \"''\") }}',\n  '{{ $('Assign Patient Code').first().json.doctor_name.replace(/'/g, \"''\") }}',\n  '{{ $('Assign Patient Code').first().json.visit_date }}',\n  'waiting',\n  NOW()\n)\nRETURNING id::text AS visit_id, patient_id::text AS patient_id, doctor_profile_id::text AS doctor_profile_id, visit_status;",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000013",
      "name": "Insert Patient Visit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "__WEBHOOK_URL__/webhook/new-patient-intake",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "patient_code",
              "value": "={{ $('Upsert Patient').first().json.patient_code }}"
            },
            {
              "name": "name",
              "value": "={{ $('Assign Patient Code').first().json.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Assign Patient Code').first().json.phone }}"
            },
            {
              "name": "clinic_name",
              "value": "={{ $('Assign Patient Code').first().json.clinic_name }}"
            },
            {
              "name": "doctor_name",
              "value": "={{ $('Assign Patient Code').first().json.doctor_name }}"
            },
            {
              "name": "follow_up_required",
              "value": "={{ $('Assign Patient Code').first().json.follow_up_required }}"
            },
            {
              "name": "follow_up_date",
              "value": "={{ $('Assign Patient Code').first().json.follow_up_date }}"
            },
            {
              "name": "visit_date",
              "value": "={{ $('Assign Patient Code').first().json.visit_date }}"
            }
          ]
        },
        "options": {
          "timeout": 8000,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "id": "11111111-1111-1111-1111-000000000008",
      "name": "Call WF7 Welcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-11-form-intake",
            "execution_id": "={{ $execution.id }}",
            "log_level": "INFO",
            "message": "New patient registered via QR form",
            "details": "={{ JSON.stringify({ patient_code: $('Assign Patient Code').first().json.patient_code, visit_id: $('Insert Patient Visit').first().json.visit_id, phone: $('Assign Patient Code').first().json.phone, name: $('Assign Patient Code').first().json.name }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000009",
      "name": "Log Registration",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2000,
        200
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', patient_code: $('Upsert Patient').first().json.patient_code, visit_id: $('Insert Patient Visit').first().json.visit_id, message: 'Registration complete. Please wait for your consultation.' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "11111111-1111-1111-1111-000000000010",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        200
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-11-form-intake",
            "execution_id": "={{ $execution.id }}",
            "log_level": "WARN",
            "message": "Form submission rejected — validation failed",
            "details": "={{ JSON.stringify({ errors: $('Validate and Normalise').first().json._errors }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000011",
      "name": "Log Validation Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        460
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Validation failed', errors: $('Validate and Normalise').first().json._errors }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "11111111-1111-1111-1111-000000000012",
      "name": "Respond 400 Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        460
      ]
    }
  ],
  "connections": {
    "Webhook — Form Intake": {
      "main": [
        [
          {
            "node": "Validate and Normalise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Normalise": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Get Patient Count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Validation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Patient Count": {
      "main": [
        [
          {
            "node": "Assign Patient Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Patient Code": {
      "main": [
        [
          {
            "node": "Upsert Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Patient": {
      "main": [
        [
          {
            "node": "Insert Patient Visit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF7 Welcome": {
      "main": [
        [
          {
            "node": "Log Registration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Registration": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Validation Failure": {
      "main": [
        [
          {
            "node": "Respond 400 Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Patient Visit": {
      "main": [
        [
          {
            "node": "Call WF7 Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "workflow-8-error-handler"
  },
  "staticData": null,
  "tags": [
    {
      "id": "wf11-tag",
      "name": "intake"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "wf11-v2",
  "id": "wf11-form-intake",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
