workflows/workflow-12-hospital-boarding.json
{
  "name": "WF12 — Hospital / Clinic Boarding",
  "nodes": [
    {
      "parameters": {
        "content": "## WF12 — Hospital / Clinic Boarding\n\n**Trigger:** POST webhook from `hospital-form/index.html`.\n**Path:** `/webhook/hospital-boarding`\n\n**Flow:**\n1. Receive JSON/form data for facility, doctor, and prescription-header metadata\n2. Server-side validation (mirrors frontend)\n3. INSERT into `public.hospital_boarding`\n4. Send `hospital_onboarding` WhatsApp to clinic `contact_phone` and `doctor_phone` (when different)\n5. Log to `public.message_logs` / `public.system_logs`\n6. Respond 200 with `{ status, id, hospital_name, facility_type, doctor_name }` (limited fields for UI)\n\n**Prescription placeholders captured:** clinic_logo_url, clinic_email, clinic_website, doctor_qualification, doctor_phone, doctor_signature_url. Copy these into the matching `doctor_profiles` row when the Supabase Auth doctor account is created.\n\n**Activation:** Import workflow, set Postgres + Twilio Basic Auth credentials, activate. Set `TWILIO_CONTENT_HOSPITAL_ONBOARDING` in n8n env.\n\n**Credentials:** Postgres nodes → Supabase DB; HTTP Request → Twilio Basic Auth",
        "height": 400,
        "width": 420
      },
      "id": "12121212-1212-1212-1212-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hospital-boarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000002",
      "name": "Webhook — Hospital Boarding",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        320
      ],
      "webhookId": "hospital-boarding-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Server-side validation — mirrors hospital-form/index.html\nconst body = $input.first().json.body || $input.first().json;\n\nconst FACILITY_TYPES = [\n  'General Hospital',\n  'Multi-specialty Clinic',\n  'Dental Clinic',\n  'Pathology Lab',\n  'Diagnostic Center',\n  'Physiotherapy Clinic',\n  'Eye Clinic',\n  'ENT Clinic',\n  'Other Medical Facility',\n];\n\nconst clean = (value, max = 1000) => String(value || '').trim().slice(0, max);\nconst hospital_name = clean(body.hospital_name, 200);\nconst facility_type = clean(body.facility_type, 80);\nconst address = clean(body.address, 1000);\nconst city = clean(body.city, 120);\nconst contact_phone = clean(body.contact_phone, 20).replace(/\\s+/g, '');\nconst admin_contact_name = clean(body.admin_contact_name, 150);\nconst clinic_logo_url = clean(body.clinic_logo_url, 1000);\nconst clinic_email = clean(body.clinic_email, 254);\nconst clinic_website = clean(body.clinic_website, 1000);\nconst doctor_name = clean(body.doctor_name, 150);\nconst doctor_qualification = clean(body.doctor_qualification, 200);\nconst doctor_expertise = clean(body.doctor_expertise, 500);\nconst doctor_registration_number = clean(body.doctor_registration_number, 120);\nconst doctor_phone = clean(body.doctor_phone, 20).replace(/\\s+/g, '');\nconst doctor_signature_url = clean(body.doctor_signature_url, 1000);\nconst consultation_hours = clean(body.consultation_hours, 200);\n\nconst errors = [];\nconst isUrl = value => /^https:\\/\\//i.test(value);\n\nfunction rateLimitRequest(scope, key, limit, windowMs) {\n  if (!key) return null;\n  try {\n    const store = typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : null;\n    if (!store) return null;\n    store._rateLimits = store._rateLimits || {};\n    const now = Date.now();\n    const bucketKey = scope + ':' + key;\n    const bucket = Array.isArray(store._rateLimits[bucketKey]) ? store._rateLimits[bucketKey] : [];\n    const recent = bucket.filter(ts => now - ts < windowMs);\n    recent.push(now);\n    store._rateLimits[bucketKey] = recent;\n    return recent.length > limit ? Math.ceil((windowMs - (now - recent[0])) / 1000) : null;\n  } catch (_) {\n    return null;\n  }\n}\n\nconst headers = $input.first().json.headers || {};\nconst header = name => headers[name] || headers[name.toLowerCase()] || headers[name.toUpperCase()] || '';\nconst clientIp = String(header('x-forwarded-for') || header('x-real-ip') || 'unknown').split(',')[0].trim();\nconst ipRetryAfter = rateLimitRequest('hospital-boarding-ip', clientIp, 40, 60 * 60 * 1000);\nconst phoneRetryAfter = contact_phone ? rateLimitRequest('hospital-boarding-contact', contact_phone, 6, 60 * 60 * 1000) : null;\nif (ipRetryAfter || phoneRetryAfter) errors.push('too_many_requests: please wait before submitting again');\n\nif (!hospital_name || hospital_name.length < 2) errors.push('hospital_name: required, minimum 2 characters');\nif (!FACILITY_TYPES.includes(facility_type)) errors.push('facility_type: required, must be a supported facility type');\nif (!address || address.length < 5) errors.push('address: required, minimum 5 characters');\nif (!city || city.length < 2) errors.push('city: required, minimum 2 characters');\nif (!/^\\+?[1-9]\\d{6,14}$/.test(contact_phone)) errors.push('contact_phone: required, must be a valid phone number');\nif (!admin_contact_name || admin_contact_name.length < 2) errors.push('admin_contact_name: required, minimum 2 characters');\nif (clinic_logo_url && !isUrl(clinic_logo_url)) errors.push('clinic_logo_url: must be an HTTPS URL');\nif (clinic_email && !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(clinic_email)) errors.push('clinic_email: must be a valid email address');\nif (clinic_website && !isUrl(clinic_website)) errors.push('clinic_website: must be an HTTPS URL');\nif (!doctor_name || doctor_name.length < 2) errors.push('doctor_name: required, minimum 2 characters');\nif (doctor_qualification && doctor_qualification.length < 2) errors.push('doctor_qualification: minimum 2 characters when provided');\nif (!doctor_expertise || doctor_expertise.length < 2) errors.push('doctor_expertise: required, minimum 2 characters');\nif (!doctor_registration_number || doctor_registration_number.length < 2) errors.push('doctor_registration_number: required, minimum 2 characters');\nif (doctor_phone && !/^\\+?[1-9]\\d{6,14}$/.test(doctor_phone)) errors.push('doctor_phone: must be a valid phone number');\nif (doctor_signature_url && !isUrl(doctor_signature_url)) errors.push('doctor_signature_url: must be an HTTPS URL');\nif (!consultation_hours || consultation_hours.length < 2) errors.push('consultation_hours: required, minimum 2 characters');\n\nif (errors.length > 0) return [{ json: { _valid: false, _errors: errors } }];\n\nreturn [{\n  json: {\n    _valid: true,\n    _errors: [],\n    hospital_name,\n    facility_type,\n    address,\n    city,\n    contact_phone,\n    admin_contact_name,\n    clinic_logo_url: clinic_logo_url || null,\n    clinic_email: clinic_email || null,\n    clinic_website: clinic_website || null,\n    doctor_name,\n    doctor_qualification: doctor_qualification || null,\n    doctor_expertise,\n    doctor_registration_number,\n    doctor_phone: doctor_phone || null,\n    doctor_signature_url: doctor_signature_url || null,\n    consultation_hours,\n  }\n}];"
      },
      "id": "12121212-1212-1212-1212-000000000003",
      "name": "Validate Hospital Form",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json._valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000004",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.hospital_boarding\n  (clinic_id, hospital_name, facility_type, address, city, contact_phone, admin_contact_name,\n   clinic_logo_url, clinic_email, clinic_website,\n   doctor_name, doctor_qualification, doctor_expertise, doctor_registration_number,\n   doctor_phone, doctor_signature_url, consultation_hours)\nVALUES (\n  public.get_or_create_clinic_id('{{ $json.hospital_name.replace(/'/g, \"''\") }}'),\n  '{{ $json.hospital_name.replace(/'/g, \"''\") }}',\n  '{{ $json.facility_type.replace(/'/g, \"''\") }}',\n  '{{ $json.address.replace(/'/g, \"''\") }}',\n  '{{ $json.city.replace(/'/g, \"''\") }}',\n  '{{ $json.contact_phone.replace(/'/g, \"''\") }}',\n  '{{ $json.admin_contact_name.replace(/'/g, \"''\") }}',\n  {{ $json.clinic_logo_url ? \"'\" + $json.clinic_logo_url.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.clinic_email ? \"'\" + $json.clinic_email.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.clinic_website ? \"'\" + $json.clinic_website.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.doctor_name.replace(/'/g, \"''\") }}',\n  {{ $json.doctor_qualification ? \"'\" + $json.doctor_qualification.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.doctor_expertise.replace(/'/g, \"''\") }}',\n  '{{ $json.doctor_registration_number.replace(/'/g, \"''\") }}',\n  {{ $json.doctor_phone ? \"'\" + $json.doctor_phone.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.doctor_signature_url ? \"'\" + $json.doctor_signature_url.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.consultation_hours.replace(/'/g, \"''\") }}'\n)\nRETURNING id::text AS id, clinic_id::text AS clinic_id, hospital_name, facility_type, city, contact_phone, admin_contact_name, doctor_name;",
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000005",
      "name": "Insert Hospital Row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build one Twilio send item per recipient: clinic contact_phone and doctor_phone (if distinct).\nconst row = $('Insert Hospital Row').first().json;\nconst form = $('Validate Hospital Form').first().json;\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst scheduledDate = new Date().toLocaleDateString('en-CA', { timeZone: tz });\nconst contentSid = $env.TWILIO_CONTENT_HOSPITAL_ONBOARDING || '';\n\nfunction toE164(raw) {\n  const p = String(raw || '').trim().replace(/\\s+/g, '');\n  if (!p) return '';\n  if (/^\\+[1-9]\\d{6,14}$/.test(p)) return p;\n  if (/^[0-9]{10}$/.test(p)) return '+91' + p;\n  if (/^[1-9]\\d{6,14}$/.test(p)) return '+' + p;\n  return '';\n}\n\nconst hospital = String(row.hospital_name || form.hospital_name || '').trim();\nconst facility = String(row.facility_type || form.facility_type || '').trim();\nconst doctor = String(row.doctor_name || form.doctor_name || '').trim();\nconst city = String(row.city || form.city || '').trim();\nconst boardingId = String(row.id || '').trim();\nconst clinicId = String(row.clinic_id || form.clinic_id || '').trim();\nif (!clinicId || !/^[0-9a-f-]{36}$/i.test(clinicId)) {\n  return [{ json: { _skip: true, reason: 'Invalid clinic_id after hospital onboarding insert', boardingId } }];\n}\nconst contentVars = JSON.stringify({ '1': hospital, '2': facility, '3': doctor, '4': city });\nconst messageBody = `Hi ${hospital}, your onboarding for ${facility} is complete. We have registered ${doctor} as the primary contact and ${city} as the facility location.`;\n\nconst targets = [\n  { role: 'clinic', phone: toE164(row.contact_phone || form.contact_phone) },\n  { role: 'doctor', phone: toE164(form.doctor_phone) },\n];\nconst seen = new Set();\nconst out = [];\nfor (const t of targets) {\n  if (!t.phone || seen.has(t.phone)) continue;\n  seen.add(t.phone);\n  out.push({\n    json: {\n      _skip: false,\n      _recipient_role: t.role,\n      _boarding_id: boardingId,\n      _phone: t.phone,\n      _to_phone: 'whatsapp:' + t.phone,\n      _clinic_id: clinicId,\n      clinic_id: clinicId,\n      _hospital_name: hospital,\n      hospital_name: hospital,\n      _facility_type: facility,\n      _doctor_name: doctor,\n      _city: city,\n      _message_type: 'hospital_onboarding',\n      _scheduled_date: scheduledDate,\n      _content_sid: contentSid,\n      _content_variables: contentVars,\n      _message_body: messageBody,\n    },\n  });\n}\nif (out.length === 0) {\n  return [{ json: { _skip: true, reason: 'No valid WhatsApp recipients', boardingId } }];\n}\nreturn out;"
      },
      "id": "12121212-1212-1212-1212-000000000010",
      "name": "Build Hospital Onboarding Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-check-wf12",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000011",
      "name": "Skip if No Recipients?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $env.TWILIO_WHATSAPP_FROM }}"
            },
            {
              "name": "To",
              "value": "={{ $json._to_phone }}"
            },
            {
              "name": "ContentSid",
              "value": "={{ $json._content_sid }}"
            },
            {
              "name": "ContentVariables",
              "value": "={{ $json._content_variables }}"
            },
            {
              "name": "StatusCallback",
              "value": "={{ $env.TWILIO_STATUS_CALLBACK_URL || \"\" }}"
            }
          ]
        },
        "options": {
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 15000
          }
        }
      },
      "id": "12121212-1212-1212-1212-000000000012",
      "name": "Send Hospital Onboarding WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        80
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_TWILIO_BASIC_AUTH",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "message_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_name": "={{ $('Build Hospital Onboarding Messages').item.json._hospital_name }}",
            "phone": "={{ $('Build Hospital Onboarding Messages').item.json._phone }}",
            "workflow_name": "workflow-12-hospital-boarding",
            "message_type": "={{ $('Build Hospital Onboarding Messages').item.json._message_type }}",
            "message_sent": "={{ $('Build Hospital Onboarding Messages').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "scheduled_date": "={{ $('Build Hospital Onboarding Messages').item.json._scheduled_date }}",
            "provider_message_id": "={{ $json.sid || $json.Sid || \"\" }}",
            "twilio_message_sid": "={{ $json.sid || $json.Sid || \"\" }}",
            "clinic_id": "={{ $('Build Hospital Onboarding Messages').item.json._clinic_id }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000013",
      "name": "Log Hospital Onboarding WA",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1780,
        80
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-12-hospital-boarding",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to send hospital onboarding WhatsApp",
            "details": "={{ JSON.stringify({ boarding_id: $('Build Hospital Onboarding Messages').item.json._boarding_id, recipient_role: $('Build Hospital Onboarding Messages').item.json._recipient_role, phone: $('Build Hospital Onboarding Messages').item.json._phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000014",
      "name": "Log Hospital WA Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1780,
        260
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-12-hospital-boarding",
            "execution_id": "={{ $execution.id }}",
            "log_level": "INFO",
            "message": "Hospital / clinic boarding submitted",
            "details": "={{ JSON.stringify({ id: $('Insert Hospital Row').first().json.id, hospital_name: $('Insert Hospital Row').first().json.hospital_name, facility_type: $('Insert Hospital Row').first().json.facility_type, city: $('Insert Hospital Row').first().json.city, contact_phone: $('Insert Hospital Row').first().json.contact_phone, admin_contact_name: $('Insert Hospital Row').first().json.admin_contact_name, doctor_name: $('Insert Hospital Row').first().json.doctor_name, prescription_placeholders: { clinic_logo_url: Boolean($('Validate Hospital Form').first().json.clinic_logo_url), clinic_email: Boolean($('Validate Hospital Form').first().json.clinic_email), clinic_website: Boolean($('Validate Hospital Form').first().json.clinic_website), doctor_qualification: Boolean($('Validate Hospital Form').first().json.doctor_qualification), doctor_phone: Boolean($('Validate Hospital Form').first().json.doctor_phone), doctor_signature_url: Boolean($('Validate Hospital Form').first().json.doctor_signature_url) } }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000006",
      "name": "Log Hospital Boarding",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2000,
        200
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', id: $('Insert Hospital Row').first().json.id, hospital_name: $('Insert Hospital Row').first().json.hospital_name, facility_type: $('Insert Hospital Row').first().json.facility_type, city: $('Insert Hospital Row').first().json.city, doctor_name: $('Insert Hospital Row').first().json.doctor_name, message: 'Listing saved successfully.' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "12121212-1212-1212-1212-000000000007",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        200
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-12-hospital-boarding",
            "execution_id": "={{ $execution.id }}",
            "log_level": "WARN",
            "message": "Hospital boarding rejected — validation failed",
            "details": "={{ JSON.stringify({ errors: $('Validate Hospital Form').first().json._errors }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "12121212-1212-1212-1212-000000000008",
      "name": "Log Validation Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        460
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_SUPABASE_POSTGRES",
          "name": "Supabase (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Validation failed', errors: $('Validate Hospital Form').first().json._errors }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "12121212-1212-1212-1212-000000000009",
      "name": "Respond 400 Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        460
      ]
    }
  ],
  "connections": {
    "Webhook — Hospital Boarding": {
      "main": [
        [
          {
            "node": "Validate Hospital Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Hospital Form": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Insert Hospital Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Validation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Hospital Row": {
      "main": [
        [
          {
            "node": "Build Hospital Onboarding Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Hospital Onboarding Messages": {
      "main": [
        [
          {
            "node": "Skip if No Recipients?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if No Recipients?": {
      "main": [
        [
          {
            "node": "Log Hospital Boarding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Hospital Onboarding WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Hospital Onboarding WA": {
      "main": [
        [
          {
            "node": "Log Hospital Onboarding WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Hospital WA Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Hospital Onboarding WA": {
      "main": [
        [
          {
            "node": "Log Hospital Boarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Hospital WA Failure": {
      "main": [
        [
          {
            "node": "Log Hospital Boarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Hospital Boarding": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Validation Failure": {
      "main": [
        [
          {
            "node": "Respond 400 Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "workflow-8-error-handler"
  },
  "staticData": null,
  "tags": [
    {
      "id": "wf11-tag",
      "name": "intake"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-17T00:00:00.000Z",
  "versionId": "wf12-v2-hospital-onboarding-wa",
  "id": "wf12-hospital-boarding",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
