workflows/workflow-2-sameday-reminder.json
{
  "name": "WF2 — Same-Day Reminder",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow 2: Same-Day Reminder\n\n**Trigger:** Daily at 8:00 AM\n\n**Logic:** Reads from Supabase. Finds all patients whose `follow_up_date` is today, `status = pending`, and `message_count < 5`. Sends a morning reminder and updates Supabase.\n\n**Data source:** Supabase `public.patients` — populated by WF11 (QR form intake)\n\n**Before activating:**\n1. Set credential on all Postgres nodes → Supabase DB\n2. Set credential on Send node → Twilio Basic Auth",
        "height": 220,
        "width": 380
      },
      "id": "22222222-2222-2222-2222-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "22222222-2222-2222-2222-000000000002",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 380]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.patients WHERE status = 'pending' AND follow_up_date = CURRENT_DATE",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000003",
      "name": "Read Patients from Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 380],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter patients whose follow-up is today and haven't been messaged recently\nconst items = $input.all();\nconst tz = $env.TIMEZONE || 'Asia/Kolkata';\nconst maxMessages = parseInt($env.MAX_MESSAGE_COUNT) || 5;\nconst minHours = parseInt($env.MIN_HOURS_BETWEEN_MESSAGES) || 23;\n\nconst now = new Date();\nconst todayStr = now.toLocaleDateString('en-CA', { timeZone: tz });\n\nconst filtered = items.filter(item => {\n  const p = item.json;\n\n  const fuDate = p.follow_up_date ? new Date(p.follow_up_date).toLocaleDateString('en-CA', { timeZone: tz }) : null;\n  if (!fuDate || fuDate !== todayStr) return false;\n\n  if (p.status && p.status !== 'pending') return false;\n\n  const msgCount = parseInt(p.message_count) || 0;\n  if (msgCount >= maxMessages) return false;\n\n  if (!p.phone || !/^\\+[1-9]\\d{6,14}$/.test(p.phone)) return false;\n\n  if (p.last_message_sent) {\n    const lastSent = new Date(p.last_message_sent);\n    const hoursSince = (now - lastSent) / (1000 * 60 * 60);\n    if (hoursSince < minHours) return false;\n  }\n\n  return true;\n});\n\nif (filtered.length === 0) {\n  return [{ json: { _skip: true, reason: 'No same-day appointments today', todayStr } }];\n}\n\nreturn filtered.map(item => ({\n  json: {\n    ...item.json,\n    _workflow: 'workflow-2-sameday-reminder',\n    _message_type: 'same_day_reminder',\n    _to_phone: 'whatsapp:' + item.json.phone,\n    _message_body: `Good morning ${item.json.name || 'there'}! 🌅 This is a reminder that your appointment with ${item.json.doctor_name || 'your doctor'} is *today*. Please arrive on time and bring any documents or test reports from your previous visit.\\n\\nSee you soon at ${item.json.clinic_name || ($env.DEFAULT_CLINIC_NAME || 'our clinic')}!`\n  }\n}));"
      },
      "id": "22222222-2222-2222-2222-000000000004",
      "name": "Filter Today's Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "skip-check-wf2",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000005",
      "name": "Skip if No Patients",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "={{ $json._to_phone }}" },
            { "name": "From", "value": "={{ $env.TWILIO_WHATSAPP_NUMBER }}" },
            { "name": "Body", "value": "={{ $json._message_body }}" }
          ]
        },
        "options": { "retry": { "maxTries": 3, "waitBetweenTries": 30000 } }
      },
      "id": "22222222-2222-2222-2222-000000000006",
      "name": "Send Same-Day Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 280],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_TWILIO_CREDENTIAL_ID",
          "name": "Twilio Basic Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.patients SET last_message_sent = NOW(), message_count = message_count + 1, updated_at = NOW() WHERE id = '{{ $('Filter Today\\'s Appointments').item.json.id }}'",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000007",
      "name": "Update Patient in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 180],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "message_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $('Filter Today\\'s Appointments').item.json.id }}",
            "patient_name": "={{ $('Filter Today\\'s Appointments').item.json.name }}",
            "phone": "={{ $('Filter Today\\'s Appointments').item.json.phone }}",
            "workflow_name": "workflow-2-sameday-reminder",
            "message_type": "same_day_reminder",
            "message_sent": "={{ $('Filter Today\\'s Appointments').item.json._message_body }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "delivery_status": "sent",
            "twilio_sid": "={{ $json.sid || '' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000008",
      "name": "Log Message to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 380],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "system_logs", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "workflow-2-sameday-reminder",
            "execution_id": "={{ $execution.id }}",
            "log_level": "ERROR",
            "message": "Failed to send same-day reminder",
            "details": "={{ JSON.stringify({ patient_id: $('Filter Today\\'s Appointments').item.json.id, phone: $('Filter Today\\'s Appointments').item.json.phone, error: $json.error?.message || 'HTTP request failed' }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-000000000009",
      "name": "Log Send Failure to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 520],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase DB"
        }
      }
    }
  ],
  "connections": {
    "Daily 8AM Trigger": {
      "main": [[{ "node": "Read Patients from Supabase", "type": "main", "index": 0 }]]
    },
    "Read Patients from Supabase": {
      "main": [[{ "node": "Filter Today's Appointments", "type": "main", "index": 0 }]]
    },
    "Filter Today's Appointments": {
      "main": [[{ "node": "Skip if No Patients", "type": "main", "index": 0 }]]
    },
    "Skip if No Patients": {
      "main": [
        [],
        [{ "node": "Send Same-Day Reminder", "type": "main", "index": 0 }]
      ]
    },
    "Send Same-Day Reminder": {
      "main": [
        [
          { "node": "Update Patient in Supabase", "type": "main", "index": 0 },
          { "node": "Log Message to Supabase", "type": "main", "index": 0 }
        ],
        [{ "node": "Log Send Failure to Supabase", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "22222222-2222-2222-2222-222222222202",
  "id": "wf2-sameday-reminder",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [
    { "name": "patient-retention" },
    { "name": "reminder" }
  ]
}
